@import "~pc/styles/lib_var.less";

.languageSetting {
  margin-top: 24px;

  .title, .tip {
    padding-bottom: 8px;
  }

  .learnMore {
    color: var(--textCommonPrimary);
    text-decoration: underline;
  }
}

