.withFooter {
  :global {
    .cp-calendar-footer {
      padding: 0;
    }
    .cp-calendar-today-btn {
      border-bottom: 1px solid var(--lineColor);
      margin: 0 !important;
    }
    .cp-calendar-footer-btn {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}