@import "~pc/styles/lib_mixins.less";
.tabBarWrapper {
  height: 50px;
  background-color: var(--defaultBg);
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid var(--lineColor);
  .noSelect();
}
