
.wrap {
  position: fixed;
  left: -99999px;
  top: -99999px;
  opacity: 0;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  box-shadow: 1px 1px 14px #e5e5e5;
  background: var(--defaultBg);
}
