<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialTenantUserMapper">
    <insert id="insertBatch">
        INSERT INTO ${tablePrefix}social_tenant_user(id, app_id, tenant_id, open_id, union_id)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.appId}, #{item.tenantId}, #{item.openId}, #{item.unionId}
            </trim>
        </foreach>
    </insert>

    <select id="selectUnionIdsByTenantId" resultType="java.lang.String">
        SELECT union_id
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND app_id = #{appId}
    </select>

    <select id="selectOpenIdsByTenantId" resultType="java.lang.String">
        SELECT open_id
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND app_id = #{appId}
    </select>

    <delete id="deleteByTenantId">
        DELETE FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND app_id = #{appId}
    </delete>

    <select id="selectCountByTenantIdAndOpenId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId}
        AND open_id = #{openId} AND app_id = #{appId}
    </select>

    <select id="selectUnionIdByOpenId" resultType="java.lang.String">
        SELECT union_id
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND open_id = #{openId} AND app_id = #{appId}
        LIMIT 0, 1
    </select>

    <select id="selectUnionIdsByOpenIds" resultType="java.lang.String">
        SELECT union_id
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND open_id IN
        <foreach item="item" index="index" collection="openIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND app_id = #{appId}
    </select>

    <select id="selectOpenIdByAppIdAndTenantIdAndUnionIds" resultType="java.lang.String">
        SELECT open_id
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND union_id IN
        <foreach item="item" index="index" collection="unionIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND app_id = #{appId}
    </select>

    <delete id="deleteByTenantIdAndOpenId">
        DELETE FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND open_id = #{openId} AND app_id = #{appId}
    </delete>

    <delete id="deleteBatchByOpenId">
        DELETE FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND open_id IN
        <foreach item="item" index="index" collection="openIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND app_id = #{appId}
    </delete>

    <select id="selectOpenIdByUnionIdAndPlatform" resultType="java.lang.String">
        SELECT open_id from ${tablePrefix}social_tenant_user vstu
        LEFT JOIN ${tablePrefix}social_tenant vst on vst.tenant_id = vstu.tenant_id
        WHERE union_id = #{unionId}
        AND vst.platform = #{platformType.value}
        LIMIT 0, 1
    </select>

    <delete id="deleteByAppIdAndTenantId">
        DELETE FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND app_id = #{appId}
    </delete>

    <select id="selectOpenIdAndUnionIdByTenantId"
            resultType="com.vikadata.api.enterprise.social.model.SocialTenantUserDTO">
        SELECT open_id, union_id
        FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND app_id = #{appId}
    </select>

    <delete id="deleteBatchByTenantIdAndOpenId">
        DELETE FROM ${tablePrefix}social_tenant_user
        WHERE tenant_id = #{tenantId} AND open_id IN
        <foreach item="item" index="index" collection="openIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND app_id = #{appId}
    </delete>
</mapper>
