<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.space.mapper.vcode.VCodeMapper">

    <select id="selectNotUsedCode" resultType="java.lang.String">
        SELECT vc.`code`
        FROM vika_code vc
                 LEFT JOIN vika_code_usage vcu ON vc.`code` = vcu.`code` AND vcu.type = 1
        WHERE vc.type = 0
          AND vc.remain_times = 0
          AND vc.activity_id IS NULL
        GROUP BY vc.`code`
        HAVING COUNT(vcu.id) = 0
    </select>

    <update id="updateRetainTimesByCode">
        UPDATE vika_code
        SET remain_times = 1
        WHERE `code` IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
