@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";
.memberListWrapper {
  .portrait {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 16px;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .selectItem {
    background: var(--rowSelectedBg);
  }
  :global {
    .ant-list-item {
      padding: 0;
      cursor: pointer;
      height: 70px;
      width: 100%;
      border-bottom: none !important;
      padding-left: 20px;
    }
    .ant-list-item:hover {
      background: var(--rowSelectedBg);
    }
  }
}
