@import "~pc/styles/lib_var.less";


.scrollBarWrap, .scrollBarVWrap {
  will-change: transform;
  position: absolute;
  cursor: pointer;

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 8px;
    min-height: 36px;
    
    // FIXME:THEME
    background-color: rgba(var(--fc3-rgb), 50%);
  }
}

.scrollBarWrap {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: var(--scrollBar);
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 15px;
  }
}

.scrollBarVWrap {
  right: 0;
  top: 0;
  height: 100%;
  z-index: var(--scrollBar);
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 15px;
  }
}