// May be affected by the chrome plug-in, will insert dom into the html tag resulting in a scroll bar
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: #7b67ee;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}
