@import '~pc/styles/lib_var.less';
@import '~pc/styles/lib_mixins.less';

.uploadPaste {
  border: 1px dashed transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fourthLevelText);
  cursor: pointer;
  outline: none !important;
  border-radius: 4px;
  letter-spacing: 1px;

  input{
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    &:focus{
      outline: none;
    }
  }

  svg {
    margin-right: 4px;
  }

  &:focus-within {
    border-color: var(--primaryColor);
    color: var(--primaryColor);

    svg {
      display: none;
    }
  }
}