.tag {
  display: inline-block;
  font-size: 12px;
  border-radius: 2px;
  line-height: 16px;
  user-select: none;
  font-weight: normal;

  &.fill {
    padding: 2px 4px;
  }

  &.stroke {
    padding: 0 4px;
  }
}
