@import "~pc/styles/lib_var.less";

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--firstLevelText);

  svg {
    width: 24px;
    height: 24px;
    fill: var(--secondLevelText);
    margin-right: 4px;
  }
}

.container {
  padding: 0 0 24px 24px;
  max-height: 615px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 12px;

  .group {
    padding-bottom: 40px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .groupContent {
    width: 100%;
  }

  .groupName {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--firstLevelText);
    padding-bottom: 16px;

    &::before {
      display: block;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background: var(--thirdLevelText);
      margin-right: 4px;
    }
  }

  .shortcutKeyItem {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .keys {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .or {
        padding: 0 16px;
      }
    }

    .key {
      display: flex;
      align-items: center;
    }

    .keyItem {
      padding: 6px 16px;
      font-size: 13px;
      color: var(--firstLevelText);
      background: var(--lineColor);
      border-radius: 4px;
      user-select: none;
    }

    .desc {
      font-size: 13px;
      color: var(--firstLevelText);
    }
  }
}
