.sectionTitleWithTip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.error {
  color: var(--errorColor);
}

.datasourceSelectRow {
  gap: 16px;
  margin-bottom: 16px;
}

.tip {
  span {
    font-size: 12px;
  }
}

.cascaderRulesShow {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--borderCommonDefault);
  padding: 8px;
  border-radius: 4px;
  .rulesText {
    width: 220px;
    color: var(--textCommonPrimary);
  }
}

.rulesButton {
  color: #949494 !important;
  pointer-events: inherit !important;
}

.rulesButtonText {
  color: var(--fc1);
}