packages/socket-server/src/grpc/generated/*
packages/room-server/src/grpc/generated/*
packages/datasheet/src/static/lang/*
packages/api-client
packages/core/src/config/*.interface.ts
packages/room-server/ecosystem.config.js
packages/core/src/commands_actions/view.ts