# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# Maven
target/

# Ignore Gradle build output directory
.gradle
build/
!/**/src/**/build

# Eclipse
.settings/
.classpath
.project
.factorypath
.apt_generated/

# IntelliJ project files
.idea
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

#vscode
# .vscode/

#flattened POMs
.flattened-pom.xml
**/rebel.xml

# proto generated class
**/generated

# nodejs dependencies
**/node_modules

logs/

# bin and *.classes in
bin/