<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.api.modular.space.mapper.InvitationMapper">
    <select id="selectByMemberIdAndSpaceIdAndNodeId" resultType="com.vikadata.entity.InvitationEntity">
        SELECT *
        FROM vika_invitation
        WHERE creator = #{memberId}
        AND space_id = #{spaceId}
        AND node_id = #{nodeId}
        AND is_deleted = 0
    </select>

    <update id="updateStatusBySpaceIdAndNodeIdNotEmpty">
        UPDATE vika_invitation
        SET status = #{status}
        WHERE space_id = #{spaceId}
        AND node_id != ''
        AND is_deleted = 0
    </update>
</mapper>
