@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.organization {
  flex-basis: 48px;
  display: flex;
  align-items: center;
  .orgName {
    font-size: 18px;
    color: var(--firstLevelText);
    font-weight: bold;
    padding-left: 16px;
    padding-right: 12px;
    margin: 0;
    cursor: default;
    .ellipsis();
  }
}
