@import "~pc/styles/lib_var.less";

@keyframes fadeIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.hover {
  background-color: var(--rowSelectedBg);
}
.searchWrapper {
  width: 100%;
  padding: 8px 0 2px;
  transform-origin: right center;
  animation: fadeIn 0.3s ease;

  .search {
    background: var(--defaultBg);

    .searchInput {
      padding: 0 16px;
      text-indent: 0;

      :global {
        .ant-input-prefix {
          margin-right: 2px;
        }
      }
    }

    .searchInput,
    .searchInput input {
      border-radius: 16px;
    }
  }

  .closeBtn {
    display: flex;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  .nodeList {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    flex: 1;
    // background-color: var(--defaultBg);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .emptyResult {
    width: 60%;
    margin: 48px auto 0 auto;

    img {
      width: 100%;
    }

    .tip {
      font-size: 15px;
      color: var(--secondLevelText);
      margin-top: 16px;
      text-align: center;
    }
  }

  .title {
    height: 32px;
    font-size: 12px;
    color: var(--thirdLevelText);
    line-height: 32px;
    margin-left: 20px;

    &:nth-child(1) {
      margin-top: 8px;
    }
  }
}
