@import "~pc/styles/lib_var.less";

.adminInfoWrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
  flex: 1;

  .portrait {
    margin-right: 16px;
  }
}

.infoRight {
  max-width: 160px;
}
