@import "~pc/styles/lib_mixins.less";
@import "~pc/styles/lib_var.less";

.bottomLeft,
.upperLeft {
  z-index: var(--grid);
}

.bottomStat {
  position: absolute;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-top: 1px solid var(--lineColor);
  &:before {
    content: " ";
    display: block;
    position: absolute;
    width: 32px;
    height: calc(100% + 1px);
    top: -1px;
    left: -32px;
    background: var(--defaultBg);
    border-top: 1px solid var(--lineColor);
  }
}

// User guidance are not displayed
:global(.driver-highlighted-element) {
  .block::before,
  .bottomStat::after {
    display: none !important;
  }
}

.grid {
  .custom-scroll-bar(0, 0);
}

.gridRight {
  background-color: var(--defaultBg);
}
