<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.organization.mapper.AuditUploadParseRecordMapper">

    <select id="selectLastBySpaceId"
            resultType="com.vikadata.api.organization.entity.AuditUploadParseRecordEntity">
        select *
        from ${tablePrefix}audit_upload_parse_record
        where space_id = #{spaceId}
        order by id desc
        limit 0, 1
    </select>
</mapper>
