@import "~pc/styles/lib_var.less";

.toolsWrapper {
  border-radius: 4px;
  background-color: var(--dc02);
  position: relative;
  padding: 4px 0;
  user-select: none;
  min-width: 136px;

  .arrowWrapper {
    position: absolute;
    width: 20px;
    height: 12px;
    right: 8px;
    top: -12px;
  }
}