.rate {
  display: inline-flex;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  .character {
    padding: 0 2px;
  }
  .checked {
    opacity: 1;
  }
  .unChecked {
    opacity: 0.2;
  }
  .willChecked {
    opacity: 0.6;
  }

  // :global(.ant-tooltip-inner) {
  //   text-align: center !important;
  // }
}
