@import "~pc/styles/lib_var.less";

.permissionNotifcationModal {
  padding-top: 16px;
  h6 {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--fc1);
    text-align: center;
  }
  
  p {
    padding: 0 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--fc1);
  }
}



.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--fc5);
  padding-top: 7px;
  padding-bottom: 9px;
  .line {
    width: 1px;
    height: 18px;
    background-color: var(--fc5);
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 50%;
    margin-bottom: 0;
    cursor: pointer;
  }
  
}

.cancel {
  color: var(--fc3);
}

.confirm  {
  color: var(--fc0);
}

.know {
  color: var(--fc1);
}