<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.space.mapper.SpaceMemberRoleRelMapper">

    <select id="selectMemberIdBySpaceId" resultType="java.lang.Long">
        SELECT member_id
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId}
    </select>

    <select id="selectSubAdminBySpaceId" resultType="java.lang.Long">
        SELECT vsmrr.member_id
        FROM ${tablePrefix}space_member_role_rel vsmrr
        JOIN ${tablePrefix}space_role_resource_rel vsrrr on vsmrr.role_code = vsrrr.role_code AND vsrrr.resource_code = 'MANAGE_WORKBENCH_SETTING'
        WHERE vsmrr.space_id = #{spaceId}
        ORDER BY vsmrr.created_at DESC
    </select>

    <select id="selectRoleCodesBySpaceId" resultType="java.lang.String">
        SELECT role_code
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId}
    </select>

    <select id="selectCountBySpaceIdAndMemberId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}space_member_role_rel
        WHERE member_id = #{memberId}
          and space_id = #{spaceId}
    </select>

    <select id="selectCountBySpaceIdAndMemberIds" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId} AND member_id IN
        <foreach index="index" item="item" collection="memberIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectRoleCodeByMemberId" resultType="java.lang.String">
        SELECT role_code
        FROM ${tablePrefix}space_member_role_rel
        WHERE member_id = #{memberId} and space_id = #{spaceId}
    </select>

    <select id="selectRoleCodesBySpaceIdAndRoleCodes" resultType="java.lang.String">
        SELECT role_code
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId}
        AND role_code IN
        <foreach item="item" index="index" collection="roleCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectMemberIdBySpaceIdAndRoleCodes" resultType="long">
        SELECT member_id
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId}
        AND role_code IN
        <foreach item="item" index="index" collection="roleCodes" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteBySpaceIdAndMemberId">
        DELETE
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId}
          and member_id = #{memberId}
    </delete>

    <insert id="insertBatch">
        INSERT INTO ${tablePrefix}space_member_role_rel(id, space_id, member_id, role_code)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id},#{item.spaceId},#{item.memberId},#{item.roleCode}
            </trim>
        </foreach>
    </insert>

    <select id="selectRoleCodeByMemberIds" resultType="java.lang.String">
        SELECT role_code
        FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId} AND member_id IN
        <foreach index="index" item="item" collection="memberIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="batchDeleteByMemberIds">
        DELETE FROM ${tablePrefix}space_member_role_rel
        WHERE member_id IN
        <foreach index="index" item="item" collection="memberIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteBySpaceId">
        DELETE FROM ${tablePrefix}space_member_role_rel
        WHERE space_id = #{spaceId}
    </delete>
</mapper>
