<?xml version="1.0" encoding="UTF-8"?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.space.mapper.SpaceInviteRecordMapper">
    <update id="expireBySpaceIdAndEmails">
        UPDATE ${tablePrefix}space_invite_record vir
        SET vir.is_expired  = 1,
            vir.status_desc = #{statusDesc}
        WHERE vir.invite_space_id = #{spaceId}
          AND vir.invite_email IN
        <foreach item="item" index="index" collection="emails" open="("
                 separator="," close=")">
            #{item}
        </foreach> AND vir.is_expired = 0
    </update>

    <update id="expireBySpaceIdAndInviteMemberId">
        UPDATE ${tablePrefix}space_invite_record vir
        SET is_expired  = 1,
            status_desc = #{statusDesc}
        WHERE invite_space_id = #{spaceId}
          AND invite_member_id IN
        <foreach item="item" index="index" collection="memberIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND is_expired = 0
    </update>

    <update id="expireByInviteToken">
        UPDATE ${tablePrefix}space_invite_record
        SET is_expired  = 1,
            status_desc = #{statusDesc}
        WHERE invite_token = #{inviteToken}
          AND is_expired = 0
    </update>

    <select id="selectByInviteToken" resultType="com.apitable.space.entity.SpaceInviteRecordEntity">
        SELECT *
        FROM ${tablePrefix}space_invite_record
        WHERE invite_token = #{inviteToken} and send_status = 1
    </select>

    <select id="selectCountBySpaceIdAndBetween" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}space_invite_record
        WHERE invite_space_id = #{spaceId}
        AND created_at BETWEEN #{startAt} AND #{endAt}
    </select>
</mapper>
