<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.api.space.mapper.SpaceAuditMapper">
    <select id="selectSpaceAuditPage" resultType="com.vikadata.entity.SpaceAuditEntity">
        SELECT *
        FROM ${tablePrefix}space_audit vom
                WHERE space_id = #{spaceId}
        <if test="param.memberIds != null and param.memberIds.size() != 0">
            AND member_id IN
            <foreach item="item" index="index" collection="param.memberIds" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.actions != null and param.actions.size() != 0">
            AND `action` IN
            <foreach item="item" index="index" collection="param.actions" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <choose>
            <when test="param.endTime != null">
                AND created_at BETWEEN #{param.beginTime} AND #{param.endTime}
            </when>
            <otherwise>
                AND created_at &gt;= #{param.beginTime}
            </otherwise>
        </choose>
        <if test="param.nodeIds != null and param.nodeIds.size() != 0">
            AND JSON_EXTRACT(info, '$.nodeId') IN
            <foreach item="item" index="index" collection="param.nodeIds" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="insert">
        INSERT INTO ${tablePrefix}space_audit(id, space_id, member_id, member_name, ip_address,
                                     user_agent, category, action, info, created_by)
        VALUES (#{entity.id}, #{entity.spaceId}, #{entity.memberId},
                #{entity.memberName}, #{entity.ipAddress}, #{entity.userAgent},
                #{entity.category}, #{entity.action}, #{entity.info}, #{entity.createdBy})
    </insert>
</mapper>
