<?xml version="1.0" encoding="UTF-8"?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.space.mapper.SpaceMapper">
    <select id="selectSpaceNameBySpaceId" resultType="java.lang.String">
        SELECT name
        FROM ${tablePrefix}space
        WHERE space_id = #{spaceId}
    </select>

    <select id="selectBySpaceId" resultType="com.apitable.space.entity.SpaceEntity">
        SELECT *
        FROM ${tablePrefix}space
        WHERE space_id = #{spaceId}
        AND is_deleted = 0
    </select>

    <select id="selectBySpaceIdIgnoreDeleted" resultType="com.apitable.space.entity.SpaceEntity">
        SELECT *
        FROM ${tablePrefix}space
        WHERE space_id = #{spaceId}
    </select>

    <select id="selectBySpaceIds" resultType="com.apitable.space.entity.SpaceEntity">
        SELECT *
        FROM ${tablePrefix}space
        WHERE space_id IN
        <foreach collection="spaceIds" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <resultMap id="spaceDTO" type="com.apitable.space.dto.SpaceDTO">
        <result column="space_id" property="spaceId"/>
        <result column="name" property="name"/>
        <result column="logo" property="logo"/>
        <result column="point" property="point"/>
        <result column="admin" property="admin"/>
        <result column="pre_deleted" property="preDeleted"/>
    </resultMap>

    <select id="selectListByUserId" resultMap="spaceDTO">
        SELECT vs.space_id,
        vs.name,
        vs.logo,
        if(vs.pre_deletion_time IS NULL, 0, 1) pre_deleted,
        IF(vs.owner = m.id, 1, 0) admin,
        IF(m.`is_point` = 1, 1, 0) point
        FROM ${tablePrefix}space vs
        JOIN ${tablePrefix}unit_member m ON vs.space_id = m.space_id AND m.is_deleted = 0 AND m.user_id = #{userId}
        WHERE vs.is_deleted = 0
        ORDER BY m.updated_at DESC, m.`status` DESC
    </select>

    <select id="getAdminSpaceCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}space vs
                 JOIN ${tablePrefix}unit_member vum
            ON vs.space_id = vum.space_id AND vs.owner = vum.id AND vum.user_id = #{userId} AND vum.is_deleted = 0
        WHERE vs.is_deleted = 0
    </select>

    <select id="selectAdminInfoDto"
            resultType="com.apitable.space.dto.SpaceAdminInfoDTO">
        SELECT t.owner        AS memberId,
               u.avatar,
               u.code         AS areaCode,
               u.mobile_phone AS mobile,
               u.email,
               m.member_name,
               t.name            spaceName
        FROM ${tablePrefix}space t
        JOIN ${tablePrefix}unit_member m ON t.space_id = m.space_id
            AND t.owner = m.id AND m.is_deleted = 0
        JOIN ${tablePrefix}user u ON m.user_id = u.id AND u.is_deleted = 0
        WHERE t.space_id = #{spaceId}
          AND t.is_deleted = 0
    </select>

    <select id="selectSpaceMainAdmin" resultType="java.lang.Long">
        SELECT owner
        FROM ${tablePrefix}space
        WHERE space_id = #{spaceId}
        AND is_deleted = 0
    </select>

    <select id="selectPropsBySpaceId" resultType="java.lang.String">
        SELECT props
        FROM ${tablePrefix}space
        WHERE space_id = #{spaceId}
        AND is_deleted = 0
    </select>

    <update id="updateSpaceOwnerId">
        UPDATE ${tablePrefix}space
                SET owner = #{memberId}
        <if test="updatedBy != null">
            , updated_by = #{updatedBy}
        </if>
        WHERE space_id = #{spaceId}
    </update>

    <update id="removeSpaceOwnerId">
        UPDATE ${tablePrefix}space
        SET owner = NULL<if test="updatedBy != null">, updated_by = #{updatedBy}</if>
        WHERE space_id = #{spaceId}
    </update>

    <update id="updateProps">
        UPDATE ${tablePrefix}space
        <set>
            props = JSON_SET(props,
            <foreach collection="list" item="item" separator=",">
                CONCAT('$.', #{item.key}), #{item.value}
            </foreach>
            ),
            <if test="userId != null">
                updated_by = #{userId}
            </if>
        </set>
        WHERE space_id = #{spaceId}
    </update>

    <update id="updatePreDeletionTimeBySpaceId">
        UPDATE ${tablePrefix}space
        SET pre_deletion_time = #{time}, updated_by = #{updatedBy}
        WHERE space_id = #{spaceId}
        AND is_deleted = 0
    </update>

    <update id="updateIsDeletedBySpaceIdIn">
        UPDATE ${tablePrefix}space
        SET is_deleted = 1
        WHERE space_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="countBySpaceId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}space
        WHERE space_id = #{spaceId}
        <choose>
            <when test="preDel != null and preDel">
                AND pre_deletion_time IS NOT NULL
            </when>
            <when test="preDel != null and !preDel">
                AND pre_deletion_time IS NULL
            </when>
        </choose>
        AND is_deleted = 0
    </select>

    <select id="selectSpaceIdByUserIdAndName" resultType="java.lang.String">
        SELECT t.space_id
        FROM ${tablePrefix}space t
                 JOIN ${tablePrefix}unit_member vum
            ON t.space_id = vum.space_id AND t.owner = vum.id AND vum.user_id = #{userId} AND vum.is_deleted = 0
        WHERE t.name LIKE CONCAT(#{name}, '%')
          AND t.is_deleted = 0
    </select>

    <select id="selectBaseSpaceInfo" resultType="com.apitable.space.dto.BaseSpaceInfoDTO">
        SELECT space_id, name, logo
        FROM ${tablePrefix}space
        WHERE space_id IN
        <foreach collection="spaceIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByUserId" resultType="com.apitable.space.entity.SpaceEntity">
        SELECT t.*
        FROM ${tablePrefix}space t
        JOIN ${tablePrefix}unit_member m ON t.space_id = m.space_id AND m.is_deleted = 0 AND m.user_id = #{userId}
        WHERE t.is_deleted = 0
        ORDER BY m.updated_at DESC, `status` DESC
    </select>

    <select id="selectSpaceIdsByUserId" resultType="java.lang.String">
        SELECT space_id FROM ${tablePrefix}space
        WHERE created_by = #{userId}
        AND is_deleted = 0
    </select>
</mapper>
