<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.automation.mapper.AutomationTriggerTypeMapper">
    <select id="selectIdByTriggerTypeId" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}automation_trigger_type
        WHERE trigger_type_id = #{triggerTypeId}
          AND is_deleted = 0 LIMIT 1
    </select>

    <select id="getTriggerTypeByEndpoint" resultType="java.lang.String">
        SELECT tt.trigger_type_id
        FROM ${tablePrefix}automation_trigger_type tt
        WHERE tt.endpoint = #{endpoint}
          AND tt.is_deleted = 0;
    </select>
</mapper>
