@import '../../styles/var.less';

.quoteItem {
  margin: 0;
  padding: 0;
  line-height: @line-height-base;
  font-size: @font-size-base;
}

.quoteItemOpt {
  left: -(@spacing-base + @operation-size) ;
}