.datasourceSelect {
  width: 100%;
  margin-bottom: 0;
  .placeholder {
    color: var(--textCommonQuaternary);
  }
}

.viewSelectInner {
  width: 100%;
}

.datasourceDropdownList {
  display: none;
}