@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.baseModal {
  :global {
    .ant-modal-header {
      padding: 24px 24px 16px;
      cursor: default;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-footer {
      padding: 8px 24px 24px;
    }
  }
}
