@import "~pc/styles/lib_var.less";

.popUpTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftPos, .leftPos a {
    display: flex;
    align-items: center;
  }

  .leftPos {
    svg {
      margin-left: 4px;
    }
  }

  .rightPos {
  }
}
