@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";
.capacity {
  border-radius: 8px;
  background-color: var(--defaultBg);
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .progressWrap {
    display: flex;
    position: relative;
    margin-bottom: 2px;
    .remainder {
      position: absolute;
      bottom: 16px;
      right: 0;
    }
    .remainder span {
      color: var(--thirdLevelText);
    }
  }

  :global(.ant-progress):not(.isEdgeValue) {
    .ant-progress-bg::after {
      display: inline-block;
      content: " ";
      width: 2px;
      height: 12px;
      background-color: var(--primaryColor);
      position: absolute;
      right: 0;
      top: -2px;
    }
  }
  :global {
    .ant-progress-show-info .ant-progress-outer {
      padding-right: 0;
      display: flex;
    }

    .ant-progress-bg {
      border-radius: 100px 0 0 100px !important;
    }

    .ant-progress-status-success .ant-progress-text,
    .ant-progress-text {
      margin-left: 0;
      position: absolute;
      font-size: 12px;
      color: var(--firstLevelText);
      bottom: 16px;
      height: 18px;
      line-height: 18px;
    }
  }

  .capacityUpgrade {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
