<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.modular.eco.mapper.EconomicTagMapper">
    <select id="selectByObjectId" resultType="com.vikadata.entity.EconomicTagEntity">
        SELECT * FROM vika_economic_tag
        WHERE object_id = #{objectId}
    </select>

    <select id="selectByObjectIds" resultType="com.vikadata.entity.EconomicTagEntity">
        SELECT * FROM vika_economic_tag
        WHERE object_id IN
        <foreach item="item" index="index" collection="objectIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectByTagIdAndObjectIds"
            resultType="com.vikadata.entity.EconomicTagEntity">
        SELECT * FROM vika_economic_tag
        WHERE object_id IN
        <foreach item="item" index="index" collection="objectIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND tag_id = #{tagId}
    </select>

    <select id="selectCountByObjectIdAndTagId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM vika_economic_tag
        WHERE object_id = #{objectId} AND tag_id = #{tagId}
    </select>
</mapper>