@import "~pc/styles/lib_var.less";

.createWorkdoc {
  display: flex;
  align-items: center;
  color: var(--textCommonTertiary);
  padding-left: 8px;
  min-width: 100px;
  height: 40px;
}

.formWorkdocEditor {
  position: relative;
  .status {
    position: absolute;
    right: 12px;
    top: 8px;
    .connecting {
      color: var(--warningColor);
    }
    .disconnected {
      color: var(--errorColor);
    }
  }
  :global {
    .editor {
      min-height: 128px;
      max-height: 560px;
      overflow: auto;
    }
    .status {
      line-height: 40px;
      padding-left: 8px;
    }
  }
}
