@import "~pc/styles/lib_var.less";

.modifyEmail {
  .saveBtn {
    margin-top: 16px;
  }

  :global {
    .ant-modal-header {
      padding-top: 24px;
    }
  }
}

.tip {
  margin-bottom: 16px;
  font-size: 15px;
  color: var(--secondLevelText);
}