@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";
@import "~pc/styles/lib_screen.less";

.container {
  width: 100%;
  padding: 24px;
  overflow: auto;
}

.list {
  margin-bottom: 24px;
  .header {
    padding-left: 12px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: var(--firstLevelText);
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    &::before {
      content: "";
      width: 2px;
      height: 12px;
      background-color: var(--primaryColor);
      position: absolute;
      left: 4px;
      top: 4px;
    }
  }

  .group {
    display: flex;
    flex-wrap: wrap;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  background-color: var(--defaultBg);
  border-radius: 4px;
  width: 228px;
  min-height: 272px;
  padding: 32px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  margin-right: 24px;
  margin-bottom: 24px;
  transition: all 0.3s;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
      width: 48px;
      height: 48px;
      border: 1px solid var(--shadowColor);
      border-radius: 8px;
      overflow: hidden;
      background-color: #f9f9f9;
      & > img {
        width: 100%;
      }
      margin-bottom: 16px;
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      color: var(--firstLevelText);
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  .middle {
    height: 54px;
    width: 100%;

    & > p {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: normal;
      color: var(--fc2);
    }
  }

  .bottom {
    width: 104px;
    margin-top: 24px;
    :global {
      .btn.btn-link-info:hover {
        color: var(--primaryColor);
      }
      .btn.btn-link-info {
        cursor: default;
        color: var(--teal_500);
        font-size: 13px;
        &:hover {
          color: var(--teal_500);
        }
      }
    }
  }
}

.modalHeader {
  display: flex;
  align-items: center;
  padding: 24px 24px 0;
  & > img {
    border: 1px solid var(--shadowColor);
    border-radius: 8px;
  }
  .settingIcon {
    color: var(--secondLevelText);
  }
}

.modalContent {
  padding: 24px 24px 0;
  max-height: 568px;
  overflow: auto;
  .description {
    & > h2 {
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    & > p {
      margin: 0;
    }
  }

  .appImg {
    padding: 24px 0;

    &>span{
      position: unset !important;
      img{
        width: 100% !important;
        height: 100% !important;
        position: unset !important;
      }
    }
  }
}
.notes {
  background-color: var(--primaryLight);
  width: 100%;
  padding: 5px 8px;
  border-radius: 4px;
  color: var(--primaryColor);
}
.modalWrapper {
  padding-bottom: 0;
  :global {
    .ant-modal {
      padding-bottom: 0;
    }
    .ant-modal-body {
      height: auto !important;
      margin-top: 68px;
    }
    .ant-modal-header {
      padding-bottom: 0;
      :global {
        .ant-modal-title {
          padding-right: 0;
        }
      }
    }
    .ant-modal-footer {
      padding-bottom: 16px;
    }
  }
}

.wecomTipsContent {
  ul {
    padding-left: 22px;
    margin: 0;
  }
  li {
    padding-left: 0;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
    i {
      color: var(--errorColor);
      font-style: normal;
    }
  }
}
