// @import "../lib_var.less";

// Colors
// The variables used by antd. Compatible with light themes first.
@primary-color: #7B67EE;
@link-color: #7B67EE;
@success-color: #30C28B;
@warning-color: #FFAB00;
@error-color: #E33E38;

@font-size-base: 14px;
@heading-color: rgba(0, 0, 0, 0.85);
@text-color: #262626;
@text-color-secondary: rgba(0, 0, 0, 0.45);
@disabled-color: rgba(0, 0, 0, 0.25);
@border-radius-base: 4px;

@disabled-color: #C9C9C9;

// Shadow
// The shadow-color exported in lib_var causes antd's shadow-color to be overwritten. Here it needs to be overwritten again.
@shadow-color: rgba(0, 0, 0, 0.15);
// @shadow-color-inverse: @component-background;
@lineColor-base: #d9d9d9;
// @shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05),
//   0 -12px 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
//   0 12px 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
//   -12px 0 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05),
//   12px 0 48px 16px rgba(0, 0, 0, 0.03);
// @shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
//   0 9px 28px 8px rgba(0, 0, 0, 0.05);
