@import "../lib_var.less";

.ant-popover-inner {
  background-color: var(--highBg);
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  border-color: var(--highBg);
}

.ant-popover-arrow {
  border-color: var(--highBg) !important;
}

.ant-popover-arrow-content {
  --antd-arrow-background-color: var(--highBg) !important;
}

// .popconfirm{
//   .ant-popover-inner-content {
//     padding: 16px;
//     width: 280px;
//   }
//   .ant-popover-message-title {
//     cursor: default;
//     display: flex;
//     flex-direction: column;
//     span, div {
//       &:first-child,
//       &:last-child{
//         display: block;
//       }
//       &:first-child{
//         color: var(--firstLevelText);
//         font-size: 14px;
//       }
//       &:last-child{
//         color: var(--secondLevelText);
//         font-size: 12px;
//         margin-top: 4px;
//       }
//     }
    
//   }
//   .ant-popover-message {
//     padding: 0 0 16px;
//     svg {
//       width: 16px;
//       height: 16px;
//       position: absolute;
//       top: 3px;
//       fill: var(--warningColor);
//     }
//   }
//   .ant-popover-message > .anticon {
//     top: 0;
//   }
  
//   .ant-popover-buttons > .ant-btn:nth-of-type(1) {
//     color: var(--secondLevelText);
//   }
//   .ant-popover-buttons > .ant-btn:nth-of-type(2) {
//     box-shadow: none;
//   }
// }
