// For use in component boards and dashboard layout components
.react-resizable-handle::after {
  border-color: var(--primaryColor) !important;
}

.react-grid-item.react-grid-placeholder {
  z-index: 0;
  border: 1px dashed var(--primaryColor);
  background: var(--bgBrandLightDefault);
  opacity: 1;
  border-radius: 8px;
}