.token {
  &.t_operator {
    color: #BE5D5D
  }
  &.t_value {
    color: #90A859
  }
  &.t_string {
    color: #AA759F
  }
  &.t_number {
    color: #D28445
  }
  &.t_paren {
    color: #6A9FB5
  }
  &.t_call {
    color: #6A9FB5;
  }
  &.t_unknown {
    color: #2d2d2d
  }
}
