// Tooltip
// ---
// Tooltip max width
@tooltip-max-width: 320px;
// Tooltip text color
@tooltip-color: var(--defaultBg);
// Tooltip background color
@tooltip-bg: var(--tooltipBg);
// Tooltip arrow width
@tooltip-arrow-width: 6px;
// Tooltip distance with trigger
@tooltip-distance: @tooltip-arrow-width - 1px + 4px;
// Tooltip arrow color
@tooltip-arrow-color: var(--tooltipBg);

.ant-tooltip-inner {
  font-size: 12px;
  color: var(--defaultBg);
  padding: 8px;
}
