@import "../lib_var.less";

// Tree
@tree-bg: var(--defaultBg);
@tree-title-height: 40px;
@tree-child-padding: 13px;
@tree-directory-selected-color: var(--rowSelectedBg);
@tree-directory-selected-bg: var(--rowSelectedBg);
@tree-node-hover-bg: var(--rowSelectedBg);
@tree-node-selected-bg: var(--rowSelectedBg);

.ant-tree {
  color: var(--fc1);
}
