@import '~pc/styles/lib_mixins.less';
@import "~pc/styles/lib_screen.less";

.url {
  text-decoration: underline;
}
.activeUrl {
  color: var(--primaryColor);
  cursor: pointer;
}

.readOnlyTextCell {
  padding: 4px 10px;
}