.controlRowsNum {
  span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }

  :global {
    .ant-tooltip-inner {
      border: none;
    }
  }
}

.baseStyle {
  :global {
    .ant-tooltip-inner {
      border: none;
    }
  }
}
