.underline {
  text-decoration: none;
  border-bottom: 1px solid;
}

.code {
  color: #D53D32;
  padding: 4px;
  background: #f2f4f6;
  font-size: 0.8125em;
  font-family: Consolas,"SFMono-Regular", "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 2px;
  line-height: normal;
}
