<?xml version="1.0" encoding="UTF-8"?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.template.mapper.TemplatePropertyRelMapper">
    <select id="selectByPropertyCode"
            resultType="com.apitable.template.entity.TemplatePropertyRelEntity">
        SELECT *
        FROM ${tablePrefix}template_property_rel
        WHERE property_code = #{propertyCode}
    </select>

    <update id="updateIncPropertyOrderByPropertyCodeIn">
        UPDATE ${tablePrefix}template_property_rel
        SET property_order = property_order + 1
        WHERE property_code IN
        <foreach item="item" index="index" collection="propertyCodes"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateIncIdByIdGreaterThanEqual">
        UPDATE ${tablePrefix}template_property_rel
        SET id = id + 2
        WHERE id <![CDATA[>=]]> #{minId}
        ORDER BY id DESC
    </update>

    <update id="updateIdByPropertyCodeAndTemplateId">
        UPDATE ${tablePrefix}template_property_rel
        SET id = #{updatedId}
        WHERE property_code = #{propertyCode}
          AND template_id = #{templateId}
    </update>

    <delete id="deleteByTemplateId">
        DELETE
        FROM ${tablePrefix}template_property_rel
        WHERE template_id = #{templateId}
    </delete>

    <delete id="deleteByPropertyCodeAndTemplateId">
        DELETE
        FROM ${tablePrefix}template_property_rel
        WHERE property_code = #{propertyCode}
          AND template_id = #{templateId}
    </delete>

    <delete id="deleteByPropertyCode">
        DELETE
        FROM ${tablePrefix}template_property_rel
        WHERE property_code = #{propertyCode}
    </delete>

    <delete id="deleteBatch">
        DELETE
        from ${tablePrefix}template_property_rel;
    </delete>

    <insert id="insertBatch">
        INSERT INTO ${tablePrefix}template_property_rel(id, template_id, property_id, property_code,
        property_order)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id},#{item.templateId},#{item.propertyId}, #{item.propertyCode},
               #{item.propertyOrder}
            </trim>
        </foreach>
    </insert>

    <select id="selectTemplateIdsByPropertyCode" resultType="java.lang.String">
        SELECT template_id
        from ${tablePrefix}template_property_rel
        where property_code = #{propertyCode}
    </select>

    <select id="selectTemplateIdsByPropertyIds" resultType="com.apitable.template.model.TemplatePropertyRelDto">
        SELECT property_code, template_id
        from ${tablePrefix}template_property_rel where property_code in
        <foreach item="item" index="index" collection="propertyCodes" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
    </select>
</mapper>
