.tag {
  height: 24px;
  display: inline-flex;
  align-items: center;
  padding: 2px 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.tag.tagDefault {
  color: var(--textCommonPrimary);
  background-color: var(--bgTagDefault);
}