<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.workspace.mapper.NodeShareSettingMapper">

    <select id="selectByShareId" resultType="com.apitable.workspace.entity.NodeShareSettingEntity">
        SELECT *
        FROM ${tablePrefix}node_share_setting
        WHERE share_id = #{shareId}
    </select>

    <select id="selectEnabledByUserId" resultType="com.apitable.workspace.entity.NodeShareSettingEntity">
        SELECT *
        FROM ${tablePrefix}node_share_setting
        WHERE created_by = #{userId}
        AND is_enabled = 1
    </select>

    <select id="selectByNodeId" resultType="com.apitable.workspace.entity.NodeShareSettingEntity">
        SELECT *
        FROM ${tablePrefix}node_share_setting
        WHERE node_id = #{nodeId}
        LIMIT 0,1
    </select>

    <select id="selectNodeIdByShareId" resultType="java.lang.String">
        SELECT node_id
        FROM ${tablePrefix}node_share_setting
        WHERE share_id = #{shareId}
          AND is_enabled = 1
    </select>

    <select id="selectUpdatedByByShareId" resultType="java.lang.Long">
        SELECT updated_by
        FROM ${tablePrefix}node_share_setting
        WHERE share_id = #{shareId}
          AND is_enabled = 1
    </select>

    <update id="disableByNodeIds">
        UPDATE ${tablePrefix}node_share_setting
        SET is_enabled = 0, props = NULL
        WHERE node_id IN
        <foreach collection="nodeIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectSpaceIdByShareId" resultType="java.lang.String">
        SELECT vn.space_id
        FROM ${tablePrefix}node_share_setting vnss
                     JOIN ${tablePrefix}node vn ON vnss.node_id = vn.node_id AND vn.is_rubbish = 0
        WHERE vnss.share_id = #{shareId}
          AND vnss.is_enabled = 1
        LIMIT 0,1
    </select>

    <select id="selectSpaceIdByShareIdIncludeDeleted" resultType="java.lang.String">
        SELECT vn.space_id
        FROM ${tablePrefix}node_share_setting vnss
                 JOIN ${tablePrefix}node vn ON vnss.node_id = vn.node_id
        WHERE vnss.share_id = #{shareId}
        LIMIT 0,1
    </select>

    <select id="selectDtoByShareId" resultType="com.apitable.workspace.dto.NodeShareDTO">
        SELECT vn.space_id, vum.id operator
        FROM ${tablePrefix}node_share_setting vnss
        JOIN ${tablePrefix}node vn ON vnss.node_id = vn.node_id AND vn.is_rubbish = 0
        LEFT JOIN ${tablePrefix}unit_member vum ON vum.user_id = vnss.updated_by AND vum.space_id = vn.space_id
        WHERE vnss.share_id = #{shareId} AND vnss.is_enabled = 1
        LIMIT 0,1
    </select>

    <select id="selectDtoByNodeIds" resultType="com.apitable.workspace.dto.NodeShareDTO">
        SELECT node_id, share_id
        FROM ${tablePrefix}node_share_setting
        WHERE node_id IN
        <foreach collection="nodeIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectNodeIdsByUpdatersAndSpaceId" resultType="java.lang.String">
        SELECT DISTINCT vnss.node_id
        FROM ${tablePrefix}node_share_setting vnss
        JOIN ${tablePrefix}node vn on vnss.node_id = vn.node_id AND vn.space_id = #{spaceId}
        WHERE vnss.updated_by IN
        <foreach collection="updaters" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectNodeIdAndEnabledByShareId" resultType="com.apitable.workspace.entity.NodeShareSettingEntity">
        SELECT node_id, is_enabled
        FROM ${tablePrefix}node_share_setting
        WHERE share_id = #{shareId}
    </select>

    <select id="selectIsEnabledByNodeId" resultType="java.lang.Boolean">
        SELECT is_enabled
        FROM ${tablePrefix}node_share_setting
        WHERE node_id = #{nodeId}
    </select>

    <select id="selectAllowSaveAndAllowEditByShareId" resultType="com.apitable.workspace.entity.NodeShareSettingEntity">
        SELECT allow_save, allow_edit
        FROM ${tablePrefix}node_share_setting
        WHERE share_id = #{shareId}
        AND is_enabled = 1
    </select>
</mapper>
