@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.container {}

.logo{
  margin-top: 57px;
  margin-left: 49px;
}

.main {
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc {
  margin-top: 45px;
  margin-bottom: 48px;
}