@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.changeName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 16px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 24px;
  
  .spaceName {
    .ellipsis();
    cursor: default;
    margin-right: 4px;
    color: var(--fc1);
  }

  svg {
    color: var(--textCommonSecondary);
  }
}
