@import "~pc/styles/lib_var.less";

.searchEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--defaultBg);

  .img {
    display: inline-block;
    width: 150px;
    margin-top: 40px;
    margin-bottom: 41px;
  }

  span {
    font-size: 15px;
    color: var(--secondLevelText);
  }
}
