<?xml version="1.0" encoding="UTF-8"?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.user.mapper.UserMapper">

    <select id="selectNickNameById" resultType="java.lang.String">
        SELECT nick_name
        FROM ${tablePrefix}user
        WHERE id = #{userId}
    </select>

    <select id="selectEmailById" resultType="java.lang.String">
        SELECT email
        FROM ${tablePrefix}user
        WHERE id = #{userId}
    </select>

    <select id="selectAvatarById" resultType="java.lang.String">
        SELECT avatar
        FROM ${tablePrefix}user
        WHERE id = #{userId}
          AND is_deleted = 0
    </select>

    <select id="selectIdByMobile" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}user
        WHERE mobile_phone = #{mobilePhone} AND is_deleted = 0
    </select>

    <select id="selectIdByEmail" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}user
        WHERE email = #{email} AND is_deleted = 0
    </select>

    <select id="selectByMobile" resultType="com.apitable.user.entity.UserEntity">
        SELECT *
        FROM ${tablePrefix}user
        WHERE mobile_phone = #{mobilePhone} AND is_deleted = 0
        LIMIT 0,1
    </select>

    <select id="selectByMobilePhoneIn" resultType="com.apitable.user.entity.UserEntity">
        SELECT *
        FROM ${tablePrefix}user
        WHERE mobile_phone IN
        <foreach item="item" index="index" collection="mobilePhones" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectByEmail" resultType="com.apitable.user.entity.UserEntity">
        SELECT * FROM ${tablePrefix}user WHERE email = #{email} AND is_deleted = 0
        LIMIT 0,1
    </select>

    <select id="selectCountByEmail" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}user
        WHERE email = #{email} AND is_deleted = 0
    </select>

    <select id="selectByEmails" resultType="com.apitable.user.entity.UserEntity">
        SELECT *
        FROM ${tablePrefix}user
        WHERE email IN
        <foreach item="item" index="index" collection="emails" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectIdByUuid" resultType="java.lang.Long">
        SELECT id from ${tablePrefix}user WHERE uuid = #{uuid}
    </select>

    <select id="selectIdByUuidList" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}user
        WHERE uuid IN
        <foreach item="item" index="index" collection="uuidList" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectUuidById" resultType="java.lang.String">
        SELECT uuid
        FROM ${tablePrefix}user
        WHERE id = #{id}
        AND is_deleted = 0
    </select>

    <select id="selectByIds" resultType="com.apitable.user.entity.UserEntity">
        SELECT vu.avatar, vu.email, vu.id, vu.nick_name, vu.uuid, vu.color
        FROM ${tablePrefix}user vu
        WHERE vu.id IN
        <foreach collection="userIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="selectByUuIds" resultType="com.apitable.user.entity.UserEntity">
        SELECT *
        FROM ${tablePrefix}user vu
        WHERE vu.uuid IN
        <foreach collection="uuids" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectAllUserIdByIgnoreDelete" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}user
        WHERE created_at &lt;= NOW()
        <if test="!ignoreDelete">
        AND is_deleted = 0
        </if>
    </select>

    <update id="resetMobileByUserId">
        UPDATE ${tablePrefix}user
        SET code         = NULL,
            mobile_phone = NULL
        WHERE id = #{userId}
          AND is_deleted = 0
    </update>

    <update id="resetEmailByUserId">
        UPDATE ${tablePrefix}user
        SET email = NULL
        WHERE id = #{userId}
          AND is_deleted = 0
    </update>

    <update id="resetUserById">
        UPDATE ${tablePrefix}user
        SET email = null,
            code = null,
            mobile_phone = null,
            is_deleted = 1
        WHERE id = #{userId} AND is_deleted = 0
    </update>

    <update id="updateUserAvatarInfo">
        UPDATE ${tablePrefix}user
        SET avatar = #{avatar},
            color = #{color}
        WHERE id = #{userId} AND is_deleted = 0
    </update>

    <select id="selectEmailByUserIds" resultType="java.lang.String">
        SELECT vu.email
        FROM ${tablePrefix}user vu
        WHERE vu.id IN
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND vu.email IS NOT NULL
    </select>

    <select id="selectLocaleInEmailsWithDefaultLocale" resultType="com.apitable.user.dto.UserLangDTO">
        SELECT id, IFNULL(locale, #{defaultLocale}) as locale, email FROM ${tablePrefix}user
        WHERE email IN
        <foreach collection="emails" item="email" index="index" open="(" close=")" separator=",">
            #{email}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectLocaleByEmail" resultType="com.apitable.user.dto.UserLangDTO">
        SELECT id, locale, email FROM ${tablePrefix}user
        WHERE email = #{email}
        AND is_deleted = 0
    </select>

    <select id="selectLocaleByEmailWithDefaultLocale" resultType="com.apitable.user.dto.UserLangDTO">
        SELECT id, IFNULL(locale, #{defaultLocale}) as locale, email FROM ${tablePrefix}user
        WHERE email = #{email}
        AND is_deleted = 0
    </select>

    <select id="selectLocaleAndEmailByIds" resultType="com.apitable.user.dto.UserLangDTO">
        SELECT id, locale, email, time_zone FROM ${tablePrefix}user
        WHERE id IN
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectPausedUsers" resultType="com.apitable.user.dto.UserInPausedDto">
        SELECT id as user_id FROM ${tablePrefix}user
        WHERE id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_paused = 1 AND is_deleted = 0
    </select>

    <select id="selectInviteUserInfoByUserId" resultType="com.apitable.space.vo.InviteUserInfo">
        SELECT id as userId, nick_name as userName, avatar
        FROM ${tablePrefix}user
        WHERE id = #{userId}
          AND is_deleted = 0
    </select>

    <select id="selectEmailAndMobilePhoneByIds" resultType="com.apitable.user.dto.UserSensitiveDTO">
        SELECT id, code, mobile_phone, email, avatar FROM ${tablePrefix}user
        WHERE id IN
        <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>
</mapper>
