<?xml version="1.0" encoding="UTF-8"?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.user.mapper.UserHistoryMapper">

    <select id="selectLatest" resultType="com.apitable.user.entity.UserHistoryEntity">
        SELECT * FROM ${tablePrefix}user_history vuh
        WHERE vuh.user_id = #{userId}
        AND vuh.user_status = #{userStatus}
        ORDER BY vuh.created_at DESC
        LIMIT 1
    </select>

    <update id="updateUpdateUserByUserId">
        UPDATE ${tablePrefix}user_history vuh
        SET vuh.updated_by = #{updateUser}
        WHERE vuh.user_Id = #{userId}
    </update>

    <select id="selectUserHistoryDtos" resultType="com.apitable.user.dto.PausedUserHistoryDto">
        SELECT vuh.user_id, vuh.nick_name, vuh.created_at FROM ${tablePrefix}user_history vuh
        WHERE
        vuh.created_at between #{createdAtBefore} AND #{createdAtAfter}
        AND vuh.user_status = #{userStatus}
    </select>

    <select id="selectUserIdsByCreatedAtAndUserStatus" resultType="java.lang.Long">
        SELECT user_id FROM ${tablePrefix}user_history
        WHERE user_status = #{userStatus}
        AND created_at between #{startAt} AND #{endAt}
        GROUP BY user_id
    </select>
</mapper>
