<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.api.enterprise.user.mapper.UserLinkMapper">
    <select id="selectUserIdByUnionIdAndType" resultType="java.lang.Long">
        SELECT user_id
        FROM ${tablePrefix}user_link
        WHERE union_id = #{unionId}
        AND `type` = #{type}
        LIMIT 1
    </select>

    <select id="selectUnionIdByUserIdAndType" resultType="java.lang.String">
        SELECT union_id
        FROM ${tablePrefix}user_link
        WHERE user_id = #{userId}
        AND `type` = #{type}
        AND union_id IS NOT NULL
        LIMIT 1
    </select>

    <update id="updateNickNameAndUnionIdByOpenId">
        UPDATE ${tablePrefix}user_link
        SET nick_name = #{nickName},
        union_id = #{unionId}
        WHERE open_id = #{openId}
        AND `type` = #{type}
    </update>

    <select id="selectVoByUserId" resultType="com.vikadata.api.shared.cache.bean.AccountLinkDto">
        SELECT `type`, nick_name, created_at create_time
        FROM ${tablePrefix}user_link
        WHERE user_id = #{userId}
        AND union_id IS NOT NULL
    </select>

    <delete id="deleteByUserIdAndType">
        DELETE
        FROM ${tablePrefix}user_link
        WHERE user_id = #{userId}
        AND `type` = #{type}
    </delete>

    <delete id="deleteByUserId">
        DELETE
        FROM ${tablePrefix}user_link
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteByUnionIds">
        DELETE
        FROM ${tablePrefix}user_link
        WHERE union_id IN
        <foreach item="item" index="index" collection="unionIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectUserIdByUnionIdAndOpenIdAndType" resultType="java.lang.Long">
        SELECT user_id FROM ${tablePrefix}user_link
        WHERE union_id = #{unionId}
        AND open_id = #{openId}
        AND `type` = #{type.type}
        LIMIT 1
    </select>

    <delete id="deleteByOpenIds">
        DELETE
        FROM ${tablePrefix}user_link
        WHERE open_id IN
        <foreach item="item" index="index" collection="openIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND `type` = #{type}
    </delete>
</mapper>
