@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.skeletonWrapper {
  height: 100%;
  padding: 20px;
  width: 100%;
  :global {
    .ant-skeleton-element {
      display: inline-block;
      width: 100%;
    }
  }
}