@import "~pc/styles/lib_var.less";

.delSpaceModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  .delLogo {
    height: 120px;

    img {
      height: 100%;
    }
  }

  .tip {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .items {
    font-size: 13px;
    font-weight: normal;
    color: var(--secondLevelText);
    margin: 5px 0;
    padding-left: 25px;
  }

  .title {
    color: var(--firstLevelText);
    font-size: 18px;
    font-weight: bold;
  }

  .subTitle {
    font-weight: normal;
    color: var(--firstLevelText);
    font-size: 15px;
  }

  .btn {
    width: 100%;
  }
}
