@import "~pc/styles/lib_var.less";

.modifyEmail {
  .tip {
    padding-bottom: 20px;
    color: var(--secondLevelText);
  }

  .saveBtn {
    margin-top: 16px;
  }

  .errorMsg {
    height: 14px;
    font-size: 10px;
    margin: 4px 0 6px 0;
    color: var(--errorColor);
  }

  :global {
    .ant-modal-header {
      padding-top: 24px;
    }
  }
}
