@import '~pc/styles/lib_var.less';
@import '~pc/styles/lib_mixins.less';

.ganttView {
  width: 100%;
  height: 100%;
  background-color: var(--defaultBg);
  border-radius: 8px 8px 0 0;
  position: relative;

  &.ganttViewMobile {
    border: none;
    border-radius: 0;
  }

  :global {
    .Resizer {
      z-index: 1 !important;
    }
  }

  canvas {
    .noSelect();
  }
}

.gantt {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
}

.verticalScrollBarWrapper,
.horizontalScrollBarWrapper {
  position: absolute;
  will-change: transform;
  cursor: pointer;

  .lx-scroll-bar(true);

  .verticalScrollBarInner,
  .horizontalScrollBarInner {
    position: absolute;
  }
}

.verticalScrollBarWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 18px;
  right: 0;
}

.horizontalScrollBarWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 18px;
  bottom: 0;
}
