@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.ganttView {
  width: 100%;
  height: 100%;
  background-color: var(--defaultBg);
  border-radius: 8px 8px 0 0;
  position: relative;

  &.ganttViewMobile {
    border: none;
    border-radius: 0;
  }

  :global {
    .Resizer {
      z-index: 1 !important;
    }
  }

  canvas {
    .noSelect();
  }
}

.gantt {
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
}

.verticalScrollBarWrapper,
.horizontalScrollBarWrapper {
  position: absolute;
  will-change: transform;
  cursor: pointer;

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border-radius: 8px;
    min-height: 36px;
// FIXME:THEME
    background-color: var(--shadowColor);
  }

  .verticalScrollBarInner,
  .horizontalScrollBarInner {
    position: absolute;
  }
}

.verticalScrollBarWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 15px;
  right: 0;

  &.cellVerticalScrollBarWrapper {
    width: 10px;

    &::-webkit-scrollbar {
      width: 10px;
    }
  }

  &::-webkit-scrollbar {
    width: 15px;
  }
}

.horizontalScrollBarWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 15px;
  bottom: 0;

  &::-webkit-scrollbar {
    height: 15px;
  }
}
