
.scrollBarVBox {
  width: 10px;
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 10;
}

.scrollBarV {
  height: 100%;
  position: relative;
}

.scrollBarVSlide {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  border-radius: 10px;
}

.scrollBarHBox {
  position: absolute;
  left: 0px;
  bottom: 2px;
  z-index: 10;
}

.scrollBarH {
  height: 10px;
  width: 100%;
  position: relative;
}

.scrollBarHSlide {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}
