<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.space.mapper.integral.IntegralHistoryMapper">

    <select id="selectDto"
            resultType="com.vikadata.scheduler.space.model.IntegralStaticsDto">
        SELECT SUM(IF(alter_type = 0,alter_integral,0)) AS issuedAmount,
               SUM(IF(alter_type = 1,alter_integral,0)) AS consumption
        FROM vika_integral_history
        WHERE created_at BETWEEN #{beginTime} AND #{endTime}
    </select>

    <select id="selectIntegralCoverUser"
            resultType="java.lang.Long">
        SELECT DISTINCT user_id
        FROM vika_integral_history
        GROUP BY user_id, origin_integral
        HAVING COUNT(id) > 1
    </select>

    <select id="selectIntegralCoverUserRecordByUserId"
            resultType="com.vikadata.entity.IntegralHistoryEntity">
        SELECT *
        FROM vika_integral_history
        WHERE user_id = #{userId}
        ORDER BY id ASC
    </select>

    <update id="updateIntegralRecord">
        UPDATE vika_integral_history
        SET origin_integral = #{originIntegral},
            total_integral = #{totalIntegral}
        WHERE id = #{id}
    </update>

</mapper>
