.linkLogin {
  .loginContent {
    box-shadow: 0px 4px 24px rgba(38, 38, 38, 0.08);
    padding: 24px 24px 54px;
    width: 368px;
  }
  .otherLogin {
    width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .linkLogin .loginContent {
    box-shadow: none;
    width: calc(100% - 48px);
  }
}
