@import "~pc/styles/lib_var.less";

.bottomPageTurn {
  align-items: center;
  background-color: var(--white);
  border-top: 1px solid var(--lineColor);
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 48px;
  position: fixed;
  width: 100%;
  z-index: var(--zIndex-11);
}

.button {
  flex-grow: 1;
  text-align: center;
}