@import "~pc/styles/lib_var.less";

.avatar {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
  border: 1px solid var(--shadowColor);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
