
.heading {
  margin: 0;
  padding: 0;
} 

.heading1 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
}
.heading2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}
.heading3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
.heading4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.heading5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
.heading6 {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}