.drawerWrapper {
  :global {
    .ant-drawer-header {
      border-bottom: 0;
    }
    .ant-drawer-body {
      padding-top: 0;
    }
  }
}

.popupWrapper {
  :global {
    .ant-drawer-header {
      padding: 16px;
    }
    .ant-drawer-body {
      padding: 0 16px 32px;
    }
  }
}
