@import "~pc/styles/lib_var.less";

.microWrapper {
  // display: flex;
  position: fixed;
  // top: 50px;
  // right: 100px;
  background: var(--defaultBg);
  box-shadow: 1px 1px 10px #e1e2e9;
  z-index: 20;
}
