@import "~pc/styles/lib_var.less";

.dragDropModal {
  position: fixed;
  color: var(--firstLevelText);
  background-color: var(--highBg);
  border-radius: 4px;
  box-shadow: var(--shadowCommonHigh);
  width: 400px;
  padding: 12px;
  z-index: 16;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
      box-sizing: unset;
    }
  }
  .content {
    padding: 16px 0;
  }
  .date {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .dateItem {
      flex: 1 1;
      &:first-child {
        margin-right: 16px;
        max-width: 50%;
      }
    }
  }
}
