@import '~pc/styles/lib_var.less';

.shallowLine{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  box-shadow: 2px 0px 4px var(--shadowColor);
  height: 100vh;
  border-right: 1px solid var(--lineColor);
}