@import '../../styles//var.less';

.iconWrap {
  display: inline-flex;
  width: 21px;
}

.hotkey {
  display: inline-block;
  font-size: 12px;
  margin-left: @spacing-large;
  color: var(--black_400);
}
.iconAndLabel {
  display: inline-flex;
  align-items: center;
}

.iconAndHotkeyWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}