<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.api.enterprise.vcode.mapper.VCodeUsageMapper">
    <select id="countByCodeAndType" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}code_usage
        WHERE code = #{code} AND `type` = #{type}
        <if test="operator != null">
            AND operator = #{operator}
        </if>
    </select>

    <select id="selectInvitorUserId" resultType="com.vikadata.api.enterprise.vcode.dto.VCodeDTO">
        SELECT vc.ref_id AS userId, vc.`code` AS vCode, vc.type
        FROM ${tablePrefix}code_usage vcu
                 JOIN ${tablePrefix}code vc ON vcu.`code` = vc.`code` AND vc.type IN (0, 1)
        WHERE vcu.operator = #{userId}
          AND vcu.type = 1
        LIMIT 1
    </select>
</mapper>
