<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.api.enterprise.vcode.mapper.VCodeActivityMapper">

    <select id="selectAllScene" resultType="java.lang.String">
        SELECT scene
        FROM vika_code_activity
    </select>

    <select id="selectIdByScene" resultType="java.lang.Long">
        SELECT id
        FROM vika_code_activity
        WHERE scene = #{scene} AND is_deleted = 0
    </select>

    <update id="updateNameById">
        UPDATE vika_code_activity
        SET name = #{name}, updated_by = #{userId}
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="updateSceneById">
        UPDATE vika_code_activity
        SET scene = #{scene}, updated_by = #{userId}
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="removeById">
        UPDATE vika_code_activity
        SET is_deleted = 1, updated_by = #{userId}
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <select id="countById" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM vika_code_activity
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <resultMap id="BaseInfo" type="com.vikadata.api.enterprise.vcode.vo.VCodeActivityVo">
        <result column="id" property="activityId"/>
        <result column="name" property="name"/>
        <result column="scene" property="scene"/>
    </resultMap>

    <resultMap id="DetailInfo" extends="BaseInfo" type="com.vikadata.api.enterprise.vcode.vo.VCodeActivityPageVo">
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <collection property="qrCodeList" ofType="com.vikadata.api.enterprise.wechat.vo.QrCodeBaseInfo"
                    column="{scene=scene,appId=appId}"
                    select="com.vikadata.api.enterprise.wechat.mapper.WechatMpQrcodeMapper.selectBaseInfo">
        </collection>
    </resultMap>

    <select id="selectBaseInfo" resultMap="BaseInfo">
        SELECT id, name, scene
        FROM vika_code_activity
        WHERE is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY id DESC
    </select>

    <select id="selectDetailInfo" resultMap="DetailInfo">
        SELECT vca.id, vca.name, vca.scene, vca.created_at, vca.updated_at, #{appId} AS appId,
        vu.nick_name AS creator, vu2.nick_name AS updater
        FROM vika_code_activity vca
        LEFT JOIN vika_user vu ON vca.created_by = vu.id
        LEFT JOIN vika_user vu2 ON vca.updated_by = vu2.id
        WHERE vca.is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND vca.name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY vca.id DESC
    </select>

    <select id="countQrCodeByIdAndAppId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM vika_code_activity vca
        JOIN vika_wechat_mp_qrcode vwmq ON vwmq.scene = vca.scene AND vwmq.app_id = #{appId}
        WHERE vca.id = #{id} AND vca.is_deleted = 0
    </select>
</mapper>
