@import "~pc/styles/lib_var.less";

.generateTemplateContent {
  padding: 16px 24px;

  .tip {
    font-size: 13px;
    line-height: 18px;
    color: var(--firstLevelText);
    padding-bottom: 8px;
  }

  .errorMsg {
    height: 14px;
    font-size: 10px;
    margin: 4px 0 6px 0;
    color: var(--errorColor);
  }
}
