@import "~pc/styles/lib_mixins.less";
@import "~pc/styles/lib_var.less";

.viewContainer {
  height: 100%;
}

.fixedHead {
  display: flex;
  align-items: center;
  height: 32px;
  width: 100%;
  background-color: var(--defaultBg);
  border-top: 1px solid var(--rowSelectedBg);
  position: sticky;
  top: 0;
  z-index: 1;
}

.fieldHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.fieldTitleWrapper {
  flex: 1;
  .ellipsis();
  &.fieldTitleWithContent {
    padding: 0 10px;
    margin-bottom: -4px;
  }
}

.fieldMenuTrigger {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
}

.content {
  position: relative;
  background-color: var(--lowestBg);
  user-select: none;
  overflow-y: auto;
}

.fixedTitle {
  position: absolute;
  transition: all 0.3s;
  z-index: 1;

  .firstColumnCell {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    padding-left: 24px;
  }
}

.remainingColumnsGrid {
  position: absolute;
  overflow-x: auto !important;
  overflow-y: initial !important;
}

.cellWrapper {
  display: flex;
  align-items: flex-end;
  padding-top: 16px;
  height: 30px;
}

.cellHolder {
  border: solid 1px var(--fourthLevelText);
  height: 2px;
  width: 7px;
  border-radius: 2px;
}

.cellContainer {
  background-color: var(--defaultBg);
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  .ellipsis();
}

.cellTitleContainer {
  padding-top: 8px;
  font-size: 16px;
}

.unitValue {
  height: 30px;
}

.numberCell {
  text-align: right !important;
}

.innerFirstCell {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
}

.cellHolderWrapper {
  width: 100%;
  display: flex;
  padding-left: 12px;
  padding-top: 10px;
}

.numberCellHolder {
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
}

.addRecordContainer {
  border-radius: 50%;
  background: linear-gradient(
    -135.28deg,
    rgba(123, 103, 238, 1) 0%,
    rgba(151, 136, 242, 1) 100%
  );
  box-shadow: 0 6px 14px 0 rgba(123, 103, 238, 0.3);
  z-index: 1;
  cursor: pointer;

  &.visible {
    transition: transform 0.3s;
    transform: translate3d(-50px, 0, 0);
  }
}

.btnWrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &:active {
    background-color: #413297;
  }
}

.viewToolsWrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: var(--defaultBg);
  border-top: 1px solid var(--lineColor);
}

.menuOpenContainer {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 16px;
  margin-right: 8px;
  background-color: var(--rowSelectedBg);
}

.textarea {
  width: 100%;
  resize: none;
  max-height: 157px;
  min-height: 73px !important;
  text-indent: 0 !important;
  padding: 6px 8px !important;

  &.error {
    border-color: var(--errorColor);
  }

  &.readOnly {
    border: none;
    color: var(--fc1) !important;
    opacity: 1 !important;
  }
}

.count {
  text-align: right;
  font-size: 12px;
  color: var(--thirdLevelText);
  margin-top: 4px;
  margin-bottom: 0;

  &.error {
    color: var(--errorColor);
  }
}

.currentSearchCell {
  background-color: var(--orange_50)!important;
  border-radius: 4px;
}

.foundMarkMobileHeadCell {
  background-color: var(--fc16);
  width: min-content;
  max-width: calc(100% - 8px);
  border-radius: 4px;
}

.foundMarkCell {
  .foundMarkMobileHeadCell();
  height: 30px;
}

.hiddenAll {
  height: "100%";
  background-color: var(--defaultBg);
  border-radius: 8px;
}

.titleCell {
  font-weight: bold;
}

.singleBtn {
  :global {
    .am-modal-footer {
      .am-modal-button {
        &:last-child::before {
          top: 0 !important;
          height: 1px !important;
          color: var(--fc5) !important;
          background-color: var(--fc5)!important;
        }
      }
    }
  }
}
