// TODO: This file is no longer maintained. This file is mainly used to overwrite antd's button. 
// After replacing it with the component library button, delete this file.
// Don't be referencing the color variables here!!!

@black: #FFFFFF,#F5F7FA,#E5E5E5,#C9C9C9,#A6A6A6,#8C8C8C,#787878,#636363,#4F4F4F,#3C3C3C,#262626;
@blackBlue: #FFFFFF,#F9F9FF,#E9E9F5,#D8D9EB,#BABDD4,#AEAEB2,#8487A1,#5E607E,#3A3C4D,#262838,#171822;
@blue: #E4F7FF,#C9EFFF,#9CE2FF,#7ED9FF,#70D5FF,#55CDFF,#40AFDD,#2E91BB,#177EA9,#0B5F83,#093F55;
@brown: #E8DFDD,#D1BFBC,#B49892,#8E645B,#78463C,#6E382D,#5C2F26,#4D2720,#42221B,#371C16,#2C1612;
@deepPurple: #EDEAFF,#DCD6FF,#CEC5FF,#A697FB,#8B7AF0,#7B67EE,#6653D1,#5342B4,#413297,#312479,#160F3F;
@green: #E3F5DA,#C7F5B1,#9CE977,#7BE04B,#62D929,#52C41B,#3DA20C,#2A8001,#256407,#174700,#193D08;
@indigo: #E0E9FF,#C2D3FF,#9CB9FF,#81A5FF,#6692FF,#5586FF,#406DDD,#2E56BB,#1F4299,#132F77,#091F55;
@orange: #FFF6E5,#FFE7B7,#FFD88A,#FFC95C,#FFBA2E,#FFAB00,#FFA114,#FF8E0A,#DA7600,#AB5C00,#7D4400;
@pink: #FFE8EC,#FFCED8,#FFB2C0,#FF98AC,#FF8199,#FF708B,#E25C75,#C54A61,#A8394E,#8A2B3D,#6D1E2D;
@purple: #F4E9FE,#E4C5FB,#D8ACFA,#C789F8,#BA6DF6,#B35FF5,#AB45FB,#983AE2,#8630CA,#7531AC,#482662;
@red: #FBECEB,#FFD1C8,#FFB4AF,#FF8A82,#E9594F,#D53D32,#C32E23,#B12319,#911A12,#6F0F08,#4D0601;
@tangerine: #FFEAD6,#FFD2A8,#FFAF66,#FFA047,#FF8A1F,#FF7A00,#E96A02,#CB5D03,#954300,#753500,#4D2300;
@teal: #E2F6EF,#BDECDA,#8BDDBE,#66D2A9,#45C897,#30C28B,#269B6F,#1D7453,#196548,#134E38,#083F28;
@yellow: #FFF9E3,#FFF2C2,#FFEBA6,#FFE588,#FFDC62,#FFD43A,#FFCD1E,#FBC508,#E5B300,#B58D02,#886A00;
