:root {
  --black_50: #FFFFFF;
  --black_100: #F5F7FA;
  --black_200: #E0E0E0;
  --black_300: #C9C9C9;
  --black_400: #A6A6A6;
  --black_500: #8C8C8C;
  --black_600: #787878;
  --black_700: #636363;
  --black_800: #4F4F4F;
  --black_900: #3C3C3C;
  --black_1000: #262626;
  --blackBlue_50: #FDFDFF;
  --blackBlue_100: #F9F9FF;
  --blackBlue_200: #E9E9F5;
  --blackBlue_300: #D8D9EB;
  --blackBlue_400: #BABDD4;
  --blackBlue_500: #9FA1BB;
  --blackBlue_600: #8487A1;
  --blackBlue_700: #5E607E;
  --blackBlue_800: #3A3C4D;
  --blackBlue_900: #262838;
  --blackBlue_1000: #171822;
  --blue_50: #E4F7FF;
  --blue_100: #C9EFFF;
  --blue_200: #9CE2FF;
  --blue_300: #7ED9FF;
  --blue_400: #70D5FF;
  --blue_500: #55CDFF;
  --blue_600: #40AFDD;
  --blue_700: #2E91BB;
  --blue_800: #177EA9;
  --blue_900: #0B5F83;
  --blue_1000: #093F55;
  --brown_50: #E8DFDD;
  --brown_100: #D1BFBC;
  --brown_200: #B49892;
  --brown_300: #8E645B;
  --brown_400: #78463C;
  --brown_500: #6E382D;
  --brown_600: #5C2F26;
  --brown_700: #4D2720;
  --brown_800: #42221B;
  --brown_900: #371C16;
  --brown_1000: #2C1612;
  --deepPurple_50: #EDEAFF;
  --deepPurple_100: #DCD6FF;
  --deepPurple_200: #CEC5FF;
  --deepPurple_300: #A697FB;
  --deepPurple_400: #8B7AF0;
  --deepPurple_500: #7B67EE;
  --deepPurple_600: #6653D1;
  --deepPurple_700: #5342B4;
  --deepPurple_800: #413297;
  --deepPurple_900: #312479;
  --deepPurple_1000: #160F3F;
  --green_50: #E3F5DA;
  --green_100: #C7F5B1;
  --green_200: #9CE977;
  --green_300: #7BE04B;
  --green_400: #62D929;
  --green_500: #52C41B;
  --green_600: #3DA20C;
  --green_700: #2A8001;
  --green_800: #256407;
  --green_900: #174700;
  --green_1000: #193D08;
  --indigo_50: #E0E9FF;
  --indigo_100: #C2D3FF;
  --indigo_200: #9CB9FF;
  --indigo_300: #81A5FF;
  --indigo_400: #6692FF;
  --indigo_500: #5586FF;
  --indigo_600: #406DDD;
  --indigo_700: #2E56BB;
  --indigo_800: #1F4299;
  --indigo_900: #132F77;
  --indigo_1000: #091F55;
  --orange_50: #FFF6E5;
  --orange_100: #FFE5B7;
  --orange_200: #FFD88A;
  --orange_300: #FFC95C;
  --orange_400: #FFBA2E;
  --orange_500: #FFAB00;
  --orange_600: #FFA114;
  --orange_700: #FF8E0A;
  --orange_800: #DA7600;
  --orange_900: #AB5C00;
  --orange_1000: #7D4400;
  --pink_50: #FFE8EC;
  --pink_100: #FFCED8;
  --pink_200: #FFB2C0;
  --pink_300: #FF98AC;
  --pink_400: #FF8199;
  --pink_500: #FF708B;
  --pink_600: #E25C75;
  --pink_700: #C54A61;
  --pink_800: #A8394E;
  --pink_900: #8A2B3D;
  --pink_1000: #6D1E2D;
  --purple_50: #F4E9FE;
  --purple_100: #E4C5FB;
  --purple_200: #D8ACFA;
  --purple_300: #C789F8;
  --purple_400: #BA6DF6;
  --purple_500: #B35FF5;
  --purple_600: #AB45FB;
  --purple_700: #983AE2;
  --purple_800: #8630CA;
  --purple_900: #7531AC;
  --purple_1000: #482662;
  --red_50: #FBECEB;
  --red_100: #FFD1C8;
  --red_200: #FFB4AF;
  --red_300: #FF8A82;
  --red_400: #E9594F;
  --red_500: #E33E38;
  --red_600: #C42E23;
  --red_700: #B12319;
  --red_800: #911A12;
  --red_900: #6F0F08;
  --red_1000: #4D0601;
  --tangerine_50: #FFEAD6;
  --tangerine_100: #FFD2A8;
  --tangerine_200: #FFAF66;
  --tangerine_300: #FFA047;
  --tangerine_400: #FF8A1F;
  --tangerine_500: #FF7A00;
  --tangerine_600: #E96A02;
  --tangerine_700: #CB5D03;
  --tangerine_800: #954300;
  --tangerine_900: #753500;
  --tangerine_1000: #4D2300;
  --teal_50: #E2F6EF;
  --teal_100: #BDECDA;
  --teal_200: #8BDDBE;
  --teal_300: #66D2A9;
  --teal_400: #45C897;
  --teal_500: #30C28B;
  --teal_600: #269B6F;
  --teal_700: #1D7453;
  --teal_800: #196548;
  --teal_900: #134E38;
  --teal_1000: #083F28;
  --yellow_50: #FFF9E3;
  --yellow_100: #FFF2C2;
  --yellow_200: #FFEBA6;
  --yellow_300: #FFE588;
  --yellow_400: #FFDC62;
  --yellow_500: #FFD43A;
  --yellow_600: #FFCD1E;
  --yellow_700: #FBC508;
  --yellow_800: #E5B300;
  --yellow_900: #B58D02;
  --yellow_1000: #886A00;
}
:root[data-theme="light"] {
  --rc07: #FFAB00;
  --rc07-rgb: 255, 171, 0;
  --rc11: #6E382D;
  --rc11-rgb: 110, 56, 45;
  --rc00: #B35FF5;
  --rc00-rgb: 179, 95, 245;
  --rc06: #FFEB3A;
  --rc06-rgb: 255, 235, 58;
  --rc02: #5586FF;
  --rc02-rgb: 85, 134, 255;
  --rc05: #52C41B;
  --rc05-rgb: 82, 196, 27;
  --rc08: #FF7A00;
  --rc08-rgb: 255, 122, 0;
  --rc09: #FF708B;
  --rc09-rgb: 255, 112, 139;
  --rc10: #E33E38;
  --rc10-rgb: 227, 62, 56;
  --rc03: #55CDFF;
  --rc03-rgb: 85, 205, 255;
  --rc01: #7B67EE;
  --rc01-rgb: 123, 103, 238;
  --rc04: #30C28B;
  --rc04-rgb: 48, 194, 139;
  --cellSelectedColorSolid: #DCD6FF;
  --cellSelectedColorSolid-rgb: 220, 214, 255;
  --rowSelectedBgSolid: #F5F7FA;
  --rowSelectedBgSolid-rgb: 245, 247, 250;
  --primaryLightSolid: #EDEAFF;
  --primaryLightSolid-rgb: 237, 234, 255;
  --gradientBgMask: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  --extraLightTeal: rgba(226, 246, 239, 0.5);
  --extraLightOrange: rgba(255, 246, 229, 0.5);
  --extraLightIndigo: rgba(224, 233, 255, 0.5);
  --extraLightRed: rgba(251, 236, 235, 0.5);
  --extraLightPrimary: rgba(237, 234, 255, 0.5);
  --reverse1: #262626;
  --reverse1-rgb: 38, 38, 38;
  --reverse0: #FFFFFF;
  --reverse0-rgb: 255, 255, 255;
  --scrollBar: #E0E0E0;
  --scrollBar-rgb: 224, 224, 224;
  --warnLight: #FFF6E5;
  --warnLight-rgb: 255, 246, 229;
  --warn: #FFAB00;
  --warn-rgb: 255, 171, 0;
  --warnLightHover: #FFE5B7;
  --warnLightHover-rgb: 255, 229, 183;
  --warnLightActive: #FFD88A;
  --warnLightActive-rgb: 255, 216, 138;
  --warnHover: #FFA114;
  --warnHover-rgb: 255, 161, 20;
  --warnActive: #FF8E0A;
  --warnActive-rgb: 255, 142, 10;
  --success: #30C28B;
  --success-rgb: 48, 194, 139;
  --successActive: #1D7453;
  --successActive-rgb: 29, 116, 83;
  --successHover: #269B6F;
  --successHover-rgb: 38, 155, 111;
  --successLight: #E2F6EF;
  --successLight-rgb: 226, 246, 239;
  --successLightHover: #BDECDA;
  --successLightHover-rgb: 189, 236, 218;
  --successLightActive: #8BDDBE;
  --successLightActive-rgb: 139, 221, 190;
  --link: #7B67EE;
  --link-rgb: 123, 103, 238;
  --linkHover: #6653D1;
  --linkHover-rgb: 102, 83, 209;
  --linkActive: #5342B4;
  --linkActive-rgb: 83, 66, 180;
  --linkVisted: #A697FB;
  --linkVisted-rgb: 166, 151, 251;
  --staticWhite2: rgba(255, 255, 255, 0.6);
  --staticWhite1: rgba(255, 255, 255, 0.8);
  --staticDark0: #5E607E;
  --staticDark0-rgb: 94, 96, 126;
  --staticDark2: #171822;
  --staticDark2-rgb: 23, 24, 34;
  --staticDark1: #262838;
  --staticDark1-rgb: 38, 40, 56;
  --fill2: #C9C9C9;
  --fill2-rgb: 201, 201, 201;
  --fill1: #E0E0E0;
  --fill1-rgb: 224, 224, 224;
  --fill0: #F5F7FA;
  --fill0-rgb: 245, 247, 250;
  --defaultTag: #E0E0E0;
  --defaultTag-rgb: 224, 224, 224;
  --staticWhite0: #FFFFFF;
  --staticWhite0-rgb: 255, 255, 255;
  --highestBg: #FFFFFF;
  --highestBg-rgb: 255, 255, 255;
  --highBg: #FFFFFF;
  --highBg-rgb: 255, 255, 255;
  --errorLightHover: #FFD1C8;
  --errorLightHover-rgb: 255, 209, 200;
  --errorLightActive: #FFB4AF;
  --errorLightActive-rgb: 255, 180, 175;
  --errorLight: #FBECEB;
  --errorLight-rgb: 251, 236, 235;
  --errorHover: #C42E23;
  --errorHover-rgb: 196, 46, 35;
  --errorActive: #B12319;
  --errorActive-rgb: 177, 35, 25;
  --primaryLight: #EDEAFF;
  --primaryLight-rgb: 237, 234, 255;
  --primaryLightActive: #EDEAFF;
  --primaryLightActive-rgb: 237, 234, 255;
  --primaryLightHover: #DCD6FF;
  --primaryLightHover-rgb: 220, 214, 255;
  --primaryActive: #5342B4;
  --primaryActive-rgb: 83, 66, 180;
  --primaryHover: #6653D1;
  --primaryHover-rgb: 102, 83, 209;
  --fc19: rgba(220, 214, 255, 0.4);
  --fc18: #FFE5B7;
  --fc18-rgb: 255, 229, 183;
  --fc17: rgba(242, 244, 246, 0.4);
  --shadowBg: #262626;
  --shadowBg-rgb: 38, 38, 38;
  --enterpriseFg: #406DDD;
  --enterpriseFg-rgb: 64, 109, 221;
  --enterpriseBg: #E0E0E0;
  --enterpriseBg-rgb: 224, 224, 224;
  --bronzeFg: #AB5C00;
  --bronzeFg-rgb: 171, 92, 0;
  --bronzeBg: #E0E0E0;
  --bronzeBg-rgb: 224, 224, 224;
  --silverFg: #5586FF;
  --silverFg-rgb: 85, 134, 255;
  --silverBg: #E0E9FF;
  --silverBg-rgb: 224, 233, 255;
  --goldenFg: #FFAB00;
  --goldenFg-rgb: 255, 171, 0;
  --goldenBg: #FFF2C2;
  --goldenBg-rgb: 255, 242, 194;
  --or400: #FFBA2E;
  --or400-rgb: 255, 186, 46;
  --fc12: rgba(38, 38, 38, 0.5);
  --fc2: #636363;
  --fc2-rgb: 99, 99, 99;
  --fc1: #262626;
  --fc1-rgb: 38, 38, 38;
  --fc10: #E33E38;
  --fc10-rgb: 227, 62, 56;
  --fc0: #7B67EE;
  --fc0-rgb: 123, 103, 238;
  --fc3: #8C8C8C;
  --fc3-rgb: 140, 140, 140;
  --fc4: #C9C9C9;
  --fc4-rgb: 201, 201, 201;
  --fc8: #FFFFFF;
  --fc8-rgb: 255, 255, 255;
  --fc14: #FFAB00;
  --fc14-rgb: 255, 171, 0;
  --fc16: #EDEAFF;
  --fc16-rgb: 237, 234, 255;
  --fc13: #3C3C3C;
  --fc13-rgb: 60, 60, 60;
  --fc15: #30C28B;
  --fc15-rgb: 48, 194, 139;
  --fc9: #DCD6FF;
  --fc9-rgb: 220, 214, 255;
  --fc5: #E9E9F5;
  --fc5-rgb: 233, 233, 245;
  --fc11: #E0E0E0;
  --fc11-rgb: 224, 224, 224;
  --fc7: #F5F7FA;
  --fc7-rgb: 245, 247, 250;
  --fc6: #F5F7FA;
  --fc6-rgb: 245, 247, 250;
  --dc03: #3A3C4D;
  --dc03-rgb: 58, 60, 77;
  --dc02: #262838;
  --dc02-rgb: 38, 40, 56;
  --dc01: #171822;
  --dc01-rgb: 23, 24, 34;
  --foundMark: rgba(220, 214, 255, 0.4);
  --currentSearch: #FFE5B7;
  --currentSearch-rgb: 255, 229, 183;
  --calendarWeekend: rgba(242, 244, 246, 0.4);
  --folderNodeDefaultColor: #FFBA2E;
  --folderNodeDefaultColor-rgb: 255, 186, 46;
  --deepMaskColor: rgba(38, 38, 38, 0.5);
  --secondLevelText: #636363;
  --secondLevelText-rgb: 99, 99, 99;
  --firstLevelText: #262626;
  --firstLevelText-rgb: 38, 38, 38;
  --errorColor: #E33E38;
  --errorColor-rgb: 227, 62, 56;
  --primaryColor: #7B67EE;
  --primaryColor-rgb: 123, 103, 238;
  --thirdLevelText: #8C8C8C;
  --thirdLevelText-rgb: 140, 140, 140;
  --fourthLevelText: #C9C9C9;
  --fourthLevelText-rgb: 201, 201, 201;
  --defaultBg: #FFFFFF;
  --defaultBg-rgb: 255, 255, 255;
  --white: #FFFFFF;
  --white-rgb: 255, 255, 255;
  --warningColor: #FFAB00;
  --warningColor-rgb: 255, 171, 0;
  --treeSelectedBg: #EDEAFF;
  --treeSelectedBg-rgb: 237, 234, 255;
  --tooltipBg: #3C3C3C;
  --tooltipBg-rgb: 60, 60, 60;
  --successColor: #30C28B;
  --successColor-rgb: 48, 194, 139;
  --cellSelectedColor: #DCD6FF;
  --cellSelectedColor-rgb: 220, 214, 255;
  --lineColor: #E9E9F5;
  --lineColor-rgb: 233, 233, 245;
  --sheetLineColor: #E0E0E0;
  --sheetLineColor-rgb: 224, 224, 224;
  --shadowColor: #E0E0E0;
  --shadowColor-rgb: 224, 224, 224;
  --rowSelectedBg: #F5F7FA;
  --rowSelectedBg-rgb: 245, 247, 250;
  --lowestBg: #F5F7FA;
  --lowestBg-rgb: 245, 247, 250;
  --bgBglessActiveSolid: rgba(230, 230, 230, 1);
  --bgBglessHoverSolid: rgba(243, 243, 243, 1);
  --bgStaticLightDisabled: rgba(255, 255, 255, 0.5);
  --bgStaticLightActive: rgba(255, 255, 255, 0.68);
  --bgStaticLightHover: rgba(255, 255, 255, 0.84);
  --bgControlsDegradeHigh: rgba(51, 51, 51, 0.08);
  --bgControlsDegradeDefault: rgba(51, 51, 51, 0.04);
  --bgControlsDefaultSolid: rgba(245, 245, 245, 1);
  --bgControlsHoverSolid: rgba(232, 232, 232, 1);
  --bgControlsActiveSolid: rgba(219, 219, 219, 1);
  --bgBrandLightActiveSolid: rgba(144, 127, 240, 1);
  --bgBrandLightHoverSolid: rgba(168, 154, 245, 1);
  --bgBrandLightDefaultSolid: rgba(216, 210, 252, 1);
  --bgLogoText: rgba(0, 6, 80, 1);
  --bgLogoIcon: rgba(123, 103, 238, 1);
  --rainbowGray4: rgba(194, 194, 194, 1);
  --rainbowGray3: rgba(207, 207, 207, 1);
  --rainbowGray2: rgba(232, 232, 232, 1);
  --rainbowGray5: rgba(181, 181, 181, 1);
  --rainbowGray1: rgba(245, 245, 245, 1);
  --borderOnwarnLight: rgba(255, 231, 196, 1);
  --borderOnwarnDefault: rgba(224, 144, 31, 1);
  --borderWarnDisabled: rgba(255, 215, 158, 1);
  --borderWarnActive: rgba(194, 122, 21, 1);
  --borderWarnHover: rgba(224, 144, 31, 1);
  --borderWarnDefault: rgba(255, 166, 42, 1);
  --borderOnsuccessLight: rgba(186, 245, 225, 1);
  --borderOnsuccessDefault: rgba(18, 184, 129, 1);
  --borderSuccessDisabled: rgba(141, 235, 203, 1);
  --borderSuccessActive: rgba(13, 163, 113, 1);
  --borderSuccessHover: rgba(18, 184, 129, 1);
  --borderSuccessDefault: rgba(24, 204, 144, 1);
  --borderOndangerLight: rgba(252, 205, 202, 1);
  --borderOndangerDefault: rgba(209, 61, 50, 1);
  --borderDangerDisabled: rgba(250, 175, 170, 1);
  --textReverseDefault: rgba(255, 255, 255, 1);
  --textStaticDisabled: rgba(255, 255, 255, 0.3);
  --textStaticTertiary: rgba(255, 255, 255, 0.6);
  --textStaticSecondary: rgba(255, 255, 255, 0.8);
  --textStaticPrimary: rgba(255, 255, 255, 1);
  --rainbowYellow1: rgba(255, 249, 229, 1);
  --rainbowYellow3: rgba(255, 217, 102, 1);
  --rainbowYellow2: rgba(255, 238, 189, 1);
  --rainbowYellow4: rgba(255, 206, 59, 1);
  --rainbowYellow5: rgba(255, 195, 16, 1);
  --bgStaticDarkHigh: rgba(79, 84, 92, 1);
  --bgReverseDefault: rgba(79, 79, 79, 1);
  --bgGradientHorizontal: 270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%;
  --bgGradientVertical: 0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%;
  --borderCommonHover: rgba(206, 211, 219, 1);
  --borderCommonActive: rgba(190, 196, 207, 1);
  --borderCommonDisabled: rgba(240, 242, 245, 1);
  --borderGridVertical: rgba(225, 228, 234, 1);
  --borderGridHorizontal: rgba(206, 211, 219, 1);
  --borderBrandDefault: rgba(123, 103, 238, 1);
  --borderBrandHover: rgba(94, 74, 212, 1);
  --borderBrandActive: rgba(50, 31, 161, 1);
  --borderBrandDisabled: rgba(192, 182, 250, 1);
  --borderOnbrandDefault: rgba(94, 74, 212, 1);
  --borderOnbrandLight: rgba(216, 210, 252, 1);
  --borderDangerDefault: rgba(238, 83, 71, 1);
  --borderDangerHover: rgba(209, 61, 50, 1);
  --borderDangerActive: rgba(181, 43, 33, 1);
  --borderCommonDefault: rgba(225, 228, 234, 1);
  --textCommonSecondary: rgba(105, 105, 105, 1);
  --textCommonTertiary: rgba(156, 156, 156, 1);
  --textCommonQuaternary: rgba(194, 194, 194, 1);
  --textCommonDisabled: rgba(207, 207, 207, 1);
  --textBrandDefault: rgba(123, 103, 238, 1);
  --textBrandHover: rgba(94, 74, 212, 1);
  --textBrandActive: rgba(70, 50, 186, 1);
  --textBrandDisabled: rgba(192, 182, 250, 1);
  --textDangerDefault: rgba(238, 83, 71, 1);
  --textDangerHover: rgba(209, 61, 50, 1);
  --textDangerActive: rgba(181, 43, 33, 1);
  --textDangerDisabled: rgba(250, 175, 170, 1);
  --textSuccessDefault: rgba(24, 204, 144, 1);
  --textSuccessHover: rgba(18, 184, 129, 1);
  --textSuccessActive: rgba(13, 163, 113, 1);
  --textSuccessDisabled: rgba(141, 235, 203, 1);
  --textWarnDefault: rgba(255, 166, 42, 1);
  --textWarnHover: rgba(224, 144, 31, 1);
  --textWarnActive: rgba(194, 122, 21, 1);
  --textWarnDisabled: rgba(255, 215, 158, 1);
  --textLinkDefault: rgba(123, 103, 238, 1);
  --textLinkHover: rgba(94, 74, 212, 1);
  --textLinkActive: rgba(70, 50, 186, 1);
  --textLinkVisted: rgba(168, 154, 245, 1);
  --textLinkDisabled: rgba(192, 182, 250, 1);
  --textCommonPrimary: rgba(51, 51, 51, 1);
  --bgBrandLightHover: rgba(216, 210, 252, 1);
  --bgBrandLightActive: rgba(192, 182, 250, 1);
  --bgBrandLightDisabled: rgba(238, 235, 255, 1);
  --bgDangerDefault: rgba(238, 83, 71, 1);
  --bgDangerHover: rgba(209, 61, 50, 1);
  --bgDangerActive: rgba(181, 43, 33, 1);
  --bgDangerDisabled: rgba(250, 175, 170, 1);
  --bgDangerLightDefault: rgba(255, 236, 235, 1);
  --bgDangerLightHover: rgba(252, 205, 202, 1);
  --bgDangerLightActive: rgba(250, 175, 170, 1);
  --bgDangerLightDisabled: rgba(255, 236, 235, 1);
  --bgSuccessDefault: rgba(24, 204, 144, 1);
  --bgSuccessHover: rgba(18, 184, 129, 1);
  --bgSuccessActive: rgba(13, 163, 113, 1);
  --bgSuccessDisabled: rgba(141, 235, 203, 1);
  --bgSuccessLightDefault: rgba(229, 255, 246, 1);
  --bgSuccessLightHover: rgba(198, 245, 227, 1);
  --bgSuccessLightActive: rgba(141, 235, 203, 1);
  --bgSuccessLightDisabled: rgba(229, 255, 246, 1);
  --bgWarnDefault: rgba(255, 166, 42, 1);
  --bgWarnHover: rgba(224, 144, 31, 1);
  --bgWarnActive: rgba(194, 122, 21, 1);
  --bgWarnDisabled: rgba(255, 215, 158, 1);
  --bgWarnLightDefault: rgba(255, 244, 229, 1);
  --bgWarnLightHover: rgba(255, 231, 196, 1);
  --bgWarnLightActive: rgba(255, 215, 158, 1);
  --bgWarnLightDisabled: rgba(255, 244, 229, 1);
  --bgStaticLightDefault: rgba(255, 255, 255, 1);
  --bgStaticDarkLow: rgba(40, 44, 51, 1);
  --bgStaticDarkMedium: rgba(59, 63, 71, 1);
  --bgBrandLightDefault: rgba(238, 235, 255, 1);
  --bgCommonHigh: rgba(255, 255, 255, 1);
  --bgCommonHighest: rgba(255, 255, 255, 1);
  --bgBglessHover: rgba(51, 51, 51, 0.06);
  --bgBglessActive: rgba(51, 51, 51, 0.12);
  --bgControlsDefault: rgba(245, 245, 245, 1);
  --bgControlsHover: rgba(232, 232, 232, 1);
  --bgControlsActive: rgba(219, 219, 219, 1);
  --bgControlsDisabled: rgba(245, 245, 245, 1);
  --bgControlsElevateDefault: rgba(255, 255, 255, 1);
  --bgControlsElevateHigh: rgba(255, 255, 255, 1);
  --bgTagDefault: rgba(51, 51, 51, 0.12);
  --bgTagHover: rgba(51, 51, 51, 0.18);
  --bgTagActive: rgba(51, 51, 51, 0.24);
  --bgTagDisabled: rgba(51, 51, 51, 0.06);
  --bgScrollbarDefault: rgba(192, 193,194, 1);
  --bgScrollbarHover: rgba(172, 173,173, 1);
  --bgScrollbarActive: rgba(194, 194, 194, 1);
  --bgMaskDefault: rgba(0, 0, 0, 0.5);
  --bgBrandDefault: rgba(123, 103, 238, 1);
  --bgBrandHover: rgba(94, 74, 212, 1);
  --bgBrandActive: rgba(70, 50, 186, 1);
  --bgBrandDisabled: rgba(192, 182, 250, 1);
  --bgCommonDefault: rgba(255, 255, 255, 1);
  --bgCommonLower: rgba(240, 242, 245, 1);
  --rainbowTangerine5: rgba(255, 122, 0, 1);
  --rainbowTangerine1: rgba(255, 242, 229, 1);
  --rainbowTangerine2: rgba(255, 218, 184, 1);
  --rainbowTangerine3: rgba(255, 171, 92, 1);
  --rainbowTangerine4: rgba(255, 147, 46, 1);
  --rainbowPink1: rgba(255, 235, 238, 1);
  --rainbowPink2: rgba(255, 207, 215, 1);
  --rainbowPink3: rgba(255, 150, 170, 1);
  --rainbowPink4: rgba(255, 122, 147, 1);
  --rainbowPink5: rgba(255, 98, 127, 1);
  --rainbowGreen1: rgba(238, 255, 229, 1);
  --rainbowGreen2: rgba(201, 242, 182, 1);
  --rainbowGreen3: rgba(137, 217, 98, 1);
  --rainbowGreen4: rgba(109, 204, 61, 1);
  --rainbowGreen5: rgba(82, 191, 29, 1);
  --rainbowBrown1: rgba(255, 243, 235, 1);
  --rainbowBrown2: rgba(242, 217, 199, 1);
  --rainbowBrown3: rgba(217, 169, 134, 1);
  --rainbowBrown4: rgba(204, 147, 106, 1);
  --rainbowBrown5: rgba(191, 124, 76, 1);
  --rainbowBlue2: rgba(199, 238, 255, 1);
  --rainbowBlue3: rgba(128, 217, 255, 1);
  --rainbowBlue4: rgba(92, 207, 255, 1);
  --rainbowBlue1: rgba(235, 249, 255, 1);
  --rainbowBlue5: rgba(51, 195, 255, 1);
  --rainbowOrange1: rgba(255, 244, 229, 1);
  --rainbowOrange2: rgba(255, 231, 196, 1);
  --rainbowOrange3: rgba(255, 199, 120, 1);
  --rainbowOrange4: rgba(255, 183, 82, 1);
  --rainbowOrange5: rgba(255, 166, 42, 1);
  --rainbowRed1: rgba(255, 236, 235, 1);
  --rainbowRed2: rgba(252, 205, 202, 1);
  --rainbowRed3: rgba(245, 144, 137, 1);
  --rainbowRed4: rgba(240, 115, 105, 1);
  --rainbowRed5: rgba(238, 83, 71, 1);
  --rainbowIndigo1: rgba(235, 240, 255, 1);
  --rainbowIndigo2: rgba(207, 221, 255, 1);
  --rainbowIndigo3: rgba(145, 175, 250, 1);
  --rainbowIndigo4: rgba(114, 152, 247, 1);
  --rainbowIndigo5: rgba(86, 132, 245, 1);
  --rainbowTeal1: rgba(229, 255, 246, 1);
  --rainbowTeal2: rgba(188, 247, 228, 1);
  --rainbowTeal3: rgba(102, 232, 189, 1);
  --rainbowTeal4: rgba(62, 222, 169, 1);
  --rainbowTeal5: rgba(25, 215, 151, 1);
  --rainbowPurple5: rgba(123, 103, 238, 1);
  --rainbowPurple4: rgba(144, 127, 240, 1);
  --rainbowPurple3: rgba(168, 154, 245, 1);
  --rainbowPurple2: rgba(216, 210, 252, 1);
  --rainbowPurple1: rgba(238, 235, 255, 1);
  --shadowCommonHigh: 0px 2px 4px rgba(20, 20, 20, 0.1), 0px 6px 12px rgba(20, 20, 20, 0.06);
  --shadowCommonDefault: 0px 1px 2px rgba(20, 20, 20, 0.1), 0px 3px 6px rgba(20, 20, 20, 0.06);
  --shadowSideRightDefault: 1px 0px 2px rgba(20, 20, 20, 0.1), 4px 0px 8px rgba(20, 20, 20, 0.06);
  --shadowSideLeftDefault: -1px 0px 2px rgba(20, 20, 20, 0.1), -4px 0px 8px rgba(20, 20, 20, 0.06);
  --shadowSideLeftHigh: -2px 0px 4px rgba(20, 20, 20, 0.1), -6px 0px 12px rgba(20, 20, 20, 0.06);
  --shadowSideRightHigh: 2px 0px 4px rgba(20, 20, 20, 0.1), 6px 0px 12px rgba(20, 20, 20, 0.06);
  --shadowCommonHighest: 0px 3px 6px rgba(20, 20, 20, 0.1), 0px 8px 16px rgba(20, 20, 20, 0.08);
  --lightMaskColor: rgba(38,38,38,0.1);
}
:root[data-theme="dark"] {
  --rc07: #FFAB00;
  --rc07-rgb: 255, 171, 0;
  --rc11: #6E382D;
  --rc11-rgb: 110, 56, 45;
  --rc00: #B35FF5;
  --rc00-rgb: 179, 95, 245;
  --rc06: #FFEB3A;
  --rc06-rgb: 255, 235, 58;
  --rc02: #5586FF;
  --rc02-rgb: 85, 134, 255;
  --rc05: #52C41B;
  --rc05-rgb: 82, 196, 27;
  --rc08: #FF7A00;
  --rc08-rgb: 255, 122, 0;
  --rc09: #FF708B;
  --rc09-rgb: 255, 112, 139;
  --rc10: #E33E38;
  --rc10-rgb: 227, 62, 56;
  --rc03: #55CDFF;
  --rc03-rgb: 85, 205, 255;
  --rc01: #7B67EE;
  --rc01-rgb: 123, 103, 238;
  --rc04: #30C28B;
  --rc04-rgb: 48, 194, 139;
  --cellSelectedColorSolid: #2C293B;
  --cellSelectedColorSolid-rgb: 44, 41, 59;
  --rowSelectedBgSolid: #2B2B2B;
  --rowSelectedBgSolid-rgb: 43, 43, 43;
  --primaryLightSolid: #2C293B;
  --primaryLightSolid-rgb: 44, 41, 59;
  --gradientBgMask: linear-gradient(270deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%);
  --extraLightTeal: rgba(60, 214, 163, 0.16);
  --extraLightOrange: rgba(255, 166, 42, 0.16);
  --extraLightIndigo: rgba(114, 152, 247, 0.16);
  --extraLightRed: rgba(238, 83, 71, 0.16);
  --extraLightPrimary: rgba(144, 127, 240, 0.16);
  --reverse1: #E0E0E0;
  --reverse1-rgb: 224, 224, 224;
  --reverse0: #333333;
  --reverse0-rgb: 51, 51, 51;
  --scrollBar: rgba(255, 255, 255, 0.16);
  --warnLight: rgba(255, 166, 42, 0.16);
  --warn: rgba(255, 166, 42, 1);
  --warnLightHover: rgba(255, 166, 42, 0.24);
  --warnLightActive: rgba(255, 166, 42, 0.32);
  --warnHover: rgba(255, 183, 82, 1);
  --warnActive: rgba(255, 199, 120, 1);
  --success: rgba(60, 214, 163, 1);
  --successActive: rgba(141, 235, 203, 1);
  --successHover: rgba(99, 224, 183, 1);
  --successLight: rgba(60, 214, 163, 0.16);
  --successLightHover: rgba(60, 214, 163, 0.24);
  --successLightActive: rgba(60, 214, 163, 0.32);
  --link: rgba(144, 127, 240, 1);
  --linkHover: rgba(168, 154, 245, 1);
  --linkActive: rgba(192, 182, 250, 1);
  --linkVisted: rgba(123, 103, 238, 1);
  --staticWhite2: rgba(255, 255, 255, 0.6);
  --staticWhite1: rgba(255, 255, 255, 0.8);
  --staticDark0: #5E607E;
  --staticDark0-rgb: 94, 96, 126;
  --staticDark2: #171822;
  --staticDark2-rgb: 23, 24, 34;
  --staticDark1: #262838;
  --staticDark1-rgb: 38, 40, 56;
  --fill2: rgba(255, 255, 255, 0.24);
  --fill1: rgba(255, 255, 255, 0.16);
  --fill0: rgba(255, 255, 255, 0.08);
  --defaultTag: rgba(255, 255, 255, 0.16);
  --staticWhite0: #FFFFFF;
  --staticWhite0-rgb: 255, 255, 255;
  --highestBg: rgba(51, 51, 51, 1);
  --highBg: rgba(38, 38, 38, 1);
  --errorLightHover: rgba(238, 83, 71, 0.24);
  --errorLightActive: rgba(238, 83, 71, 0.32);
  --errorLight: rgba(238, 83, 71, 0.16);
  --errorHover: rgba(245, 144, 137, 1);
  --errorActive: rgba(250, 175, 170, 1);
  --primaryLight: rgba(144, 127, 240, 0.16);
  --primaryLightActive: rgba(144, 127, 240, 0.16);
  --primaryLightHover: rgba(139, 122, 240, 0.24);
  --primaryActive: rgba(192, 182, 250, 1);
  --primaryHover: rgba(168, 154, 245, 1);
  --fc19: rgba(144, 127, 240, 0.16);
  --fc18: rgba(255, 166, 42, 0.16);
  --fc17: rgba(0, 0, 0, 0.12);
  --fc12: rgba(0, 0, 0, 0.6);
  --fc2: rgba(255, 255, 255, 0.7);
  --fc1: rgba(255, 255, 255, 0.85);
  --fc10: rgba(240, 115, 105, 1);
  --fc0: #907FF0;
  --fc0-rgb: 144, 127, 240;
  --fc3: rgba(255, 255, 255, 0.55);
  --fc4: rgba(255, 255, 255, 0.4);
  --fc8: rgba(26, 26, 26, 1);
  --fc14: rgba(255, 183, 82, 1);
  --fc16: rgba(144, 127, 240, 0.16);
  --fc13: rgba(224, 224, 224, 1);
  --fc15: rgba(60, 214, 163, 1);
  --fc9: rgba(144, 127, 240, 0.16);
  --fc5: rgba(255, 255, 255, 0.12);
  --fc11: rgba(61, 61, 61, 1);
  --fc7: rgba(255, 255, 255, 0.08);
  --fc6: rgba(13, 13, 13, 1);
  --dc03: #3A3C4D;
  --dc03-rgb: 58, 60, 77;
  --dc02: #262838;
  --dc02-rgb: 38, 40, 56;
  --dc01: #171822;
  --dc01-rgb: 23, 24, 34;
  --foundMark: rgba(144, 127, 240, 0.16);
  --currentSearch: rgba(255, 166, 42, 0.16);
  --calendarWeekend: rgba(0, 0, 0, 0.12);
  --deepMaskColor: rgba(0, 0, 0, 0.6);
  --secondLevelText: rgba(255, 255, 255, 0.7);
  --firstLevelText: rgba(255, 255, 255, 0.85);
  --errorColor: rgba(240, 115, 105, 1);
  --primaryColor: #907FF0;
  --primaryColor-rgb: 144, 127, 240;
  --thirdLevelText: rgba(255, 255, 255, 0.55);
  --fourthLevelText: rgba(255, 255, 255, 0.4);
  --defaultBg: rgba(26, 26, 26, 1);
  --white: rgba(26, 26, 26, 1);
  --warningColor: rgba(255, 183, 82, 1);
  --treeSelectedBg: rgba(144, 127, 240, 0.16);
  --tooltipBg: rgba(224, 224, 224, 1);
  --successColor: rgba(60, 214, 163, 1);
  --cellSelectedColor: rgba(144, 127, 240, 0.16);
  --lineColor: rgba(255, 255, 255, 0.12);
  --sheetLineColor: rgba(61, 61, 61, 1);
  --shadowColor: rgba(61, 61, 61, 1);
  --rowSelectedBg: rgba(255, 255, 255, 0.08);
  --lowestBg: rgba(13, 13, 13, 1);
  --bgBglessActiveSolid: rgba(62, 62, 62, 1);
  --bgBglessHoverSolid: rgba(43, 43, 43, 1);
  --bgStaticLightDisabled: rgba(255, 255, 255, 0.5);
  --bgStaticLightActive: rgba(255, 255, 255, 0.68);
  --bgStaticLightHover: rgba(255, 255, 255, 0.84);
  --bgControlsDegradeHigh: rgba(0, 0, 0, 0.24);
  --bgControlsDegradeDefault: rgba(0, 0, 0, 0.12);
  --bgControlsDefaultSolid: rgba(43, 43, 43, 1);
  --bgControlsHoverSolid: rgba(62, 62, 62, 1);
  --bgControlsActiveSolid: rgba(80, 80, 80, 1);
  --bgBrandLightActiveSolid: rgba(120, 107, 197, 1);
  --bgBrandLightHoverSolid: rgba(97, 87, 154, 1);
  --bgBrandLightDefaultSolid: rgba(73, 66, 111, 1);
  --bgLogoText: rgba(255, 255, 255, 0.85);
  --bgLogoIcon: rgba(255, 255, 255, 0.85);
  --rainbowGray4: rgba(181, 181, 181, 0.8);
  --rainbowGray3: rgba(181, 181, 181, 0.6);
  --rainbowGray2: rgba(181, 181, 181, 0.4);
  --rainbowGray5: rgba(181, 181, 181, 1);
  --rainbowGray1: rgba(181, 181, 181, 0.2);
  --borderOnwarnLight: rgba(255, 166, 42, 0.24);
  --borderOnwarnDefault: rgba(255, 183, 82, 1);
  --borderWarnDisabled: rgba(255, 166, 42, 0.5);
  --borderWarnActive: rgba(255, 199, 120, 1);
  --borderWarnHover: rgba(255, 183, 82, 1);
  --borderWarnDefault: rgba(255, 166, 42, 1);
  --borderOnsuccessLight: rgba(60, 214, 163, 0.24);
  --borderOnsuccessDefault: rgba(99, 224, 183, 1);
  --borderSuccessDisabled: rgba(60, 214, 163, 0.5);
  --borderSuccessActive: rgba(141, 235, 203, 1);
  --borderSuccessHover: rgba(99, 224, 183, 1);
  --borderSuccessDefault: rgba(60, 214, 163, 1);
  --borderOndangerLight: rgba(238, 83, 71, 0.24);
  --borderOndangerDefault: rgba(245, 144, 137, 1);
  --borderDangerDisabled: rgba(240, 115, 105, 0.5);
  --textReverseDefault: rgba(51, 51, 51, 1);
  --textStaticDisabled: rgba(255, 255, 255, 0.3);
  --textStaticTertiary: rgba(255, 255, 255, 0.6);
  --textStaticSecondary: rgba(255, 255, 255, 0.8);
  --textStaticPrimary: rgba(255, 255, 255, 1);
  --rainbowYellow1:  rgba(255, 223, 64, 0.2);
  --rainbowYellow3:  rgba(255, 195, 16, 0.6);
  --rainbowYellow2:  rgba(255, 195, 16, 0.4);
  --rainbowYellow4:  rgba(255, 195, 16, 0.8);
  --rainbowYellow5:  rgba(255, 195, 16, 1);
  --bgStaticDarkHigh: rgba(79, 84, 92, 1);
  --bgReverseDefault: rgba(224, 224, 224, 1);
  --bgGradientHorizontal: 270deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%;
  --bgGradientVertical: 0deg, #1A1A1A 0%, rgba(26, 26, 26, 0) 100%;
  --borderCommonHover: rgba(255, 255, 255, 0.16);
  --borderCommonActive: rgba(255, 255, 255, 0.2);
  --borderCommonDisabled: rgba(255, 255, 255, 0.8);
  --borderGridVertical: rgba(61, 61, 61, 1);
  --borderGridHorizontal: rgba(61, 61, 61, 1);
  --borderBrandDefault: rgba(144, 127, 240, 1);
  --borderBrandHover: rgba(168, 154, 245, 1);
  --borderBrandActive: rgba(192, 182, 250, 1);
  --borderBrandDisabled: rgba(144, 127, 240, 0.5);
  --borderOnbrandDefault: rgba(168, 154, 245, 1);
  --borderOnbrandLight: rgba(144, 127, 240, 0.24);
  --borderDangerDefault: rgba(213, 84, 75, 1);
  --borderDangerHover: rgba(224, 113, 105, 1);
  --borderDangerActive: rgba(232, 143, 137, 1);
  --borderCommonDefault: rgba(255, 255, 255, 0.12);
  --textCommonSecondary: rgba(255, 255, 255, 0.7);
  --textCommonTertiary: rgba(255, 255, 255, 0.55);
  --textCommonQuaternary: rgba(255, 255, 255, 0.4);
  --textCommonDisabled: rgba(255, 255, 255, 0.25);
  --textBrandDefault: rgba(144, 127, 240, 1);
  --textBrandHover: rgba(168, 154, 245, 1);
  --textBrandActive: rgba(192, 182, 250, 1);
  --textBrandDisabled: rgba(144, 127, 240, 0.5);
  --textDangerDefault: rgba(240, 115, 105, 1);
  --textDangerHover: rgba(245, 144, 137, 1);
  --textDangerActive: rgba(250, 175, 170, 1);
  --textDangerDisabled: rgba(240, 115, 105, 0.5);
  --textSuccessDefault: rgba(60, 214, 163, 1);
  --textSuccessHover: rgba(99, 224, 183, 1);
  --textSuccessActive: rgba(141, 235, 203, 1);
  --textSuccessDisabled: rgba(60, 214, 163, 0.5);
  --textWarnDefault: rgba(255, 166, 42, 1);
  --textWarnHover: rgba(255, 183, 82, 1);
  --textWarnActive: rgba(255, 199, 120, 1);
  --textWarnDisabled: rgba(255, 166, 42, 0.5);
  --textLinkDefault: rgba(144, 127, 240, 1);
  --textLinkHover: rgba(168, 154, 245, 1);
  --textLinkActive: rgba(192, 182, 250, 1);
  --textLinkVisted: rgba(123, 103, 238, 1);
  --textLinkDisabled: rgba(144, 127, 240, 0.5);
  --textCommonPrimary: rgba(255, 255, 255, 0.85);
  --bgBrandLightHover: rgba(144, 127, 240, 0.24);
  --bgBrandLightActive: rgba(144, 127, 240, 0.32);
  --bgBrandLightDisabled: rgba(144, 127, 240, 0.08);
  --bgDangerDefault: rgba(240, 115, 105, 1);
  --bgDangerHover: rgba(245, 144, 137, 1);
  --bgDangerActive: rgba(250, 175, 170, 1);
  --bgDangerDisabled: rgba(240, 115, 105, 0.5);
  --bgDangerLightDefault: rgba(238, 83, 71, 0.16);
  --bgDangerLightHover: rgba(238, 83, 71, 0.24);
  --bgDangerLightActive: rgba(238, 83, 71, 0.32);
  --bgDangerLightDisabled: rgba(238, 83, 71, 0.08);
  --bgSuccessDefault: rgba(60, 214, 163, 1);
  --bgSuccessHover: rgba(99, 224, 183, 1);
  --bgSuccessActive: rgba(141, 235, 203, 1);
  --bgSuccessDisabled: rgba(60, 214, 163, 0.5);
  --bgSuccessLightDefault: rgba(60, 214, 163, 0.16);
  --bgSuccessLightHover: rgba(60, 214, 163, 0.24);
  --bgSuccessLightActive: rgba(60, 214, 163, 0.32);
  --bgSuccessLightDisabled: rgba(60, 214, 163, 0.08);
  --bgWarnDefault: rgba(255, 166, 42, 1);
  --bgWarnHover: rgba(255, 183, 82, 1);
  --bgWarnActive: rgba(255, 199, 120, 1);
  --bgWarnDisabled: rgba(255, 166, 42, 0.5);
  --bgWarnLightDefault: rgba(255, 166, 42, 0.16);
  --bgWarnLightHover: rgba(255, 166, 42, 0.24);
  --bgWarnLightActive: rgba(255, 166, 42, 0.32);
  --bgWarnLightDisabled: rgba(255, 166, 42, 0.08);
  --bgStaticLightDefault: rgba(255, 255, 255, 1);
  --bgStaticDarkLow: rgba(40, 44, 51, 1);
  --bgStaticDarkMedium: rgba(59, 63, 71, 1);
  --bgBrandLightDefault: rgba(144, 127, 240, 0.16);
  --bgCommonHigh: rgba(38, 38, 38, 1);
  --bgCommonHighest: rgba(51, 51, 51, 1);
  --bgBglessHover: rgba(255, 255, 255, 0.08);
  --bgBglessActive: rgba(255, 255, 255, 0.16);
  --bgControlsDefault: rgba(255, 255, 255, 0.08);
  --bgControlsHover: rgba(255, 255, 255, 0.16);
  --bgControlsActive: rgba(255, 255, 255, 0.24);
  --bgControlsDisabled: rgba(255, 255, 255, 0.08);
  --bgControlsElevateDefault: rgba(255, 255, 255, 0.12);
  --bgControlsElevateHigh: rgba(255, 255, 255, 0.24);
  --bgTagDefault: rgba(255, 255, 255, 0.16);
  --bgTagHover: rgba(255, 255, 255, 0.24);
  --bgTagActive: rgba(255, 255, 255, 0.32);
  --bgTagDisabled: rgba(255, 255, 255, 0.08);
  --bgScrollbarDefault: rgba(88, 89, 89, 1);
  --bgScrollbarHover: rgba(114,114,115,1);
  --bgScrollbarActive: rgba(255, 255, 255, 0.32);
  --bgMaskDefault: rgba(0, 0, 0, 0.72);
  --bgBrandDefault: rgba(144, 127, 240, 1);
  --bgBrandHover: rgba(168, 154, 245, 1);
  --bgBrandActive: rgba(192, 182, 250, 1);
  --bgBrandDisabled: rgba(144, 127, 240, 0.5);
  --bgCommonDefault: rgba(26, 26, 26, 1);
  --bgCommonLower: rgba(13, 13, 13, 1);
  --rainbowTangerine5: rgba(255, 147, 46, 1);
  --rainbowTangerine1:  rgba(255, 147, 46, 0.2);
  --rainbowTangerine2:  rgba(255, 147, 46, 0.4);
  --rainbowTangerine3:  rgba(255, 147, 46, 0.6);
  --rainbowTangerine4:  rgba(255, 147, 46, 0.8);
  --rainbowPink1:  rgba(255, 112, 139, 0.2);
  --rainbowPink2:  rgba(255, 122, 147, 0.4);
  --rainbowPink3:  rgba(255, 122, 147, 0.6);
  --rainbowPink4:  rgba(255, 122, 147, 0.8);
  --rainbowPink5:  rgba(255, 122, 147, 1);
  --rainbowGreen1:  rgba(82, 196, 27, 0.2);
  --rainbowGreen2:  rgba(109, 204, 61, 0.4);
  --rainbowGreen3:  rgba(109, 204, 61, 0.6);
  --rainbowGreen4:  rgba(109, 204, 61, 0.8);
  --rainbowGreen5:  rgba(109, 204, 61, 1);
  --rainbowBrown1:  rgba(204, 147, 106, 0.2);
  --rainbowBrown2:  rgba(204, 147, 106, 0.4);
  --rainbowBrown3:  rgba(191, 124, 76, 0.6);
  --rainbowBrown4:  rgba(204, 147, 106, 0.8);
  --rainbowBrown5:  rgba(204, 147, 106, 1);
  --rainbowBlue2:  rgba(92, 207, 255, 0.4);
  --rainbowBlue3:  rgba(92, 207, 255, 0.6);
  --rainbowBlue4:  rgba(92, 207, 255, 0.8);
  --rainbowBlue1:  rgba(92, 207, 255, 0.2);
  --rainbowBlue5:  rgba(92, 207, 255, 1);
  --rainbowOrange1:  rgba(255, 170, 0, 0.2);
  --rainbowOrange2:  rgba(255, 166, 42, 0.4);
  --rainbowOrange3:  rgba(255, 166, 42, 0.6);
  --rainbowOrange4:  rgba(255, 166, 42, 0.8);
  --rainbowOrange5:  rgba(255, 166, 42, 1);
  --rainbowRed1:  rgba(213, 84, 75, 0.2);
  --rainbowRed2:  rgba(240, 115, 105, 0.4);
  --rainbowRed3:  rgba(240, 115, 105, 0.6);
  --rainbowRed4:  rgba(240, 115, 105, 0.8);
  --rainbowRed5:  rgba(240, 115, 105, 1);
  --rainbowIndigo1:  rgba(85, 134, 255, 0.2);
  --rainbowIndigo2:  rgba(114, 152, 247, 0.4);
  --rainbowIndigo3:  rgba(114, 152, 247, 0.6);
  --rainbowIndigo4:  rgba(114, 152, 247, 0.8);
  --rainbowIndigo5:  rgba(114, 152, 247, 1);
  --rainbowTeal1:  rgba(62, 222, 169, 0.2);
  --rainbowTeal2:  rgba(25, 215, 151, 0.4);
  --rainbowTeal3:  rgba(62, 222, 169, 0.6);
  --rainbowTeal4:  rgba(62, 222, 169, 0.8);
  --rainbowTeal5:  rgba(62, 222, 169, 1);
  --rainbowPurple5:  rgba(144, 127, 240, 1);
  --rainbowPurple4:  rgba(144, 127, 240, 0.8);
  --rainbowPurple3:  rgba(144, 127, 240, 0.6);
  --rainbowPurple2:  rgba(144, 127, 240, 0.4);
  --rainbowPurple1:  rgba(144, 127, 240, 0.2);
  --shadowCommonHigh: 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.16);
  --shadowCommonDefault: 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.16);
  --shadowSideRightDefault: 4px 0px 8px rgba(0, 0, 0, 0.16), 2px 0px 4px rgba(0, 0, 0, 0.16);
  --shadowSideLeftDefault: -4px 0px 8px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.16);
  --shadowSideLeftHigh: -6px 0px 12px rgba(0, 0, 0, 0.16), -3px 0px 6px rgba(0, 0, 0, 0.12);
  --shadowSideRightHigh: 6px 0px 12px rgba(0, 0, 0, 0.16), 3px 0px 6px rgba(0, 0, 0, 0.12);
  --shadowCommonHighest: 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.16);
  --lightMaskColor: rgba(38,38,38,0.1);
}
