:root {
  --black_50: #FFFFFF;
  --black_100: #F5F7FA;
  --black_200: #E0E0E0;
  --black_300: #C9C9C9;
  --black_400: #A6A6A6;
  --black_500: #8C8C8C;
  --black_600: #787878;
  --black_700: #636363;
  --black_800: #4F4F4F;
  --black_900: #3C3C3C;
  --black_1000: #262626;
  --blackBlue_50: #FDFDFF;
  --blackBlue_100: #F9F9FF;
  --blackBlue_200: #E9E9F5;
  --blackBlue_300: #D8D9EB;
  --blackBlue_400: #BABDD4;
  --blackBlue_500: #9FA1BB;
  --blackBlue_600: #8487A1;
  --blackBlue_700: #5E607E;
  --blackBlue_800: #3A3C4D;
  --blackBlue_900: #262838;
  --blackBlue_1000: #171822;
  --blue_50: #E4F7FF;
  --blue_100: #C9EFFF;
  --blue_200: #9CE2FF;
  --blue_300: #7ED9FF;
  --blue_400: #70D5FF;
  --blue_500: #55CDFF;
  --blue_600: #40AFDD;
  --blue_700: #2E91BB;
  --blue_800: #177EA9;
  --blue_900: #0B5F83;
  --blue_1000: #093F55;
  --brown_50: #E8DFDD;
  --brown_100: #D1BFBC;
  --brown_200: #B49892;
  --brown_300: #8E645B;
  --brown_400: #78463C;
  --brown_500: #6E382D;
  --brown_600: #5C2F26;
  --brown_700: #4D2720;
  --brown_800: #42221B;
  --brown_900: #371C16;
  --brown_1000: #2C1612;
  --deepPurple_50: #EDEAFF;
  --deepPurple_100: #DCD6FF;
  --deepPurple_200: #CEC5FF;
  --deepPurple_300: #A697FB;
  --deepPurple_400: #8B7AF0;
  --deepPurple_500: #7B67EE;
  --deepPurple_600: #6653D1;
  --deepPurple_700: #5342B4;
  --deepPurple_800: #413297;
  --deepPurple_900: #312479;
  --deepPurple_1000: #160F3F;
  --green_50: #E3F5DA;
  --green_100: #C7F5B1;
  --green_200: #9CE977;
  --green_300: #7BE04B;
  --green_400: #62D929;
  --green_500: #52C41B;
  --green_600: #3DA20C;
  --green_700: #2A8001;
  --green_800: #256407;
  --green_900: #174700;
  --green_1000: #193D08;
  --indigo_50: #E0E9FF;
  --indigo_100: #C2D3FF;
  --indigo_200: #9CB9FF;
  --indigo_300: #81A5FF;
  --indigo_400: #6692FF;
  --indigo_500: #5586FF;
  --indigo_600: #406DDD;
  --indigo_700: #2E56BB;
  --indigo_800: #1F4299;
  --indigo_900: #132F77;
  --indigo_1000: #091F55;
  --orange_50: #FFF6E5;
  --orange_100: #FFE5B7;
  --orange_200: #FFD88A;
  --orange_300: #FFC95C;
  --orange_400: #FFBA2E;
  --orange_500: #FFAB00;
  --orange_600: #FFA114;
  --orange_700: #FF8E0A;
  --orange_800: #DA7600;
  --orange_900: #AB5C00;
  --orange_1000: #7D4400;
  --pink_50: #FFE8EC;
  --pink_100: #FFCED8;
  --pink_200: #FFB2C0;
  --pink_300: #FF98AC;
  --pink_400: #FF8199;
  --pink_500: #FF708B;
  --pink_600: #E25C75;
  --pink_700: #C54A61;
  --pink_800: #A8394E;
  --pink_900: #8A2B3D;
  --pink_1000: #6D1E2D;
  --purple_50: #F4E9FE;
  --purple_100: #E4C5FB;
  --purple_200: #D8ACFA;
  --purple_300: #C789F8;
  --purple_400: #BA6DF6;
  --purple_500: #B35FF5;
  --purple_600: #AB45FB;
  --purple_700: #983AE2;
  --purple_800: #8630CA;
  --purple_900: #7531AC;
  --purple_1000: #482662;
  --red_50: #FBECEB;
  --red_100: #FFD1C8;
  --red_200: #FFB4AF;
  --red_300: #FF8A82;
  --red_400: #E9594F;
  --red_500: #E33E38;
  --red_600: #C42E23;
  --red_700: #B12319;
  --red_800: #911A12;
  --red_900: #6F0F08;
  --red_1000: #4D0601;
  --tangerine_50: #FFEAD6;
  --tangerine_100: #FFD2A8;
  --tangerine_200: #FFAF66;
  --tangerine_300: #FFA047;
  --tangerine_400: #FF8A1F;
  --tangerine_500: #FF7A00;
  --tangerine_600: #E96A02;
  --tangerine_700: #CB5D03;
  --tangerine_800: #954300;
  --tangerine_900: #753500;
  --tangerine_1000: #4D2300;
  --teal_50: #E2F6EF;
  --teal_100: #BDECDA;
  --teal_200: #8BDDBE;
  --teal_300: #66D2A9;
  --teal_400: #45C897;
  --teal_500: #30C28B;
  --teal_600: #269B6F;
  --teal_700: #1D7453;
  --teal_800: #196548;
  --teal_900: #134E38;
  --teal_1000: #083F28;
  --yellow_50: #FFF9E3;
  --yellow_100: #FFF2C2;
  --yellow_200: #FFEBA6;
  --yellow_300: #FFE588;
  --yellow_400: #FFDC62;
  --yellow_500: #FFD43A;
  --yellow_600: #FFCD1E;
  --yellow_700: #FBC508;
  --yellow_800: #E5B300;
  --yellow_900: #B58D02;
  --yellow_1000: #886A00;
}
:root[data-theme="dark"] {
  --rc07: #FFAB00;
  --rc07-rgb: 255, 171, 0;
  --rc11: #6E382D;
  --rc11-rgb: 110, 56, 45;
  --rc00: #B35FF5;
  --rc00-rgb: 179, 95, 245;
  --rc06: #FFEB3A;
  --rc06-rgb: 255, 235, 58;
  --rc02: #5586FF;
  --rc02-rgb: 85, 134, 255;
  --rc05: #52C41B;
  --rc05-rgb: 82, 196, 27;
  --rc08: #FF7A00;
  --rc08-rgb: 255, 122, 0;
  --rc09: #FF708B;
  --rc09-rgb: 255, 112, 139;
  --rc10: #E33E38;
  --rc10-rgb: 227, 62, 56;
  --rc03: #55CDFF;
  --rc03-rgb: 85, 205, 255;
  --rc01: #7B67EE;
  --rc01-rgb: 123, 103, 238;
  --rc04: #30C28B;
  --rc04-rgb: 48, 194, 139;
  --cellSelectedColorSolid: #403C59;
  --cellSelectedColorSolid-rgb: 64, 60, 89;
  --rowSelectedBgSolid: #3A3A3A;
  --rowSelectedBgSolid-rgb: 58, 58, 58;
  --primaryLightSolid: #393649;
  --primaryLightSolid-rgb: 57, 54, 73;
  --gradientBgMask: linear-gradient(270deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 100%);
  --extraLightTeal: rgba(69, 200, 151, 0.08);
  --extraLightOrange: rgba(255, 186, 46, 0.08);
  --extraLightIndigo: rgba(102, 146, 255, 0.08);
  --extraLightRed: rgba(233, 89, 79, 0.08);
  --extraLightPrimary: rgba(139, 122, 240, 0.08);
  --reverse1: #FFFFFF;
  --reverse1-rgb: 255, 255, 255;
  --reverse0: #262626;
  --reverse0-rgb: 38, 38, 38;
  --scrollBar: rgba(255, 255, 255, 0.16);
  --warnLight: rgba(255, 186, 46, 0.16);
  --warn: #FFBA2E;
  --warn-rgb: 255, 186, 46;
  --warnLightHover: rgba(255, 186, 46, 0.24);
  --warnLightActive: rgba(255, 186, 46, 0.32);
  --warnHover: #FFC95C;
  --warnHover-rgb: 255, 201, 92;
  --warnActive: #FFD88A;
  --warnActive-rgb: 255, 216, 138;
  --success: #45C897;
  --success-rgb: 69, 200, 151;
  --successActive: #8BDDBE;
  --successActive-rgb: 139, 221, 190;
  --successHover: #66D2A9;
  --successHover-rgb: 102, 210, 169;
  --successLight: rgba(69, 200, 151, 0.16);
  --successLightHover: rgba(69, 200, 151, 0.24);
  --successLightActive: rgba(69, 200, 151, 0.32);
  --link: #8B7AF0;
  --link-rgb: 139, 122, 240;
  --linkHover: #A697FB;
  --linkHover-rgb: 166, 151, 251;
  --linkActive: #CEC5FF;
  --linkActive-rgb: 206, 197, 255;
  --linkVisted: #CEC5FF;
  --linkVisted-rgb: 206, 197, 255;
  --staticWhite2: rgba(255, 255, 255, 0.6);
  --staticWhite1: rgba(255, 255, 255, 0.8);
  --staticDark0: #5E607E;
  --staticDark0-rgb: 94, 96, 126;
  --staticDark2: #171822;
  --staticDark2-rgb: 23, 24, 34;
  --staticDark1: #262838;
  --staticDark1-rgb: 38, 40, 56;
  --fill2: rgba(255,255,255,0.16);
  --fill1: rgba(255,255,255,0.12);
  --fill0: rgba(255,255,255,0.08);
  --defaultTag: rgba(255,255,255,0.12);
  --staticWhite0: #FFFFFF;
  --staticWhite0-rgb: 255, 255, 255;
  --highestBg: #3D3D3D;
  --highestBg-rgb: 61, 61, 61;
  --highBg: #333333;
  --highBg-rgb: 51, 51, 51;
  --errorLightHover: rgba(233, 89, 79, 0.24);
  --errorLightActive: rgba(233, 89, 79, 0.32);
  --errorLight: rgba(233, 89, 79, 0.12);
  --errorHover: #FF8A82;
  --errorHover-rgb: 255, 138, 130;
  --errorActive: #FFB4AF;
  --errorActive-rgb: 255, 180, 175;
  --primaryLight: rgba(139, 122, 240, 0.12);
  --primaryLightActive: rgba(139, 122, 240, 0.12);
  --primaryLightHover: rgba(139, 122, 240, 0.24);
  --primaryActive: #CEC5FF;
  --primaryActive-rgb: 206, 197, 255;
  --primaryHover: #A697FB;
  --primaryHover-rgb: 166, 151, 251;
  --fc19: rgba(139, 122, 240, 0.12);
  --fc18: rgba(255, 186, 46, 0.2);
  --fc17: rgba(38, 38, 38, 0.2);
  --fc12: rgba(0, 0, 0, 0.5);
  --fc2: rgba(255,255,255,0.7);
  --fc1: rgba(255,255,255,0.85);
  --fc10: #E9594F;
  --fc10-rgb: 233, 89, 79;
  --fc0: #8B7AF0;
  --fc0-rgb: 139, 122, 240;
  --fc3: rgba(255,255,255,0.55);
  --fc4: rgba(255,255,255,0.4);
  --fc8: #292929;
  --fc8-rgb: 41, 41, 41;
  --fc14: #FFBA2E;
  --fc14-rgb: 255, 186, 46;
  --fc16: rgba(139, 122, 240, 0.12);
  --fc13: #F5F7FA;
  --fc13-rgb: 245, 247, 250;
  --fc15: #45C897;
  --fc15-rgb: 69, 200, 151;
  --fc9: rgba(139, 122, 240, 0.2);
  --fc5: #474747;
  --fc5-rgb: 71, 71, 71;
  --fc11: #474747;
  --fc11-rgb: 71, 71, 71;
  --fc7: rgba(255, 255, 255, 0.08);
  --fc6: #1F1F1F;
  --fc6-rgb: 31, 31, 31;
  --dc03: #3A3C4D;
  --dc03-rgb: 58, 60, 77;
  --dc02: #262838;
  --dc02-rgb: 38, 40, 56;
  --dc01: #171822;
  --dc01-rgb: 23, 24, 34;
  --foundMark: rgba(139, 122, 240, 0.12);
  --currentSearch: rgba(255, 186, 46, 0.2);
  --calendarWeekend: rgba(38, 38, 38, 0.2);
  --deepMaskColor: rgba(0, 0, 0, 0.5);
  --secondLevelText: rgba(255,255,255,0.7);
  --firstLevelText: rgba(255,255,255,0.85);
  --errorColor: #E9594F;
  --errorColor-rgb: 233, 89, 79;
  --primaryColor: #8B7AF0;
  --primaryColor-rgb: 139, 122, 240;
  --thirdLevelText: rgba(255,255,255,0.55);
  --fourthLevelText: rgba(255,255,255,0.4);
  --defaultBg: #292929;
  --defaultBg-rgb: 41, 41, 41;
  --white: #292929;
  --white-rgb: 41, 41, 41;
  --warningColor: #FFBA2E;
  --warningColor-rgb: 255, 186, 46;
  --treeSelectedBg: rgba(139, 122, 240, 0.12);
  --tooltipBg: #F5F7FA;
  --tooltipBg-rgb: 245, 247, 250;
  --successColor: #45C897;
  --successColor-rgb: 69, 200, 151;
  --cellSelectedColor: rgba(139, 122, 240, 0.2);
  --lineColor: #474747;
  --lineColor-rgb: 71, 71, 71;
  --sheetLineColor: #474747;
  --sheetLineColor-rgb: 71, 71, 71;
  --shadowColor: #474747;
  --shadowColor-rgb: 71, 71, 71;
  --rowSelectedBg: rgba(255, 255, 255, 0.08);
  --lowestBg: #1F1F1F;
  --lowestBg-rgb: 31, 31, 31;
  --textCommonSecondary: rgba(255, 255, 255, 0.55);
  --textCommonTertiary: rgba(255, 255, 255, 0.4);
  --textCommonQuaternary: rgba(255, 255, 255, 0.7);
  --textBrandDefault: rgba(143, 126, 242, 1);
  --textBrandHover: rgba(164, 149, 245, 1);
  --textBrandActive: rgba(186, 176, 247, 1);
  --textSelectedPrimary: rgba(143, 126, 242, 1);
  --textSelectedSecondary: rgba(255, 255, 255, 0.85);
  --textDangerDefault: rgba(224, 82, 72, 1);
  --textDangerHover: rgba(232, 113, 104, 1);
  --textDangerActive: rgba(171, 35, 26, 1);
  --textSuccessDefault: rgba(78, 207, 157, 1);
  --textSuccessHover: rgba(112, 219, 178, 1);
  --textSuccessActive: rgba(149, 232, 200, 1);
  --textWarnDefault: rgba(255, 185, 46, 1);
  --textWarnHover: rgba(255, 200, 92, 1);
  --textWarnActive: rgba(255, 216, 138, 1);
  --textLinkDefault: rgba(143, 126, 242, 1);
  --textLinkHover: rgba(164, 149, 245, 1);
  --textLinkActive: rgba(186, 176, 247, 1);
  --textLinkVisted: rgba(123, 103, 238, 1);
  --textStaticPrimary: rgba(255,255,255,1);
  --textStaticSecondary: rgba(255,255,255,0.8);
  --textStaticTertiary: rgba(255,255,255,0.6);
  --textReverseDefault: rgba(71, 71, 71, 1);
  --textCommonPrimary: rgba(255, 255, 255, 0.85);
  --bgOnmaskActive: rgba(255,255,255,0.24);
  --bgOnmaskHover: rgba(255,255,255,0.16);
  --bgControlsElevate: rgba(255, 255, 255, 0.08);
  --bgTagHover: rgba(255, 255, 255, 0.24);
  --bgSelectedPrimaryDefaultSolid: rgba(44, 42, 56, 1);
  --bgSelectedPrimaryHoverSolid: rgba(53, 50, 73, 1);
  --bgSelectedPrimaryActiveSolid: rgba(62, 58, 90, 1);
  --bgSelectedSecondaryDefaultSolid: rgba(49, 49, 49, 1);
  --bgSelectedSecondaryHoverSolid: rgba(58, 58, 58, 1);
  --bgSelectedSecondaryActiveSolid: rgba(67, 67, 67, 1);
  --bgDangerLightDefault: rgba(224, 82, 72, 0.12);
  --bgDangerLightHover: rgba(224, 82, 72, 0.2);
  --bgDangerLightActive: rgba(224, 82, 72, 0.28);
  --bgSuccessDefault: rgba(78, 207, 157, 1);
  --bgSuccessHover: rgba(112, 219, 178, 1);
  --bgSuccessActive: rgba(149, 232, 200, 1);
  --bgSuccessLightDefault: rgba(78, 206, 157, 0.12);
  --bgSuccessLightHover: rgba(78, 206, 157, 0.2);
  --bgSuccessLightActive: rgba(78, 206, 157, 0.28);
  --bgWarnDefault: rgba(255, 185, 46, 1);
  --bgWarnHover: rgba(255, 200, 92, 1);
  --bgWarnActive: rgba(255, 216, 138, 1);
  --bgWarnLightDefault: rgba(255, 185, 46, 0.12);
  --bgWarnLightHover: rgba(255, 185, 46, 0.2);
  --bgWarnLightActive: rgba(255, 185, 46, 0.28);
  --bgStaticLight: rgba(255,255,255,1);
  --bgStaticDarkPrimary: rgba(26, 27, 46, 1);
  --bgStaticDarkSecondary: rgba(43, 45, 71, 1);
  --bgStaticDarkTertiary: rgba(62, 65, 97, 1);
  --bgReverseDefault: rgba(255, 255, 255, 1);
  --bgExtralightDeeppurple: rgba(143, 126, 242, 0.08);
  --bgExtralightRed: rgba(224, 82, 72, 0.08);
  --bgExtralightTeal: rgba(78, 206, 157, 0.08);
  --bgExtralightOrange: rgba(255, 185, 46, 0.08);
  --bgExtralightIndigo: rgba(122, 160, 255, 0.08);
  --bgExtralightGray: rgba(255, 255, 255, 0.04);
  --bgLogoText: rgba(255, 255, 255, 0.85);
  --bgLogoIcon: rgba(255, 255, 255, 0.85);
  --bgGradientHorizontal: linear-gradient(270deg, #292929 0%, rgba(41, 41, 41, 0) 100%);
  --bgGradientVertical: linear-gradient(0deg, #292929 2.5%, rgba(41, 41, 41, 0) 100%);
  --bgCommonLower: rgba(31, 31, 31, 1);
  --bgCommonDefault: rgba(41, 41, 41, 1);
  --bgCommonHigh: rgba(51, 51, 51, 1);
  --bgCommonHighest: rgba(61, 61, 61, 1);
  --bgBglessHover: rgba(255, 255, 255, 0.08);
  --bgBglessActive: rgba(255, 255, 255, 0.16);
  --bgControlsDefault: rgba(255, 255, 255, 0.08);
  --bgControlsHover: rgba(255, 255, 255, 0.16);
  --bgControlsActive: rgba(255, 255, 255, 0.24);
  --bgTagDefault: rgba(255, 255, 255, 0.12);
  --bgScrollbarDefault: rgba(71, 71, 71, 1);
  --bgMaskDefault: rgba(0, 0, 0, 0.8);
  --bgSelectedPrimaryDefault: rgba(143, 126, 242, 0.12);
  --bgSelectedPrimaryHover: rgba(143, 126, 242, 0.16);
  --bgSelectedPrimaryActive: rgba(143, 126, 242, 0.24);
  --bgSelectedSecondaryDefault: rgba(255, 255, 255, 0.08);
  --bgSelectedSecondaryHover: rgba(255, 255, 255, 0.16);
  --bgSelectedSecondaryActive: rgba(255, 255, 255, 0.24);
  --bgBrandDefault: rgba(143, 126, 242, 1);
  --bgBrandHover: rgba(164, 149, 245, 1);
  --bgBrandActive: rgba(186, 176, 247, 1);
  --bgBrandLightDefault: rgba(143, 126, 242, 0.12);
  --bgBrandLightHover: rgba(143, 126, 242, 0.2);
  --bgBrandLightActive: rgba(143, 126, 242, 0.28);
  --bgDangerDefault: rgba(224, 82, 72, 1);
  --bgDangerHover: rgba(194, 47, 37, 1);
  --bgDangerActive: rgba(171, 35, 26, 1);
  --borderGridVertical: rgba(71, 71, 71, 1);
  --borderGridHorizontal: rgba(71, 71, 71, 1);
  --borderBrand: rgba(143, 126, 242, 1);
  --borderOnbrandDefault: rgba(164, 149, 245, 1);
  --borderOnbrandLight: rgba(143, 126, 242, 0.28);
  --borderDanger: rgba(224, 82, 72, 1);
  --borderOndangerDefault: rgba(232, 113, 104, 1);
  --borderOndangerLight: rgba(224, 82, 72, 0.28);
  --borderSuccess: rgba(78, 207, 157, 1);
  --borderOnsuccessDefault: rgba(112, 219, 178, 1);
  --borderOnsuccessLight: rgba(78, 206, 157, 0.28);
  --borderWarn: rgba(255, 185, 46, 1);
  --borderOnwarnDefault: rgba(255, 200, 92, 1);
  --borderOnwarnLight: rgba(255, 185, 46, 0.28);
  --borderCommon: rgba(71, 71, 71, 1);
  --rainbowYellow1: rgba(255, 221, 97, 0.2);
  --rainbowYellow3: rgba(255, 221, 97, 0.6);
  --rainbowYellow2: rgba(255, 221, 97, 0.4);
  --rainbowYellow4: rgba(255, 221, 97, 0.8);
  --rainbowYellow5: rgba(255, 221, 97, 1);
  --rainbowTangerine5: rgba(255, 147, 46,1);
  --rainbowTangerine1: rgba(255, 147, 46,0.2);
  --rainbowTangerine2: rgba(255, 147, 46,0.4);
  --rainbowTangerine3: rgba(255, 147, 46,0.6);
  --rainbowTangerine4: rgba(255, 147, 46,0.8);
  --rainbowPink1: rgba(255, 138, 159,0.2);
  --rainbowPink2: rgba(255, 138, 159,0.4);
  --rainbowPink3: rgba(255, 138, 159,0.6);
  --rainbowPink4: rgba(255, 138, 159,0.8);
  --rainbowPink5: rgba(255, 138, 159,1);
  --rainbowGreen1: rgba(114,214,64,0.2);
  --rainbowGreen2: rgba(114,214,64,0.4);
  --rainbowGreen3: rgba(114,214,64,0.6);
  --rainbowGreen4: rgba(114,214,64,0.8);
  --rainbowGreen5: rgba(114,214,64,1);
  --rainbowBrown1: rgba(204,144,102,0.2);
  --rainbowBrown2: rgba(204,144,102,0.4);
  --rainbowBrown3: rgba(204,144,102,0.6);
  --rainbowBrown4: rgba(204,144,102,0.8);
  --rainbowBrown5: rgba(204,144,102,1);
  --rainbowBlue2: rgba(117, 214, 255,0.4);
  --rainbowBlue3: rgba(117, 214, 255,0.6);
  --rainbowBlue4: rgba(117, 214, 255,0.8);
  --rainbowBlue1: rgba(117, 214, 255,0.2);
  --rainbowBlue5: rgba(117, 214, 255,1);
  --rainbowOrange1: rgba(255, 185, 46,0.2);
  --rainbowOrange2: rgba(255, 185, 46,0.4);
  --rainbowOrange3: rgba(255, 185, 46,0.6);
  --rainbowOrange4: rgba(255, 185, 46,0.8);
  --rainbowOrange5: rgba(255, 185, 46,1);
  --rainbowRed1: rgba(224, 82, 72,0.2);
  --rainbowRed2: rgba(224, 82, 72,0.4);
  --rainbowRed3: rgba(224, 82, 72,0.6);
  --rainbowRed4: rgba(224, 82, 72,0.8);
  --rainbowRed5: rgba(224, 82, 72,1);
  --rainbowIndigo1: rgba(122, 160, 255,0.2);
  --rainbowIndigo2: rgba(122, 160, 255,0.4);
  --rainbowIndigo3: rgba(122, 160, 255,0.6);
  --rainbowIndigo4: rgba(122, 160, 255,0.8);
  --rainbowIndigo5: rgba(122, 160, 255,1);
  --rainbowTeal1: rgba(78, 207, 157,0.2);
  --rainbowTeal2: rgba(78, 207, 157,0.4);
  --rainbowTeal3: rgba(78, 207, 157,0.6);
  --rainbowTeal4: rgba(78, 207, 157,0.8);
  --rainbowTeal5: rgba(78, 207, 157,1);
  --rainbowPurple5: rgba(143, 126, 242,1);
  --rainbowPurple4: rgba(143, 126, 242,0.8);
  --rainbowPurple3: rgba(143, 126, 242,0.6);
  --rainbowPurple2: rgba(143, 126, 242,0.4);
  --rainbowPurple1: rgba(143, 126, 242,0.2);
  --shadowCommonHigh: 0px 0px 0px 1px #474747, 0px 2px 4px rgba(0, 0, 0, 0.12), 0px 6px 12px rgba(0, 0, 0, 0.16);
  --shadowCommonDefault: 0px 0px 0px 1px #3D3D3D, 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.16);
  --shadowSideRightDefault: px 0px 0px #3D3D3D, 4px 0px 8px rgba(0, 0, 0, 0.16), 2px 0px 4px rgba(0, 0, 0, 0.16);
  --shadowSideLeftDefault: -1px 0px 0px #3D3D3D, -4px 0px 8px rgba(0, 0, 0, 0.16), -2px 0px 4px rgba(0, 0, 0, 0.16);
  --shadowSideLeftHigh: 1px 0px 0px #474747, -6px 0px 12px rgba(0, 0, 0, 0.16), -3px 0px 6px rgba(0, 0, 0, 0.12);
  --shadowSideRightHigh: 1px 0px 0px #474747, 6px 0px 12px rgba(0, 0, 0, 0.16), 3px 0px 6px rgba(0, 0, 0, 0.12);
  --shadowCommonHighest: 0px 0px 0px 1px #525252, 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 12px 24px rgba(0, 0, 0, 0.16);
  --lightMaskColor: rgba(38,38,38,0.1);
}
:root[data-theme="light"] {
  --rc07: #FFAB00;
  --rc07-rgb: 255, 171, 0;
  --rc11: #6E382D;
  --rc11-rgb: 110, 56, 45;
  --rc00: #B35FF5;
  --rc00-rgb: 179, 95, 245;
  --rc06: #FFEB3A;
  --rc06-rgb: 255, 235, 58;
  --rc02: #5586FF;
  --rc02-rgb: 85, 134, 255;
  --rc05: #52C41B;
  --rc05-rgb: 82, 196, 27;
  --rc08: #FF7A00;
  --rc08-rgb: 255, 122, 0;
  --rc09: #FF708B;
  --rc09-rgb: 255, 112, 139;
  --rc10: #E33E38;
  --rc10-rgb: 227, 62, 56;
  --rc03: #55CDFF;
  --rc03-rgb: 85, 205, 255;
  --rc01: #7B67EE;
  --rc01-rgb: 123, 103, 238;
  --rc04: #30C28B;
  --rc04-rgb: 48, 194, 139;
  --cellSelectedColorSolid: #DCD6FF;
  --cellSelectedColorSolid-rgb: 220, 214, 255;
  --rowSelectedBgSolid: #F5F7FA;
  --rowSelectedBgSolid-rgb: 245, 247, 250;
  --primaryLightSolid: #EDEAFF;
  --primaryLightSolid-rgb: 237, 234, 255;
  --gradientBgMask: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  --extraLightTeal: rgba(226, 246, 239, 0.5);
  --extraLightOrange: rgba(255, 246, 229, 0.5);
  --extraLightIndigo: rgba(224, 233, 255, 0.5);
  --extraLightRed: rgba(251, 236, 235, 0.5);
  --extraLightPrimary: rgba(237, 234, 255, 0.5);
  --reverse1: #262626;
  --reverse1-rgb: 38, 38, 38;
  --reverse0: #FFFFFF;
  --reverse0-rgb: 255, 255, 255;
  --scrollBar: #E0E0E0;
  --scrollBar-rgb: 224, 224, 224;
  --warnLight: #FFF6E5;
  --warnLight-rgb: 255, 246, 229;
  --warn: #FFAB00;
  --warn-rgb: 255, 171, 0;
  --warnLightHover: #FFE5B7;
  --warnLightHover-rgb: 255, 229, 183;
  --warnLightActive: #FFD88A;
  --warnLightActive-rgb: 255, 216, 138;
  --warnHover: #FFA114;
  --warnHover-rgb: 255, 161, 20;
  --warnActive: #FF8E0A;
  --warnActive-rgb: 255, 142, 10;
  --success: #30C28B;
  --success-rgb: 48, 194, 139;
  --successActive: #1D7453;
  --successActive-rgb: 29, 116, 83;
  --successHover: #269B6F;
  --successHover-rgb: 38, 155, 111;
  --successLight: #E2F6EF;
  --successLight-rgb: 226, 246, 239;
  --successLightHover: #BDECDA;
  --successLightHover-rgb: 189, 236, 218;
  --successLightActive: #8BDDBE;
  --successLightActive-rgb: 139, 221, 190;
  --link: #7B67EE;
  --link-rgb: 123, 103, 238;
  --linkHover: #6653D1;
  --linkHover-rgb: 102, 83, 209;
  --linkActive: #5342B4;
  --linkActive-rgb: 83, 66, 180;
  --linkVisted: #A697FB;
  --linkVisted-rgb: 166, 151, 251;
  --staticWhite2: rgba(255, 255, 255, 0.6);
  --staticWhite1: rgba(255, 255, 255, 0.8);
  --staticDark0: #5E607E;
  --staticDark0-rgb: 94, 96, 126;
  --staticDark2: #171822;
  --staticDark2-rgb: 23, 24, 34;
  --staticDark1: #262838;
  --staticDark1-rgb: 38, 40, 56;
  --fill2: #C9C9C9;
  --fill2-rgb: 201, 201, 201;
  --fill1: #E0E0E0;
  --fill1-rgb: 224, 224, 224;
  --fill0: #F5F7FA;
  --fill0-rgb: 245, 247, 250;
  --defaultTag: #E0E0E0;
  --defaultTag-rgb: 224, 224, 224;
  --staticWhite0: #FFFFFF;
  --staticWhite0-rgb: 255, 255, 255;
  --highestBg: #FFFFFF;
  --highestBg-rgb: 255, 255, 255;
  --highBg: #FFFFFF;
  --highBg-rgb: 255, 255, 255;
  --errorLightHover: #FFD1C8;
  --errorLightHover-rgb: 255, 209, 200;
  --errorLightActive: #FFB4AF;
  --errorLightActive-rgb: 255, 180, 175;
  --errorLight: #FBECEB;
  --errorLight-rgb: 251, 236, 235;
  --errorHover: #C42E23;
  --errorHover-rgb: 196, 46, 35;
  --errorActive: #B12319;
  --errorActive-rgb: 177, 35, 25;
  --primaryLight: #EDEAFF;
  --primaryLight-rgb: 237, 234, 255;
  --primaryLightActive: #EDEAFF;
  --primaryLightActive-rgb: 237, 234, 255;
  --primaryLightHover: #DCD6FF;
  --primaryLightHover-rgb: 220, 214, 255;
  --primaryActive: #5342B4;
  --primaryActive-rgb: 83, 66, 180;
  --primaryHover: #6653D1;
  --primaryHover-rgb: 102, 83, 209;
  --fc19: rgba(220, 214, 255, 0.4);
  --fc18: #FFE5B7;
  --fc18-rgb: 255, 229, 183;
  --fc17: rgba(242, 244, 246, 0.4);
  --shadowBg: #262626;
  --shadowBg-rgb: 38, 38, 38;
  --enterpriseFg: #406DDD;
  --enterpriseFg-rgb: 64, 109, 221;
  --enterpriseBg: #E0E0E0;
  --enterpriseBg-rgb: 224, 224, 224;
  --bronzeFg: #AB5C00;
  --bronzeFg-rgb: 171, 92, 0;
  --bronzeBg: #E0E0E0;
  --bronzeBg-rgb: 224, 224, 224;
  --silverFg: #5586FF;
  --silverFg-rgb: 85, 134, 255;
  --silverBg: #E0E9FF;
  --silverBg-rgb: 224, 233, 255;
  --goldenFg: #FFAB00;
  --goldenFg-rgb: 255, 171, 0;
  --goldenBg: #FFF2C2;
  --goldenBg-rgb: 255, 242, 194;
  --or400: #FFBA2E;
  --or400-rgb: 255, 186, 46;
  --fc12: rgba(38, 38, 38, 0.5);
  --fc2: #636363;
  --fc2-rgb: 99, 99, 99;
  --fc1: #262626;
  --fc1-rgb: 38, 38, 38;
  --fc10: #E33E38;
  --fc10-rgb: 227, 62, 56;
  --fc0: #7B67EE;
  --fc0-rgb: 123, 103, 238;
  --fc3: #8C8C8C;
  --fc3-rgb: 140, 140, 140;
  --fc4: #C9C9C9;
  --fc4-rgb: 201, 201, 201;
  --fc8: #FFFFFF;
  --fc8-rgb: 255, 255, 255;
  --fc14: #FFAB00;
  --fc14-rgb: 255, 171, 0;
  --fc16: #EDEAFF;
  --fc16-rgb: 237, 234, 255;
  --fc13: #3C3C3C;
  --fc13-rgb: 60, 60, 60;
  --fc15: #30C28B;
  --fc15-rgb: 48, 194, 139;
  --fc9: #DCD6FF;
  --fc9-rgb: 220, 214, 255;
  --fc5: #E9E9F5;
  --fc5-rgb: 233, 233, 245;
  --fc11: #E0E0E0;
  --fc11-rgb: 224, 224, 224;
  --fc7: #F5F7FA;
  --fc7-rgb: 245, 247, 250;
  --fc6: #F5F7FA;
  --fc6-rgb: 245, 247, 250;
  --dc03: #3A3C4D;
  --dc03-rgb: 58, 60, 77;
  --dc02: #262838;
  --dc02-rgb: 38, 40, 56;
  --dc01: #171822;
  --dc01-rgb: 23, 24, 34;
  --foundMark: rgba(220, 214, 255, 0.4);
  --currentSearch: #FFE5B7;
  --currentSearch-rgb: 255, 229, 183;
  --calendarWeekend: rgba(242, 244, 246, 0.4);
  --folderNodeDefaultColor: #FFBA2E;
  --folderNodeDefaultColor-rgb: 255, 186, 46;
  --deepMaskColor: rgba(38, 38, 38, 0.5);
  --secondLevelText: #636363;
  --secondLevelText-rgb: 99, 99, 99;
  --firstLevelText: #262626;
  --firstLevelText-rgb: 38, 38, 38;
  --errorColor: #E33E38;
  --errorColor-rgb: 227, 62, 56;
  --primaryColor: #7B67EE;
  --primaryColor-rgb: 123, 103, 238;
  --thirdLevelText: #8C8C8C;
  --thirdLevelText-rgb: 140, 140, 140;
  --fourthLevelText: #C9C9C9;
  --fourthLevelText-rgb: 201, 201, 201;
  --defaultBg: #FFFFFF;
  --defaultBg-rgb: 255, 255, 255;
  --white: #FFFFFF;
  --white-rgb: 255, 255, 255;
  --warningColor: #FFAB00;
  --warningColor-rgb: 255, 171, 0;
  --treeSelectedBg: #EDEAFF;
  --treeSelectedBg-rgb: 237, 234, 255;
  --tooltipBg: #3C3C3C;
  --tooltipBg-rgb: 60, 60, 60;
  --successColor: #30C28B;
  --successColor-rgb: 48, 194, 139;
  --cellSelectedColor: #DCD6FF;
  --cellSelectedColor-rgb: 220, 214, 255;
  --lineColor: #E9E9F5;
  --lineColor-rgb: 233, 233, 245;
  --sheetLineColor: #E0E0E0;
  --sheetLineColor-rgb: 224, 224, 224;
  --shadowColor: #E0E0E0;
  --shadowColor-rgb: 224, 224, 224;
  --rowSelectedBg: #F5F7FA;
  --rowSelectedBg-rgb: 245, 247, 250;
  --lowestBg: #F5F7FA;
  --lowestBg-rgb: 245, 247, 250;
  --textCommonSecondary: rgba(97, 97, 97, 1);
  --textCommonTertiary: rgba(148, 148, 148, 1);
  --textCommonQuaternary: rgba(189, 189, 189, 1);
  --textBrandDefault: #7B67EE;
  --textBrandDefault-rgb: 123, 103, 238;
  --textBrandHover: rgba(97, 76, 212, 1);
  --textBrandActive: rgba(71, 51, 184, 1);
  --textSelectedPrimary: #7B67EE;
  --textSelectedPrimary-rgb: 123, 103, 238;
  --textSelectedSecondary: rgba(46, 46, 46, 1);
  --textDangerDefault: #E33E38;
  --textDangerDefault-rgb: 227, 62, 56;
  --textDangerHover: rgba(194, 47, 37, 1);
  --textDangerActive: rgba(171, 35, 26, 1);
  --textSuccessDefault: #30C28B;
  --textSuccessDefault-rgb: 48, 194, 139;
  --textSuccessHover: rgba(35, 176, 122, 1);
  --textSuccessActive: rgba(24, 158, 107, 1);
  --textWarnDefault: #FFAB00;
  --textWarnDefault-rgb: 255, 171, 0;
  --textWarnHover: rgba(224, 150, 0, 1);
  --textWarnActive: rgba(194, 129, 0, 1);
  --textLinkDefault: #7B67EE;
  --textLinkDefault-rgb: 123, 103, 238;
  --textLinkHover: rgba(97, 76, 212, 1);
  --textLinkActive: rgba(71, 51, 184, 1);
  --textLinkVisted: rgba(164, 149, 245, 1);
  --textStaticPrimary: rgba(255,255,255,1);
  --textStaticSecondary: rgba(255,255,255,0.8);
  --textStaticTertiary: rgba(255,255,255,0.6);
  --textReverseDefault: rgba(255,255,255,1);
  --textCommonPrimary: rgba(46, 46, 46, 1);
  --bgOnmaskActive: rgba(255,255,255,0.24);
  --bgOnmaskHover: rgba(255,255,255,0.16);
  --bgControlsElevate: rgba(255, 255, 255, 1);
  --bgTagHover: rgba(38,38, 38, 0.2);
  --bgSelectedPrimaryDefaultSolid: rgba(233, 229, 255, 1);
  --bgSelectedPrimaryHoverSolid: rgba(212, 204, 252, 1);
  --bgSelectedPrimaryActiveSolid: rgba(186, 176, 247, 1);
  --bgSelectedSecondaryDefaultSolid: rgba(240, 242, 245, 1);
  --bgSelectedSecondaryHoverSolid: rgba(220, 223, 229, 1);
  --bgSelectedSecondaryActiveSolid: rgba(201, 206, 214, 1);
  --bgDangerLightDefault: #FBECEB;
  --bgDangerLightDefault-rgb: 251, 236, 235;
  --bgDangerLightHover: rgba(247, 187, 183, 1);
  --bgDangerLightActive: rgba(240, 152, 146, 1);
  --bgSuccessDefault: #30C28B;
  --bgSuccessDefault-rgb: 48, 194, 139;
  --bgSuccessHover: rgba(35, 176, 122, 1);
  --bgSuccessActive: rgba(24, 158, 107, 1);
  --bgSuccessLightDefault: rgba(229, 255, 245, 1);
  --bgSuccessLightHover: rgba(229, 255, 245, 1);
  --bgSuccessLightActive: rgba(149, 232, 200, 1);
  --bgWarnDefault: #FFAB00;
  --bgWarnDefault-rgb: 255, 171, 0;
  --bgWarnHover: rgba(224, 150, 0, 1);
  --bgWarnActive: rgba(194, 129, 0, 1);
  --bgWarnLightDefault: rgba(255, 246, 229, 1);
  --bgWarnLightHover: rgba(255, 231, 184, 1);
  --bgWarnLightActive: rgba(255, 216, 138, 1);
  --bgStaticLight: rgba(255,255,255,1);
  --bgStaticDarkPrimary: rgba(26, 27, 46, 1);
  --bgStaticDarkSecondary: rgba(43, 45, 71, 1);
  --bgStaticDarkTertiary: rgba(62, 65, 97, 1);
  --bgReverseDefault: rgba(71, 71, 71, 1);
  --bgExtralightDeeppurple: rgba(238, 229, 255, 0.5);
  --bgExtralightRed: rgba(251, 236, 235, 0.5);
  --bgExtralightTeal: rgba(229, 255, 249, 0.5);
  --bgExtralightOrange: rgba(255, 251, 229, 0.5);
  --bgExtralightIndigo: rgba(229, 232, 255, 0.5);
  --bgExtralightGray: rgba(242, 245, 250, 0.5);
  --bgLogoText: rgba(0, 6, 80, 1);
  --bgLogoIcon: #7B67EE;
  --bgLogoIcon-rgb: 123, 103, 238;
  --bgGradientHorizontal: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  --bgGradientVertical: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  --bgCommonLower: rgba(240, 242, 245, 1);
  --bgCommonDefault: rgba(255,255,255,1);
  --bgCommonHigh: rgba(255,255,255,1);
  --bgCommonHighest: rgba(255,255,255,1);
  --bgBglessHover: rgba(0, 0, 0, 0.08);
  --bgBglessActive: rgba(0, 0, 0, 0.12);
  --bgControlsDefault: rgba(240, 242, 245, 1);
  --bgControlsHover: rgba(220, 223, 229, 1);
  --bgControlsActive: rgba(201, 206, 214, 1);
  --bgTagDefault: rgba(38,38, 38, 0.12);
  --bgScrollbarDefault: rgba(219, 219, 219, 1);
  --bgMaskDefault: rgba(0, 0, 0, 0.5);
  --bgSelectedPrimaryDefault: rgba(233, 229, 255, 1);
  --bgSelectedPrimaryHover: rgba(212, 204, 252, 1);
  --bgSelectedPrimaryActive: rgba(186, 176, 247, 1);
  --bgSelectedSecondaryDefault: rgba(240, 242, 245, 1);
  --bgSelectedSecondaryHover: rgba(220, 223, 229, 1);
  --bgSelectedSecondaryActive: rgba(201, 206, 214, 1);
  --bgBrandDefault: #7B67EE;
  --bgBrandDefault-rgb: 123, 103, 238;
  --bgBrandHover: rgba(97, 76, 212, 1);
  --bgBrandActive: rgba(71, 51, 184, 1);
  --bgBrandLightDefault: rgba(233, 229, 255, 1);
  --bgBrandLightHover: rgba(212, 204, 252, 1);
  --bgBrandLightActive: rgba(186, 176, 247, 1);
  --bgDangerDefault: #E33E38;
  --bgDangerDefault-rgb: 227, 62, 56;
  --bgDangerHover: rgba(194, 47, 37, 1);
  --bgDangerActive: rgba(171, 35, 26, 1);
  --borderGridVertical: rgba(219, 219, 219, 1);
  --borderGridHorizontal: rgba(219, 219, 219, 1);
  --borderBrand: #7B67EE;
  --borderBrand-rgb: 123, 103, 238;
  --borderOnbrandDefault: rgba(97, 76, 212, 1);
  --borderOnbrandLight: rgba(212, 204, 252, 1);
  --borderDanger: #E33E38;
  --borderDanger-rgb: 227, 62, 56;
  --borderOndangerDefault: rgba(194, 47, 37, 1);
  --borderOndangerLight: rgba(247, 187, 183, 1);
  --borderSuccess: #30C28B;
  --borderSuccess-rgb: 48, 194, 139;
  --borderOnsuccessDefault: rgba(35, 176, 122, 1);
  --borderOnsuccessLight: rgba(188, 245, 223, 1);
  --borderWarn: #FFAB00;
  --borderWarn-rgb: 255, 171, 0;
  --borderOnwarnDefault: rgba(224, 150, 0, 1);
  --borderOnwarnLight: rgba(255, 231, 184, 1);
  --borderCommon: rgba(220, 223, 229, 1);
  --rainbowYellow1: rgba(255, 249, 229, 1);
  --rainbowYellow3: rgba(255, 235, 163, 1);
  --rainbowYellow2: rgba(255, 242, 196, 1);
  --rainbowYellow4: rgba(255, 221, 97, 1);
  --rainbowYellow5: rgba(255, 212, 58, 1);
  --rainbowTangerine5: rgba(255, 122, 0, 1);
  --rainbowTangerine1: rgba(255, 242, 229, 1);
  --rainbowTangerine2: rgba(255, 218, 184, 1);
  --rainbowTangerine3: rgba(255, 194, 138, 1);
  --rainbowTangerine4: rgba(255, 147, 46, 1);
  --rainbowPink1: rgba(255, 229, 234, 1);
  --rainbowPink2: rgba(255, 207, 215, 1);
  --rainbowPink3: rgba(255, 184, 197, 1);
  --rainbowPink4: rgba(255, 138, 159, 1);
  --rainbowPink5: rgba(255, 112, 139, 1);
  --rainbowGreen1: rgba(238, 255, 229, 1);
  --rainbowGreen2: rgba(204, 245, 184, 1);
  --rainbowGreen3: rgba(172, 235, 141, 1);
  --rainbowGreen4: rgba(114, 214, 64, 1);
  --rainbowGreen5: rgba(82, 196, 27, 1);
  --rainbowBrown1: rgba(255, 240, 229, 1);
  --rainbowBrown2: rgba(242, 214, 194, 1);
  --rainbowBrown3: rgba(229, 189, 161, 1);
  --rainbowBrown4: rgba(204, 144, 102, 1);
  --rainbowBrown5: rgba(191, 124, 76, 1);
  --rainbowBlue2: rgba(201, 239, 255, 1);
  --rainbowBlue3: rgba(173, 231, 255, 1);
  --rainbowBlue4: rgba(117, 214, 255, 1);
  --rainbowBlue1: rgba(229, 247, 255, 1);
  --rainbowBlue5: rgba(85, 205, 255, 1);
  --rainbowOrange1: rgba(255, 246, 229, 1);
  --rainbowOrange2: rgba(255, 231, 184, 1);
  --rainbowOrange3: rgba(255, 216, 138, 1);
  --rainbowOrange4: rgba(255, 185, 46, 1);
  --rainbowOrange5: rgba(255, 171, 0, 1);
  --rainbowRed1: rgba(255, 231, 229, 1);
  --rainbowRed2: rgba(247, 187, 183, 1);
  --rainbowRed3: rgba(240, 152, 146, 1);
  --rainbowRed4: rgba(224, 82, 72, 1);
  --rainbowRed5: rgba(213, 61, 50, 1);
  --rainbowIndigo1: rgba(229, 237, 255, 1);
  --rainbowIndigo2: rgba(207, 220, 255, 1);
  --rainbowIndigo3: rgba(178, 200, 255, 1);
  --rainbowIndigo4: rgba(122, 160, 255, 1);
  --rainbowIndigo5: rgba(85, 134, 255, 1);
  --rainbowTeal1: rgba(229, 255, 245, 1);
  --rainbowTeal2: rgba(188, 245, 223, 1);
  --rainbowTeal3: rgba(149, 232, 200, 1);
  --rainbowTeal4: rgba(78, 207, 157, 1);
  --rainbowTeal5: rgba(48, 194, 139, 1);
  --rainbowPurple5: rgba(123, 103, 238, 1);
  --rainbowPurple4: rgba(143, 126, 242, 1);
  --rainbowPurple3: rgba(186, 176, 247, 1);
  --rainbowPurple2: rgba(212, 204, 252, 1);
  --rainbowPurple1: rgba(233, 229, 255, 1);
  --shadowCommonHigh: 0px 0px 0px 1px #DCDFE5, 0px 2px 4px rgba(38, 38, 38, 0.08), 0px 6px 12px rgba(38, 38, 38, 0.08);
  --shadowCommonDefault: 0px 0px 0px 1px #DCDFE5, 0px 1px 2px rgba(38, 38, 38, 0.1), 0px 3px 6px rgba(38, 38, 38, 0.08);
  --shadowSideRightDefault: 1px 0px 2px rgba(38, 38, 38, 0.1), 4px 0px 8px rgba(38, 38, 38, 0.08);
  --shadowSideLeftDefault: 1px 0px 2px rgba(38, 38, 38, 0.1), -4px 0px 8px rgba(38, 38, 38, 0.08);
  --shadowSideLeftHigh: -2px 0px 4px rgba(38, 38, 38, 0.12), -6px 0px 12px rgba(38, 38, 38, 0.08);
  --shadowSideRightHigh: 2px 0px 4px rgba(38, 38, 38, 0.12), 6px 0px 12px rgba(38, 38, 38, 0.08);
  --shadowCommonHighest: 0px 0px 0px 1px #DCDFE5, 0px 3px 6px rgba(38, 38, 38, 0.1), 0px 8px 16px rgba(38, 38, 38, 0.08);
  --lightMaskColor: rgba(38,38,38,0.1);
}
