:root {
  --zIndex-1: 100;
  --zIndex-2: 200;
  --zIndex-3: 300;
  --zIndex-4: 400;
  --zIndex-5: 500;
  --zIndex-6: 600;
  --zIndex-7: 700;
  --zIndex-8: 800;
  --zIndex-9: 900;
  --zIndex-10: 1000;
  --zIndex-11: 1100;
  --zIndex-12: 1200;
  
  --viewSortBoxIndex: 10;
  --changRowHeightBox: 10;
  --dragColumnWidthAfter: 1;
  --viewFilterBox: 10;
  --previewFile: 1001;
  --changeMemberDeptModal: 99;
  --userMenu: 2;
  --spaceMenu: 2;
  --catalogCloseBtn: 13;
  --viewSwitchItem: -1;
  --grid: 1;
  --catalogShortMenu: 5;
  --container: 11;
  --fillHandleZIndex: 12;
  --scrollBar: 11;
  --contextmenu: 100;
  --image: 1;
  /* Menu on the left side of the page */
  --navigation: 2; 
  /* ant design modal z-index is 1000, here and it is the same, to ensure that whoever comes out after, is on top */
  --overAntModal: 1000;
  /* Render the alert in document.body, the same as the display position of the message */
  --funcAlert: 1000;
  --searchMemberList: 2;
  --group: 1;
  --shallow: 100;
  /* Border circle when dragging and dropping nodes */
  --drag-line-circle: 2;
  --tabButton: 10;
  --tabButtonSvg: 1;
  --tabBlank: 5;
  --tabAddNewIcon: 10;
  --shareMask: 2;
  /* Drag lines in splitPane component */
  --splitPaneResizer: 3;
  /* In the new link invitation popup, the switch in the treeSelect component */
  --switchIcon: -1;
  /* New link invitation pop-up window, treeSelect component in the hover and select when the background color */
  --beforeContent: -2;
  --emojiPicker: 10;
  --triggerIndex: 10000;
  --catalogSearchGlass: 10;
  --vikaby: 999;
  --contextMenuZIndex: 10000;
  --memberOptionListZIndex: 1000;
  --linkEditorZIndex: 999;
  --expandWidget: 999;
  
  /* # 1 */
  --zIndex-1-mobileFriendlyTip: var(--zIndex-1);
  --zIndex-1-shareMobileSide: var(--zIndex-1);
  --zIndex-1-sideMaskZIndex: var(--zIndex-1);
  --zIndex-1-viewListMaskZIndex: var(--zIndex-1);
  --zIndex-1-previewMainFIleContainer: var(--zIndex-1);
  --zIndex-1-expandMultiTipTransition: var(--zIndex-1);
  --zIndex-1-statusbar: var(--zIndex-1);
  
  /* # 2 */
  --zIndex-2-wechatShareGuideZIndex: var(--zIndex-2);
  --zIndex-2-previewMainPageButton: var(--zIndex-2);
  --zIndex-2-statusbarHover: var(--zIndex-2);
  /* # 3 */
  --zIndex-3-previewToolBar: var(--zIndex-3);
  --zIndex-3-previewDisplayList: var(--zIndex-3);
  --zIndex-3-uploadDeleteIcon: var(--zIndex-3);
  
  /* # 10 */
  --zIndex-10-viewListZIndex: var(--zIndex-10);
  --zIndex-10-sideMaskZIndex: var(--zIndex-10);
  --zIndex-10-previewFileMaskZIndex: var(--zIndex-10);
  --zIndex-10-uploadZoneOpacity: var(--zIndex-10);
  --zIndex-10-fieldDescBox: var(--zIndex-10);
  /* # 12 */
  --zIndex-12-mobileBackZIndex: var(--zIndex-12);
  /* Template */
  --template_navigation: 3;
  --template_category_scroll_area: 0;
  --template_tip: 10;
  
  /* View tab bar */
  --splitMenuContent: 15;
  --tabbarNav: 14;
  --splitCloseBtn: 16;
  
  /* Magic Form Upload Attachment */
  --formAttachment: 10;
}
