<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.space.mapper.asset.AssetMapper">
    <select id="selectDtoByTokens" resultType="com.vikadata.scheduler.space.model.AssetDto">
        SELECT id, `checksum`, file_size, file_url
        FROM vika_asset
        WHERE file_url IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertEntity">
        INSERT INTO vika_asset(id, checksum, head_sum, bucket, file_size, file_url, mime_type, extension_name, height,
                               width)
        VALUES (#{entity.id}, #{entity.checksum}, #{entity.headSum}, #{entity.bucket}, #{entity.fileSize},
                #{entity.fileUrl}, #{entity.mimeType}, #{entity.extensionName}, #{entity.height}, #{entity.width})
    </insert>

</mapper>
