<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable <https://github.com/apitable/apitable>
 Copyright (C) 2022 APITable Ltd. <https://apitable.com>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.organization.mapper.RoleMapper">

    <select id="selectCountBySpaceIdAndRoleName" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ${tablePrefix}unit_role
        WHERE space_id = #{spaceId}
          AND role_name = #{roleName}
          AND is_deleted = 0
    </select>

    <select id="selectMaxSequenceBySpaceId" resultType="java.lang.Integer">
        SELECT MAX(position)
        FROM ${tablePrefix}unit_role
        WHERE space_id = #{spaceId}
          AND is_deleted = 0
    </select>

    <select id="selectCountByIdAndSpaceId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ${tablePrefix}unit_role
        WHERE id = #{id}
          AND space_id = #{spaceId}
          AND is_deleted = 0
    </select>

    <select id="selectCountBySpaceId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ${tablePrefix}unit_role
        WHERE space_id = #{spaceId}
          AND is_deleted = 0
    </select>

    <select id="selectBySpaceId"
            resultType="com.apitable.organization.dto.RoleInfoDTO">
        SELECT vur.id        as id,
               vu.id         as unitId,
               vur.role_name as role_name,
               vur.position  as position
        FROM ${tablePrefix}unit_role vur
                 JOIN ${tablePrefix}unit vu ON vur.id = vu.unit_ref_id
        WHERE vur.space_id = #{spaceId}
          AND vur.is_deleted = 0
          AND vu.is_deleted = 0
        ORDER BY position
    </select>

    <select id="selectRoleInfoDtoByIds"
            resultType="com.apitable.organization.dto.RoleInfoDTO">
        SELECT vur.id as id,
        vu.id as unitId,
        vur.role_name as role_name,
        vur.position as position
        FROM ${tablePrefix}unit_role vur
        JOIN ${tablePrefix}unit vu ON vur.id = vu.unit_ref_id
        WHERE vur.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND vur.is_deleted = 0
        AND vu.is_deleted = 0
    </select>

    <select id="selectRoleNameById"
            resultType="java.lang.String">
        SELECT role_name as role_name
        FROM ${tablePrefix}unit_role
        WHERE id = #{id}
          AND is_deleted = 0
    </select>

    <select id="selectIdsBySpaceIdAndLikeRoleName" resultType="java.lang.Long">
        SELECT id
        FROM ${tablePrefix}unit_role
        WHERE space_id = #{spaceId}
          AND is_deleted = 0
          AND role_name LIKE CONCAT('%', #{keyword}, '%')
        LIMIT 0,50
    </select>

    <select id="selectRoleBaseInfoDtoByIds"
            resultType="com.apitable.organization.dto.RoleBaseInfoDto">
        SELECT id, role_name, position
        FROM ${tablePrefix}unit_role
        WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectRoleInfoDtoByIdsAndSpaceId"
            resultType="com.apitable.organization.dto.RoleInfoDTO">
        SELECT vur.id as id,
        vu.id as unitId,
        vur.role_name as role_name,
        vur.position as position
        FROM ${tablePrefix}unit_role vur
        JOIN ${tablePrefix}unit vu ON vur.id = vu.unit_ref_id
        WHERE vur.id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND vur.space_id = #{spaceId}
        AND vur.is_deleted = 0
        AND vu.is_deleted = 0
    </select>

    <select id="selectBySpaceIdAndPage" resultType="com.apitable.organization.dto.RoleBaseInfoDto">
        SELECT id, role_name, position
        FROM ${tablePrefix}unit_role
        WHERE space_id = #{spaceId}
        AND is_deleted = 0
        ORDER BY position ASC
    </select>

    <select id="selectCountBySpaceIdAndRoleNameWithExceptId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ${tablePrefix}unit_role
        WHERE space_id = #{spaceId}
        AND role_name = #{roleName}
        AND id != #{roleId}
        AND is_deleted = 0
    </select>
</mapper>
