@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.container {
  background: #fff;
  width: 480px;
  text-align: center;
}

.desc1 {
  font-size: 16px;
  font-weight: bolder;
  margin: 26px 0 8px 0;

  span {
    color: var(--fc0);
    border-bottom: 1px solid var(--fc0);
  }
}

.qrCode {
  margin: 32px auto;
}

.linkButton{
  span{
    font-size: 16px;
  }
}
