.usingBtn {
  svg {
    margin-left: 8px;
    vertical-align: -0.125em;
  }
}


.customButton {
  height: 40px;
  color: white;
  border-radius: 6px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}