@import '~pc/styles/lib_var.less';
@import '~pc/styles/lib_mixins.less';


.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  user-select: none;
}

.addFirstNode {
  width: 400px;
  max-height: 480px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .imgWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}