@import "~pc/styles/lib_var.less";

.memberTag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 12px;
  height: 20px;
  padding: 0 4px;
  white-space: nowrap;
}
.primaryTag {
  color: var(--rainbowPurple5);
  background-color: var(--rainbowPurple1);
}
.subTag {
  color: var(--rainbowIndigo5);
  background-color: var(--rainbowIndigo1);
}
.inactiveTag {
  border: 1px solid var(--errorColor);
  color: var(--errorColor);
}
