<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.idaas.mapper.IdaasGroupBindMapper">
    <select id="selectAllBySpaceId" resultType="com.vikadata.entity.IdaasGroupBindEntity">
        SELECT *
        FROM ${tablePrefix}idaas_group_bind
        WHERE space_id = #{spaceId}
        AND is_deleted = 0
    </select>

    <select id="selectAllBySpaceIdIgnoreDeleted" resultType="com.vikadata.entity.IdaasGroupBindEntity">
        SELECT *
        FROM ${tablePrefix}idaas_group_bind
        WHERE space_id = #{spaceId}
    </select>
</mapper>
