@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.logoWrap {
  position: relative;
  background: transparent center center no-repeat;
  background-size: contain;
  padding: 43px 0;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 56px;
    height: 56px;
  }

  .bgWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .editIcon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    font-size: 24px;
    &:hover {
      opacity: 1;
    }
  }
}
