@import '~pc/styles/lib_var.less';
@import '~pc/styles/lib_mixins.less';
@import '~pc/styles/lib_screen.less';
// @inputWidth: 592px;
.inputEmail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inviteAlertWrapper {
    margin-right: 24px;
  }

  .itemWrapper {
    height: 328px;
    display: flex;
    flex-direction: column;
    @apply vk-space-y-3;
    .add svg {
      margin-right: 4px;
    }
  }
  .inputItem {
    display: flex;
    gap: 8px;
    align-self: stretch;
    flex-direction: column;
  }
  .inputItemBox {
    padding: 0px 2px;
    border-radius: 4px !important;
    background-color: var(--bgControlsDefault) !important;

    :global {
      .ant-input {
        background-color: transparent !important;
        // background-color: var(--bgControlsDefault) !important;
      }
    }
  }
  .inputItemBoxFocused {
    padding: 0px 2px;
    border-radius: 4px !important;
    border: 1px solid var(--borderBrandDefault);

    :global {
      .ant-input {
        background-color: transparent !important;
        // background-color: var(--bgControlsElevateDefault) !important;
      }
    }
  }
  .inputItemLeft {
    flex: 1;
  }
  .err {
    height: 20px;
    min-height: 20px;
    margin-top: 0;
    font-size: 12px;
    color: var(--errorColor);
  }
  .removeIcon {
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
  .removeIcon svg {
    width: 16px;
    height: 16px;
    fill: var(--fourthLevelText);
    &:hover {
      cursor: pointer;
    }
  }
  .inviteBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 24px;
    @apply vk-space-x-3;
  }

  :global {
    .ant-input {
      margin-bottom: 0;
    }
  }

  .invitedRes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .invitedContent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .successIcon {
      overflow: hidden;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 80px 0 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .successIcon {
      color: var(--primaryColor);
      border: 2px solid var(--primaryColor);
      svg {
        fill: var(--primaryColor) !important;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      color: var(--firstLevelText);
      text-align: center;
      margin-bottom: 115px;
      .gray {
        color: var(--thirdLevelText);
      }
    }
    .btnWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding-right: 24px;
      button:nth-of-type(2) {
        margin-left: 8px;
      }
    }
  }
}
@media screen and (min-width: @w-md) {
  .inputItem {
    width: calc(100% - 24px);
  }
}
@media screen and (max-width: @w-md) {
  .inviteBtn {
    margin-right: 0 !important;
    flex-direction: column-reverse;
    button {
      height: 48px;
      font-size: 14px;
    }
  }
  .tipText {
    background: none !important;
    color: var(--thirdLevelText) !important;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.emailEnterBox {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 4px;
  max-height: 150px;
  overflow: auto;

  :active {
    background-color: var(--bgControlsElevateDefault) !important;
  }
}

.emailEnteredItem {
  display: flex;
  padding: 3px 4px 3px 8px;
  margin: 0.25rem;
  align-items: center;
  gap: 4px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--lineColor);
  background: var(--bgControlsElevateHigh);
  color: var(--firstLevelText);
}

.emailEnterBoxText {
  font-size: 12px;
}

.emailEnterBoxDeleteIcon {
  fill: var(--textCommonPrimary);
  cursor: pointer;
  display: flex;
  width: 16px;
  height: 16px;
  padding: 2px;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--bgBglessHover);
  }

  &:active {
    background-color: var(--bgBglessActive);
  }
}
