@import '../../../styles/lib_colors.css';

// Size
@size-base: 36px;
@size-small: 32px;
@operation-size: 36px;
@height-base: 36px;
@height-small: 24px;
@spacing-large: 16px;
@spacing-lx: 24px;
@spacing-base: 8px;
@spacing-small: 4px;
@line-height-base: 180%;
@font-size-base: 16px;


// Color
@bg-color-hover: var(--defaultBg);
@bg-color-checked: var(--defaultBg);
@bg-color-purple: #e9e9f5;
@disabled-color: #eee;
@placeholder-color: #999;

@box-shadow-base: 0 0px 12px 0 rgba(26, 26, 26, 0.16);
@box-shadow-dark: 0 1px 7px 0 rgba(0, 0, 0, 0.2);

// Radius
@radius-small: 2px;
@radius-base: 4px;
@radius-large: 8px;

// transition-timing-function
@ttf: cubic-bezier(0.175, 0.885, 0.32, 1);