@import "~pc/styles/lib_var.less";
@import "~pc/styles/global_components/modal.less";

.accountCenter {
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  :global {
    .lgModal(650px);

    .ant-modal-header {
      padding-top: 24px;
      padding-bottom: 0px;
    }
    .ant-modal-content{
      display: flex;
      flex-direction: column;
    }
    .ant-modal-body {
      padding-left: 0px;
      flex: 1;
      overflow: hidden;
      padding-right: 0;
    }
  }
}

.accountCenterWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-top: 24px;
  .left {
    width: 240px;
    height: 100%;
    box-shadow: 1px 0px 0px 0px var(--shadowColor);
  }

  .right {
    height: 100%;
    flex: 1;
    overflow: hidden;
  }
}
