.emojiPopover {
  padding: 0 !important;

  :global {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      border-radius: 8px;
      overflow: hidden;
      .emoji-wrapper {
        background: transparent;
      }
    }

    .ant-popover-inner-content {
      padding: 0;
    }
  }
}
