@import "~pc/styles/lib_var.less";

.networkStatus {
  display: flex;
  align-items: center;
  height: 100%;

  .network {
    width: 36px;
    height: 36px;
  }

  svg {
    pointer-events: none;
    width: 36px !important;
    height: 36px !important;
  }
}