<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.social.service.dingtalk.mapper.SocialTenantUserMapper">
    <insert id="insertBatch">
        INSERT INTO vika_social_tenant_user(id, tenant_id, open_id, union_id)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.tenantId}, #{item.openId}, #{item.unionId}
            </trim>
        </foreach>
    </insert>

    <select id="selectCountByTenantIdAndOpenId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM vika_social_tenant_user
        WHERE tenant_id = #{tenantId}
        AND open_id = #{openId}
    </select>

    <delete id="deleteByTenantIdAndOpenId">
        DELETE FROM vika_social_tenant_user
        WHERE tenant_id = #{tenantId} AND open_id = #{openId}
    </delete>
</mapper>
