<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.modular.social.mapper.SocialTenantOrderMapper">
    <select id="selectCountByChannelOrderId" resultType="java.lang.Integer">
        SELECT count(*) FROM vika_social_tenant_order
        WHERE channel_order_id = #{channelOrderId}
        AND tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND platform = #{platform.value}
        AND is_deleted = 0
    </select>

    <select id="selectOrderDataByTenantIdAndAppId" resultType="java.lang.String">
        SELECT order_data FROM vika_social_tenant_order
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND platform = #{platform.value}
        AND is_deleted = 0
        ORDER BY id DESC
    </select>
</mapper>
