<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialWecomPermitOrderMapper">
    <select id="selectByOrderId" resultType="com.vikadata.entity.SocialWecomPermitOrderEntity">
        SELECT *
        FROM ${tablePrefix}social_wecom_permit_order
        WHERE order_id = #{orderId}
        AND is_deleted = 0
    </select>
    <select id="selectByOrderStatuses" resultType="com.vikadata.entity.SocialWecomPermitOrderEntity">
        SELECT *
        FROM ${tablePrefix}social_wecom_permit_order
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        AND order_status IN
        <foreach collection="orderStatuses" item="orderStatus" open="(" separator="," close=")">
            #{orderStatus}
        </foreach>
        AND is_deleted = 0
    </select>
</mapper>
