<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialDingTalkAppMapper">
    <insert id="insertOrUpdateBatch">
        INSERT INTO
        ${tablePrefix}social_dingtalk_app(id,suite_id,suite_secret,agent_id,token,aes_key,app_type,auth_corp_id,suite_ticket,created_by,updated_by)
        values
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id},#{item.suiteId},#{item.suiteSecret},#{item.agentId},#{item.token},#{item.aesKey},#{item.appType},#{item.authCorpId},#{item.suiteTicket},#{item.createdBy},#{item.updatedBy}
            </trim>
        </foreach>
        ON DUPLICATE KEY UPDATE
        suite_secret=values(suite_secret),token=values(token),aes_key=values(aes_key),suite_secret=values(suite_secret),suite_ticket=values(suite_ticket),updated_by=values(updated_by)
    </insert>
</mapper>
