<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialTenantDepartmentBindMapper">
    <insert id="insertBatch">
        INSERT INTO vika_social_tenant_department_bind(id, space_id, team_id, tenant_id, tenant_department_id, tenant_open_department_id)
            VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.spaceId}, #{item.teamId}, #{item.tenantId}, #{item.tenantDepartmentId}, #{item.tenantOpenDepartmentId}
            </trim>
        </foreach>
    </insert>

    <select id="selectTeamIdByTenantDepartmentId" resultType="java.lang.Long">
        SELECT team_id
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId} AND tenant_department_id = #{tenantDepartmentId} LIMIT 0,1
    </select>

    <select id="selectTeamIdsByTenantDepartmentId" resultType="java.lang.Long">
        SELECT team_id
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId} AND tenant_department_id IN
        <foreach collection="tenantDepartmentIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="selectByTenantId" resultType="com.vikadata.entity.SocialTenantDepartmentBindEntity">
        SELECT *
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId} GROUP BY tenant_department_id
    </select>

    <delete id="deleteByTenantDepartmentId">
        DELETE
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId}  AND tenant_department_id = #{tenantDepartmentId}
    </delete>

    <delete id="deleteBatchByTenantDepartmentId">
        DELETE
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId} AND tenant_department_id IN
        <foreach collection="tenantDepartmentIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByTenantId">
        DELETE
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId}
    </delete>

    <select id="selectSpaceTeamIdByTenantIdAndDepartmentId" resultType="java.lang.Long">
        SELECT team_id
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId}
        AND tenant_department_id = #{tenantDepartmentId}
    </select>

    <delete id="deleteBySpaceIdAndTenantIdAndDepartmentId">
        DELETE
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId}
        AND tenant_department_id = #{tenantDepartmentId}
    </delete>

    <select id="selectSpaceTeamIdsByTenantIdAndDepartmentId" resultType="java.lang.Long">
        SELECT team_id
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId} AND space_id = #{spaceId}
        AND tenant_department_id IN
        <foreach collection="tenantDepartmentIds" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByTenantIdAndSpaceId">
        DELETE
        FROM vika_social_tenant_department_bind
        WHERE tenant_id = #{tenantId}
        AND space_id = #{spaceId}
    </delete>
</mapper>
