<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialTenantMapper">
    <select id="selectTenantIdByAppId" resultType="java.lang.String">
        SELECT tenant_id
        FROM ${tablePrefix}social_tenant
        WHERE app_id = #{appId}
    </select>

    <select id="selectByAppIdAndTenantId"
            resultType="com.vikadata.entity.SocialTenantEntity">
        SELECT *
        FROM ${tablePrefix}social_tenant
        WHERE app_id = #{appId} AND tenant_id = #{tenantId}
    </select>

    <select id="selectCountByAppIdAndTenantId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}social_tenant
        WHERE app_id = #{appId}
        AND tenant_id = #{tenantId}
    </select>

    <update id="setTenantOpen">
        UPDATE ${tablePrefix}social_tenant
        SET status = 1
        WHERE app_id = #{appId}
        AND tenant_id = #{tenantId}
    </update>

    <update id="setTenantStop">
        UPDATE ${tablePrefix}social_tenant
        SET status = 0
        WHERE app_id = #{appId}
        AND tenant_id = #{tenantId}
    </update>

    <delete id="deleteByAppId">
        DELETE
        FROM ${tablePrefix}social_tenant
        WHERE app_id = #{appId}
    </delete>

    <update id="updateScopeByTenantId">
        UPDATE ${tablePrefix}social_tenant
        SET status = 1, contact_auth_scope = #{scope}
        WHERE tenant_id = #{tenantId}
    </update>

    <select id="selectCountByTenantId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}social_tenant
        WHERE tenant_id = #{tenantId}
    </select>

    <select id="selectAgentIdByTenantIdAndAppId" resultType="java.lang.String">
        SELECT auth_info ->> '$.appAuthInfo.agentId'
        FROM ${tablePrefix}social_tenant
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND status = 1
    </select>

    <select id="selectAuthScopeByTenantId" resultType="java.lang.String">
        SELECT contact_auth_scope
        FROM ${tablePrefix}social_tenant
        WHERE tenant_id = #{tenantId}
    </select>

    <update id="updateTenantStatus">
        UPDATE ${tablePrefix}social_tenant
        SET status = #{enabled}
        WHERE app_id = #{appId} AND tenant_id = #{tenantId}
    </update>

    <select id="selectTenantStatusByTenantIdAndAppId" resultType="java.lang.Integer">
        SELECT status
        FROM ${tablePrefix}social_tenant
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
    </select>

    <select id="selectIsvAgentIdByTenantIdAndAppId" resultType="java.lang.String">
        SELECT auth_info -> '$.authInfo.agent[*].agentid'
        FROM ${tablePrefix}social_tenant
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND status = 1
        AND platform = 2
        AND app_type = 2
    </select>

    <select id="selectByTenantIds" resultType="com.vikadata.entity.SocialTenantEntity">
        SELECT * FROM ${tablePrefix}social_tenant
        WHERE tenant_id IN
        <foreach item="item" index="index" collection="tenantIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND status = 1
    </select>

    <delete id="deleteByTenantId">
        DELETE FROM ${tablePrefix}social_tenant
        WHERE tenant_id = #{tenantId}
    </delete>

    <select id="selectByPlatformTypeAndAppType" resultType="com.vikadata.entity.SocialTenantEntity">
        SELECT *
        from ${tablePrefix}social_tenant
        WHERE platform = #{platformType.value}
        AND app_type = #{appType.type}
    </select>

    <select id="selectPermanentCodeByAppIdAndTenantId" resultType="java.lang.String">
        SELECT permanent_code
        FROM ${tablePrefix}social_tenant
        WHERE app_id = #{appId}
        AND tenant_id = #{tenantId}
        AND status = 1
    </select>

    <select id="selectCreatedAtByAppIdAndTenantId" resultType="java.time.LocalDateTime">
        SELECT created_at
        FROM ${tablePrefix}social_tenant
        WHERE app_id = #{appId}
        AND tenant_id = #{tenantId}
        AND status = 1
    </select>
</mapper>
