<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialCpIsvMessageMapper">
    <update id="updateStatusById">
        update vika_social_cp_isv_event_log
        set process_status = #{status}
        where id = #{id}
    </update>
</mapper>
