<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.social.mapper.SocialUserMapper">
    <insert id="insertBatch">
        INSERT INTO ${tablePrefix}social_user(id, union_id, platform)
            VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.unionId}, #{item.platform}
            </trim>
        </foreach>
    </insert>

    <select id="selectByUnionId" resultType="com.vikadata.api.enterprise.social.entity.SocialUserEntity">
        SELECT *
        FROM ${tablePrefix}social_user
        WHERE union_id = #{unionId}
        LIMIT 0,1
    </select>

    <delete id="deleteByUnionIds">
        DELETE FROM ${tablePrefix}social_user
        WHERE union_id IN
        <foreach item="item" index="index" collection="unionIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
