<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.scheduler.space.mapper.statistics.StatisticsMapper">
    <select id="selectApiUsageMaxId" resultType="java.lang.Long">
        SELECT MAX(id)
        FROM vika_api_usage
    </select>
</mapper>
