@import "~pc/styles/lib_var.less";

.navItem {
  height: 40px;
  line-height: 40px;
  padding-left: 60px;
  font-size: 14px;
  font-weight: normal;
  color: var(--secondLevelText);
  cursor: pointer;
}

.activeNavItem {
  color: var(--primaryColor);
  background-color: var(--rowSelectedBg);
}
