.cascader {
  width: 100% !important;
}

.cascaderHeader {
  display: flex;
  .cascaderHeaderItem {
    width: 160px;
    padding-left: 14px;
    line-height: 32px;
    font-weight: bold;
  }
}

.closeBtn {
  svg {
    fill: var(--textCommonTertiary);
  }
  &:hover {
    background-color: var(--bgBglessHover) !important;
  }
  &:active {
    background-color: var(--bgBglessActive) !important;
  }
}

.emptyPlaceholder {
  text-align: center;
  padding: 32px 16px;

  .img {
    width: 160px;
    height: 120px;
  }

  .title {
    font-size: 14px;
    color: var(--secondLevelText);
    margin-top: 8px;
  }
}
:global {
  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover,
  .ant-cascader-menu-item:hover {
    background-color: var(--bgBrandLightDefault) !important;
    color: var(--textBrandDefault);
    svg {
      fill: var(--textBrandDefault);
    }
  }
  .ant-select-selection-placeholder {
    padding-left: 8px;
    display: flex;
    align-items: center;
  }
  .ant-select-clear {
    background-color: transparent !important;
    top: 14px;
    right: 20px;
  }
  
  .ant-cascader-menu-item {
    width: 144px;
    margin: 2px 8px;
    border-radius: 4px;
    &-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .emptyPlaceholder {
        width: 160px;
        padding: 0;
      }
    }
  }

  .ant-select-selection-item {
    color: var(--firstLevelText) !important;
  }
}