<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.scheduler.space.mapper.template.TemplatePropertyRelMapper">
    <insert id="insertBatch">
        INSERT INTO vika_template_property_rel(id, template_id, property_id, property_order)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id},#{item.templateId},#{item.propertyId},#{item.propertyOrder}
            </trim>
        </foreach>
    </insert>
</mapper>
