@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.cellAutoNumber {
  display: block;
  padding: 3px 10px;
  line-height: 24px;
  flex-grow: 1;
  .ellipsis();
}

.autoNumberWrapper {
  flex: 1;
}
