@import "~pc/styles/lib_var.less";
@import "~pc/styles/lib_mixins.less";

.submitInviteCode {
  height: 326px;

  .topImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 24px;
    height: 130px;
  }

  .desc {
    margin-bottom: 16px;
    text-align: center;
    white-space: pre-line;
  }

  .form {
    margin: 0 auto 28px;
    width: 336px;

    .submitBtn {
      margin-top: 8px;
    }
  }

  .bottomTip {
    font-size: 12px;
    line-height: 18px;
    color: var(--fc2);

    .btn {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
