@import "~pc/styles/lib_var.less";

.contextMenuWrapper {
  width: 220px;
  background: var(--defaultBg);
  padding: 4px 0;
  z-index: var(--contextmenu);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1), 0 -1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  transform: translate(8px, 8px);
}

.divider {
  margin: 4px auto !important;
  width: calc(100% - 32px) !important;
}
