<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.billing.mapper.OrderPaymentMapper">
    <select id="selectByTransactionId"
            resultType="com.vikadata.entity.OrderPaymentEntity">
        SELECT * FROM vika_billing_order_payment
        WHERE payment_transaction_id = #{payTransactionId} AND is_deleted = 0
    </select>

    <select id="selectByOrderId"
            resultType="com.vikadata.entity.OrderPaymentEntity">
        SELECT * FROM vika_billing_order_payment
        WHERE order_id = #{orderId} AND is_deleted = 0
    </select>
</mapper>