<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.modular.finance.mapper.OrderMapper">
    <select id="selectByOrderId" resultType="com.vikadata.entity.OrderEntity">
        SELECT *
        FROM vika_billing_order
        WHERE order_id = #{orderId}
        AND is_deleted = 0
    </select>

    <select id="selectOrderBySpaceIdChannelOrderId" resultType="java.lang.String">
        SELECT order_id FROM vika_billing_order
        WHERE space_id = #{spaceId}
        AND channel_order_id = #{channelOrderId}
    </select>

    <select id="selectByOrderIds" resultType="com.vikadata.entity.OrderEntity">
        SELECT * FROM vika_billing_order
        WHERE order_id IN
        <foreach item="item" index="index" collection="orderIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectBySpaceIdAndOrderType"
            resultType="com.vikadata.entity.OrderEntity">
        SELECT * FROM vika_billing_order
        WHERE space_id = #{spaceId} AND order_type = #{orderType} AND is_deleted = 0
    </select>
</mapper>