<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.api.enterprise.billing.mapper.SocialFeishuOrderMapper">
    <select id="selectStatusByOrderId" resultType="java.lang.Integer">
        SELECT status
        FROM vika_billing_social_feishu_order
        WHERE order_id = #{orderId}
        AND tenant_id = #{tenantId}
        AND app_id = #{appId}
    </select>

    <select id="selectOrderDataByTenantIdAndAppId" resultType="java.lang.String">
        SELECT order_data
        FROM vika_billing_social_feishu_order
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND `status` = 0;
    </select>

    <update id="updateStatusByTenantIdAndAppIdAndOrderId">
        UPDATE vika_billing_social_feishu_order
        SET `status` = #{status}
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND `order_id` = #{orderId};
    </update>
</mapper>