<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.bill.mapper.MemberMapper">

    <select id="selectUserIdById" resultType="java.lang.Long">
        SELECT user_id
        FROM vika_unit_member
        WHERE id = #{id}
    </select>
</mapper>
