<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.bill.mapper.PlayerNotificationMapper">
    <insert id="insertBatch">
        INSERT INTO vika_player_notification(id, space_id, from_user, to_user,
        template_id, notify_type, notify_body)
        VALUE
        <foreach item="entity" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{entity.id}, #{entity.spaceId}, #{entity.fromUser}, #{entity.toUser},
                #{entity.templateId}, #{entity.notifyType}, #{entity.notifyBody}
            </trim>
        </foreach>
    </insert>
</mapper>
