<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.bill.mapper.UserIntegralMapper">
    <select id="selectByPhone" resultType="com.vikadata.entity.UserEntity">
        SELECT *
        FROM vika_user
        WHERE mobile_phone = #{phone}
          AND is_deleted = 0
        LIMIT 0, 1
    </select>

    <insert id="insertHistory">
        INSERT INTO vika_integral_history(id, user_id, action_code, origin_integral, alter_type,  alter_integral, total_integral,
                                          parameter, created_by, updated_by)
            VALUE (#{entity.id}, #{entity.userId}, #{entity.actionCode}, #{entity.originIntegral},#{entity.alterType},
                   #{entity.alterIntegral}, #{entity.totalIntegral}, #{entity.parameter}, #{entity.createdBy},
                   #{entity.updatedBy})
    </insert>

    <select id="selectTotalIntegralValueByUserId" resultType="java.lang.Integer">
        SELECT total_integral
        FROM vika_integral_history
        WHERE user_id = #{userId}
        ORDER BY id DESC
        LIMIT 0,1
    </select>

    <insert id="insertBatch">
        INSERT INTO vika_integral_history(id, user_id, action_code, origin_integral,
        alter_type, alter_integral, total_integral, parameter, created_by, updated_by)
        VALUE
        <foreach item="entity" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{entity.id}, #{entity.userId}, #{entity.actionCode},
                #{entity.originIntegral}, #{entity.alterType},
                #{entity.alterIntegral}, #{entity.totalIntegral},
                #{entity.parameter}, #{entity.createdBy},#{entity.updatedBy}
            </trim>
        </foreach>
    </insert>

    <select id="selectDTOByMobilePhone"
            resultType="com.vikadata.scheduler.bill.model.UserDTO">
        SELECT id AS userId, mobile_phone, email
        FROM vika_user
        WHERE mobile_phone IN
        <foreach item="item" index="index" collection="phones" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectDTOByEmail" resultType="com.vikadata.scheduler.bill.model.UserDTO">
        SELECT id AS userId, mobile_phone, email
        FROM vika_user
        WHERE email IN
        <foreach item="item" index="index" collection="emails" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>
</mapper>
