<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.space.mapper.space.SpaceMemberRoleRelMapper">

    <select id="selectRoleCodeBySpaceIds" resultType="java.lang.String">
        SELECT role_code
        FROM vika_space_member_role_rel
        WHERE space_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="delBySpaceIds">
        DELETE
        FROM vika_space_member_role_rel
        WHERE space_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
