<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vikadata.api.player.mapper.PlayerActivityMapper">

    <select id="selectActionsByUserId" resultType="java.lang.String">
        SELECT actions
        FROM ${tablePrefix}player_activity
        WHERE user_id = #{userId}
    </select>

    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tablePrefix}player_activity
        WHERE user_id = #{userId}
    </select>

    <select id="selectActionsVal" resultType="java.lang.Object">
        SELECT JSON_EXTRACT(actions, CONCAT('$.', #{key}))
        FROM ${tablePrefix}player_activity
        WHERE user_id = #{userId}
    </select>

    <update id="updateActionsByJsonSet">
        UPDATE ${tablePrefix}player_activity
        SET actions = JSON_SET(actions, CONCAT('$.', #{key}), #{value})
        WHERE user_id IN
        <foreach collection="userIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateActionsReplaceByUserId">
        UPDATE ${tablePrefix}player_activity
        SET actions = JSON_REPLACE(actions, CONCAT('$.', #{key}), #{value})
        WHERE user_id = #{userId}
    </update>

    <update id="updateActionsRemoveByUserId">
        UPDATE ${tablePrefix}player_activity
        SET actions = JSON_REMOVE(actions, CONCAT('$.', #{key}))
        WHERE user_id = #{userId}
    </update>

    <update id="updateActionsByUserId">
        UPDATE ${tablePrefix}player_activity
        SET actions = #{act}
        WHERE user_id = #{userId}
    </update>
</mapper>
