.operation {
  position: absolute;
  top: 50%;
  left: -@operation-size;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: @operation-size;
  height: @operation-size;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  user-select: none !important;
}