@import "~pc/styles/lib_var.less";

div.phoneInput {
  padding-left: 0;

  .areaCodeSelect {
    border: 0;
    background: transparent;
  }

  .line {
    height: 16px;
    width: 1px;
    background-color: var(--fourthLevelText);
    margin-right: 8px;
  }
}
