<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vikadata.scheduler.space.mapper.organization.TeamMemberRelMapper">

    <delete id="deleteByTeamIds">
        DELETE FROM vika_unit_team_member_rel
        WHERE team_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
