.loginWrap {
  position: relative;
  .inputWrap {
    .inputTitle {
      padding-bottom: 4px;
    }
    .input {
      background: var(--bgControlsDefault);
      input {
        color: var(--textCommonPrimary);
        &::placeholder {
          color: var(--textCommonQuaternary);
        }
      }
    }
  }
  .loginBtn {
    margin: 40px 0 16px;
  }
  .forgetPassword {
    cursor: pointer;
  }
}