@import '~pc/styles/lib_var.less';
@import '~pc/styles/lib_mixins.less';

.gridViewContainer {
  width: 100%;
  height: 100%;
  position: relative;

  canvas {
    .noSelect();
  }
}

.verticalScrollBarWrapper,
.horizontalScrollBarWrapper {
  position: absolute;
  will-change: transform;
  cursor: pointer;

  .verticalScrollBarInner,
  .horizontalScrollBarInner {
    position: absolute;
  }

  .lx-scroll-bar(true);
}

.verticalScrollBarWrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 18px;
  right: 0;
}

.horizontalScrollBarWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 18px;
  bottom: 0;
}

.domGrid {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  :global(.multiText) {
    border: 2px solid var(--primaryColor);
    box-sizing: content-box;
    margin: -2px;
    border-radius: 4px;
  }

  .microWrapper {
    position: fixed;
    background: var(--defaultBg);
    box-shadow: 1px 1px 10px #e1e2e9;
    z-index: 20;
  }
}

.tooltip {
  display: flex;

  .frozenBtn {
    margin: 1px 8px 0 24px;
    height: 18px;
    color: var(--white);
    border-bottom: 1px solid var(--white);
    font-size: 12px !important;
  }

  .closeBtn {
    cursor: pointer;
  }
}
